.map-item__banner {
  display: block;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}
.map-item__header {
  position: relative;
  margin-bottom: 20px;
  text-indent: 15px;
  &:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
    width: 6px;
    height: 22px;
    background: #cf010e;
  }
  .header-title {
    font-size: 22px;
    font-weight: bold;
  } 
}

.map-item__body {
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  min-height: 600px;
  background: #FFFFFF;
  .main-part {
    padding: 30px 60px 30px 30px;
    height: 100%;
    .main-part__chart {
      width: 100%;
      height: 100%;
    }
  }
  .minor-part {
    padding: 30px 15px 0 15px;
    border-left: 1px solid  #F2F2F2;
    height: 100%;
    .minor-part__title {
      margin-bottom: 30px;
      text-align: center;
      font-size: 20px;
      color: #000000;
      font-weight: 400;
      .minor-part__num {
        color: #d00814;
      }
    }
    .minor-part__chart {
       height: 500px;
    }
  }
  .study-situation {
    height: 100%;
  }
}

.map-item__body--600 {
  height: 600px;
}

.map-item__body {
  .map-item__row {
    margin-bottom: 13px;
    width: 100%;
    height: 48px;
    background: #ffffff;
    .item {
      float: left;
      padding-left: 10px; 
      font-size: 16px;
      color: #616161;
      line-height: 16px;
      .rank {
        display: inline-block;
        margin-top: 8px;
        width: 32px;
        height: 32px;
        line-height: 32px;
        border-radius: 50%;
        color: #e20014;
        background: rgba(193, 193, 193, 0.2);
      }
    }
  }
  .map-item__row--title {
    background: rgba(207, 1, 14, 0.8);
    .item {
      font-weight: bold;
      color: #ffffff;
    } 
  }
  .map-item__row--first {
    .item {
      color: #E20014;
      font-weight: bold;
    }
  }
  .map-item__row--second {
    .item {
      color: #E20014;
      font-weight: bold;
    }
  }
  .map-item__row--third {
    .item {
      color: #E20014;
      font-weight: 500;
    }
  }
}

.map-item__description {
  margin-bottom: 22px;
  .map-item__text {
    font-size: 18px;
    color: #616161;
    .map-item__num {
      color: #e52e3f;
      font-size: 22px;
      font-weight: 600;
    }
  }
}