{% extends 'user/layout.html.twig' %}
{% import 'macro.html.twig' as macro %}

{% block title %}预约就诊记录-{{ parent() }}{% endblock %}

{% set pageNav = type %}

{% block main %}
  <form id="activity-search-form" class="form-inline well well-sm" action="" method="get" novalidate>
    <div class="mbm">
      <div class="form-group">
        <select id="status" name="status" class="form-control">
          {{ select_options(dict('activityStatus'), app.request.query.get('status') , '--活动状态--') }}
        </select>
      </div>
      <div class="form-group">
        <select id="type" name="targetType" class="form-control">
          {{ select_options(dict('activityType'), app.request.query.get('targetType') , '--类别--') }}
        </select>
      </div>
    </div>
    <div class="form-group">
      <select id="keywordType" name="keywordType" class="form-control">
        {{ select_options(dict('announcementKeyWordType'), app.request.query.get('keywordType') ? app.request.query.get('keywordType') : 'title') }}
      </select>
    </div>

    <div class="form-group">
      <input type="text" id="keyword" name="keyword" class="form-control" value="{{ app.request.query.get('keyword') }}"
             placeholder="{{ 'admin.user.form.input_placeholder.keyword'|trans }}">
    </div>

    <button class="btn btn-primary">{{ 'admin.user.form.btn.search_submit_btn'|trans }}</button>
  </form>

  <table id="user-table" class="table table-striped table-hover" data-search-form="#user-search-form">
    <thead>
    <tr>
      <th>标题</th>
      <th>类别</th>
      <th>开始时间</th>
      <th>结束时间</th>
      <th>状态</th>
      <th width="10%">{{ 'admin.user.fields.operation_label'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    <p class="text-muted">
      <span class="mrl">{{ '总数'|trans }}<strong class="inflow-num color-primary">{{ activityCount }}</strong></span>
    </p>
    {% for activity in activities %}
      <tr id="user-table-tr-{{ activity.id }}">
        <td>
          {{ activity.title }}
        </td>
        <td>
          {{ activity.type|default('--') }}
        </td>

        <td>
          {{ activity.startTime|date('Y-m-d H:i') }}
        </td>

        <td>
          {{activity.endTime|date('Y-m-d H:i') }}
        </td>

        <td>
          {% if date() < date(activity.startTime) %}
            {{'admin.operation_announcement.status.readyStart'|trans}}
          {% elseif date() > date(activity.endTime) %}
            已结束
          {% else %}
            {{'admin.operation_announcement.status.display'|trans}}
          {% endif %}
        </td>

        <td>
          <div class="btn-group">
            <a href="{{ path('my_community_activity_show', {id:activity.id}) }}" target="_blank" class="btn btn-default btn-sm">{{ '预览'|trans }}
            </a>
            <div class="btn-group" role="group">
              <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
              </ul>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% if activities|length <= 0 %}
    <div class="empty">
      暂未记录
    </div>
  {% endif %}


  {{ macro.paginator(paginator) }}
{% endblock %}