{% extends 'layout.html.twig' %}

{% block title %}{{'完善信息'|trans}} - {{ parent() }}{% endblock %}

{% do script(['libs/bootstrap-datetimepicker.js', 'libs/jquery-validation.js', 'custombundle/js/user/fill-info/index.js']) %}

{% block content %}
  <div class="row">
    <div class="col-md-7 self-md-offset information-table">
      <div class="information-table__header">
        <h3>请完善资料，让我们更好的为您服务</h3>
      </div>
      <form id="fill-userinfo-form" class="form-horizontal" method="post" action="{{path('login_after_fill_userinfo', {goto:goto})}}">
        {{ web_macro.flash_messages() }}
        {% set userinfo_enable = setting('auth.fill_userinfo_after_login')|default(false) %}
        {% set checkedFields = setting('auth.registerSort')|default([]) %}
        {% include '@Custom/user/fill-userinfo-fields-block.html.twig' with {isBuyFillUserinfo:userinfo_enable, userinfoFieldsSetting:checkedFields, userFields:userFields, user:user, showNavTip:0} %}
        <div class="form-group mtb60">
          <div class="controls text-center">
            <button type="submit" id="fill-userinfo-form-btn" data-loading-text="{{'form.btn.submit.submiting'|trans}}" class="information-btn">{{'form.btn.save'|trans}}</button>
          </div>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
      </form>
    </div>
  </div>
{% endblock %}
{% block esBar %}{% endblock %}
