{% if isBuyFillUserinfo|default(false) %}
  {% if userinfoFieldsSetting %}
    {% if showNavTip|default(true) %}
      <div class="help-block">{{ 'user.approve_tips'|trans }}</div>
      <hr>
    {% endif %}

    <div class="information-table__body">
      <div class="personal-information">
        <div class="information-title">
          个人信息
        </div>

        <div class="form-group">
          <label class="col-sm-2 col-xs-4 form-group__label mt40">
            个人头像:
          </label>
          <div class="col-sm-5 col-xs-7 controls">
            <div class="cd-image-upload image-size-limit">
              <img class="image-size-limit" id="profile-avatar" src="{{ filepath(app.user.largeAvatar, 'avatar.png') }}">
              <div class="image-upload-mask">
                <div class="image-upload-content">
                  <i class="cd-icon cd-icon-camera fz-32"></i>
                  {{'user.settings.basic_info.shange_avatar'|trans}}
                </div>
              </div>
              {% include 'common/local-crop-image.html.twig' with {
              saveUrl: 'settings_profile_avatar_crop_modal',
              targetImg: '#profile-avatar',
              cropWidth: '60',
              cropHeight: '60'
              } %}
            </div>
          </div>
        </div>

        <div class="form-group" id="nickname-form-group">
          <label class="col-sm-2 col-xs-4 form-group__label" for="nickname"><i class="mr5 color-danger">*</i>{{'user.fields.username_label'|trans}}:</label>
          <div class="col-sm-5 col-xs-7 controls">
            <div class="static-text input-edit__static-dom form-control-static js-show-nickName">
              <span class="input-edit__static-text">{{app.user.nickname}}</span>
              {% if setting('user_partner.nickname_enabled') %}
                <i class="cd-icon cd-icon-edit cd-icon-hover input-edit__edit-btn"></i>
              {% endif %}
            </div>
            <div class="input-edit__edit-dom" style="display:none">
              <input data-url="{{path ('update_nickname_check') }}" name="nickname" id="nickname" type="text" class="form-control input-edit__input" value="{{app.user.nickname}}">
              <div class="action-button mt10">
                <button type="button"
                        class="btn cd-btn cd-btn-primary input-edit__save-btn js-nickName-show"
                        data-input-name="nickname"
                        data-url="{{ path('setting_nickname') }}"
                        data-loading-text="{{'form.btn.save.submiting'|trans}}">
                  {{'form.btn.save'|trans}}
                </button>
                <button type="button"
                        class="btn cd-btn cd-btn-flat-default input-edit__cancel-btn js-nickName-show">
                  {{'form.btn.cancel'|trans}}
                </button>
              </div>
            </div>
          </div>
        </div>



        {% for field in userinfoFieldsSetting %}
          {% set defaultFields = dict('userInfoFields') %}

          {% if field == 'truename' %}
            <div class="form-group">
              <label class="col-sm-2 form-group__label" for="truename">
                <i class="mr5 color-danger">*</i>{{ defaultFields.truename }}:
              </label>
              <div class="col-sm-5 controls">
                {% if app.user.approvalStatus == 'approved' and user.truename %}
                  <div class="form-control-static">{{ user.truename }}
                    <small class="color-success">({{ 'user.approved'|trans }})</small>
                  </div>
                {% elseif app.user.approvalStatus == 'approving' and user.truename %}
                  <div class="form-control-static">{{ user.truename }}
                    <small class="text-warning">({{ 'user.approving'|trans }})</small>
                  </div>
                {% else %}
                  <input class="form-control" id="truename" type="text" name="truename" value="{{ user.truename }}" placeholder="请输入真实姓名">
                {% endif %}
              </div>
            </div>
          {% endif %}

          {% if field == 'email' %}
            <div class="form-group">
              <label class="col-sm-2 col-xs-4 form-group__label" for="email">
                {{ defaultFields.email }}:
              </label>
              <div class="col-sm-5 col-xs-7 controls">
                {% set emailArr = app.user.email|split('@') %}
                {% if emailArr[1] != 'edusoho.net' %}
                  <div class="form-control-static">{{ app.user.email }}</div>
                {% else %}
                  <input class="form-control" id="email" type="text" name="email" value="" placeholder="请输入邮箱" data-url="{{ path('register_email_check') }}"/>
                {% endif %}
              </div>
            </div>
          {% endif %}

          {% if field == 'mobile' %}
            <div class="form-group {% if app.user.verifiedMobile|default('') is empty and setting('auth.mobileSmsValidate')|default(0) and setting('auth.fill_userinfo_after_login')|default(0) %}mbm{% endif %}">
              <label class="col-sm-2 form-group__label" for="mobile">
                <i class="mr5 color-danger">*</i>{{ defaultFields.mobile }}:
              </label>
              <div class="col-sm-5 controls">
                {% if app.user.verifiedMobile|default('') %}
                  <div class="form-control-static">{{ blur_phone_number(app.user.verifiedMobile) }}
                    <small class="color-success">({{ 'user.mobile_bind'|trans }})</small>
                  </div>
                {% else %}
                  <input class="form-control" id="mobile" type="text" name="mobile" value="{{ user.mobile }}" data-url="{{ path('register_mobile_check') }}" placeholder="请输入手机号码">
                {% endif %}
              </div>
            </div>
            {% if app.user.verifiedMobile|default('') is empty and setting('auth.fill_userinfo_after_login')|default(0) and setting('auth.mobileSmsValidate')|default(0) %}
              <div class="form-group mbs js-captch-num">
                <label class="col-sm-2 col-xs-5 form-group__label"></label>
                <div class="col-sm-3 col-xs-7 controls">
                  <input type="text" class="form-control input-md" id="captcha_num" name="captcha_num" maxlength="5" placeholder="{{'user.register.account_with_sms_code_label'|trans}}" required="required"  data-url="{{path('register_captcha_check')}}" >
                  <div class="help-block"></div>
                </div>
                <div class="col-sm-2 controls">
                  <img src="{{ path('register_captcha_num') }}" data-url="{{ path('register_captcha_num') }}" id="getcode_num" title="{{'user.settings.security.change_captcha_code'|trans}}" style="cursor:pointer;height:34px;width:100%">
                </div>
              </div>
              <div class="form-group js-sms-code">
                <label class="col-sm-2 form-group__label"></label>
                <div class="col-sm-3 controls">
                  <input type="text" id="sms-code" name="sms_code" class="form-control" value="" data-url="{{ path('edu_cloud_sms_check', {type:'sms_bind'}) }}">
                </div>
                <div class="col-sm-3 controls">
                  <a class="btn btn-default btn-sm js-sms-send disabled" data-sms-url="{{ path('edu_cloud_sms_send') }}">
                    <span id="js-time-left"></span>
                    <span id="js-fetch-btn-text">{{ 'user.settings.security.get_sms_code_btn'|trans }}</span>
                  </a>
                </div>
              </div>
            {% endif %}
          {% endif %}

          {% if field == 'qq' %}
            <div class="form-group">
              <label class="col-sm-2 form-group__label" for="qq"><i class="mr5 color-danger">*</i>{{ defaultFields.qq }}:</label>
              <div class="col-sm-5 controls">
                <input class="form-control" id="qq" type="text" name="qq" value="{{ user.qq }}" placeholder="请输入QQ号">
              </div>
            </div>
          {% endif %}

          {% if field == 'job' %}
            <div class="form-group">
              <label class="col-sm-2 form-group__label required" for="job">
                <i class="mr5 color-danger">*</i>{{ defaultFields.job }}
              </label>
              <div class="col-sm-5 controls">
                <input class="form-control" id="job" type="text" name="job" value="{{ user.job }}">
              </div>
            </div>
          {% endif %}

          {% if field == 'idcard' %}
            <div class="form-group">
              <label class="col-sm-2 form-group__label required" for="idcard">
                <i class="mr5 color-danger">*</i>{{ defaultFields.idcard }}:
              </label>
              <div class="col-sm-5 controls">
                {% if app.user.approvalStatus == 'approved' and user.idcard %}
                  <div class="form-control-static">{{ blur_idcard_number(user.idcard) }}
                    <small class="color-success">({{ 'user.approved'|trans }})</small>
                  </div>
                {% elseif app.user.approvalStatus == 'approving' and user.idcard %}
                  <div class="form-control-static">{{ blur_idcard_number(user.idcard) }}
                    <small class="text-warning">({{ 'user.approving'|trans }})</small>
                  </div>
                {% else %}
                  <input type="text" id="idcard" name="{{ field }}" class="form-control" value="{{ user.idcard }}" placeholder="请输入身份证号码">
                {% endif %}
              </div>
            </div>
          {% endif %}

          {% if field == 'gender' %}
            <div class="form-group">
              <label class="col-sm-2 col-xs-5 form-group__label required" for="gender"><i class="mr5 color-danger">*</i>{{ defaultFields.gender }}:</label>
              <div class="col-sm-5 col-xs-7">
                <div class="checkbox-inline" style="padding-left: 0">
                  <input type="radio" id="gender_0" name="gender" value="male"
                         {% if user.gender=="male" %}checked=true{% endif %}>
                  <span for="profile_gender_0" class="required mrl">{{ 'user.fields.gender.male'|trans }}</span>
                  <input type="radio" id="gender_1" name="gender" value="female"
                         {% if user.gender=="female" %}checked=true{% endif %}>
                  <span for="profile_gender_1" class="required">{{ 'user.fields.gender.female'|trans }}</span>
                </div>
              </div>
            </div>
          {% endif %}

          {% if field == 'weixin' %}
            <div class="form-group">
              <label class="col-sm-2 form-group__label required" for="weixin"><i class="mr5 color-danger">*</i>{{ defaultFields.weixin }}:</label>
              <div class="col-sm-5 controls">
                <input type="text" id="weixin" name="{{ field }}" class="form-control" value="{{ user.weixin }}" placeholder="请输入微信号">
              </div>
            </div>
          {% endif %}

          {% if field == 'weibo' %}
            <div class="form-group">
              <label class="col-sm-2 form-group__label required" for="weibo"><i class="mr5 color-danger">*</i>{{ defaultFields.weibo }}:</label>
              <div class="col-sm-5 controls">
                <input type="text" id="weibo" name="{{ field }}" class="form-control" value="{{ user.weibo }}">
              </div>
            </div>
          {% endif %}

          {% for userField in userFields %}
            {% if field == userField.fieldName %}
              {% if userField.type=="text" %}
                <div class="form-group">
                  <label for="{{ userField.fieldName }}" class="col-sm-2 form-group__label ">{{ userField.title }}</label>
                  <div class="col-sm-5 controls">
                    <textarea id="{{ userField.fieldName }}" name="{{ userField.fieldName }}" class="field-{{ userField.type }} form-control"
                              data-image-upload-url="{{ path('editor_upload', {token:upload_token('user')}) }}">{{ user[userField.fieldName]|default('') }}</textarea>
                    <div class="help-block" style="display:none;"></div>
                  </div>
                </div>
              {% elseif userField.type=="int" %}
                <div class="form-group">
                  <label for="{{ userField.fieldName }}" class="col-sm-2 form-group__label">{{ userField.title }}</label>
                  <div class="col-sm-5 controls">
                    <input type="text" id="{{ userField.fieldName }}" placeholder="{{ 'site.validate_rules.max_int'|trans }}"
                           name="{{ userField.fieldName }}" class="{{ userField.type }}  form-control" data-widget-cid="widget-5" data-explain="" value="{{ user[userField.fieldName]|default('') }}">
                    <div class="help-block" style="display:none;"></div>
                  </div>
                </div>
              {% elseif userField.type=="float" %}
                <div class="form-group">
                  <label for="{{ userField.fieldName }}" class="col-sm-2 form-group__label">{{ userField.title }}</label>
                  <div class=" col-sm-5 controls">
                    <input type="text" id="{{ userField.fieldName }}" placeholder="{{ 'site.validate_rules.two_decimal_places'|trans }}"
                           name="{{ userField.fieldName }}" class="{{ userField.type }} form-control" data-widget-cid="widget-5" data-explain="" value="{{ user[userField.fieldName]|default('') }}">
                    <div class="help-block" style="display:none;"></div>
                  </div>
                </div>
              {% elseif userField.type=="date" %}
                <div class="form-group">
                  <label for="{{ userField.fieldName }}" class="col-sm-2 form-group__label">
                    {{ userField.title }}:
                  </label>
                  <div class=" col-sm-5 controls">
                    <input type="text" id="{{ userField.fieldName }}" name="{{ userField.fieldName }}" class="{{ userField.type }}  form-control"
                           data-widget-cid="widget-5" data-explain="" value="{{ user[userField.fieldName]|default('') }}">
                    <div class="help-block" style="display:none;"></div>
                  </div>
                </div>
              {% elseif userField.type=="varchar" %}
                <div class="form-group">
                  <label for="{{ userField.fieldName }}" class="col-sm-2 form-group__label">
                    {{ userField.title }}:
                  </label>
                  <div class="col-sm-5  controls">
                    <input type="text" id="{{ userField.fieldName }}" name="{{ userField.fieldName }}" class="form-control"
                           data-widget-cid="widget-5" data-explain="" value="{{ user[userField.fieldName]|default('') }}">
                    <div class="help-block" style="display:none;"></div>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>

      <div class="company-information">
        <div class="information-title">
          社区信息
        </div>

        <div class="form-group form-inline">
          <label class="col-md-2 form-group__label">
            <i class="mr5 color-danger">*</i>地区:
          </label>
          <div class="col-md-9 controls distpicker drop-down-box">
            <div class="form-control select--r12 inline-block w-100">
              <select class="select-box" id="province" name="province" data-province="{{ user.province }}"></select>
            </div>
            <div class="form-control select--r12 inline-block w-100">
              <select class="select-box" id="city" name="city" data-city="{{ user.city }}"></select>
            </div>
            <div class="form-control select--r12 inline-block w-100">
              <select class="select-box" id="district" name="district" data-district="{{ user.district }}"></select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 form-group__label" for="community">
            <i class="mr5 color-danger">*</i>所在社区:
          </label>
          <div class="col-sm-5 controls">
            <input type="text" id="community" name="community"
                   class="form-control" value="{{ user.community }}"
                   placeholder="请输入所在社区全称" data-auto-url="{{ path('fill_userinfo_community_match') }}"
                   data-display="请输入所在社区全称"
                   data-widget-cid="widget-2"
                   data-explain=""
                   autocomplete="off">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 form-group__label" for="housingEstate">
            <i class="mr5 color-danger">*</i>所在小区:
          </label>
          <div class="col-sm-5 controls">
            <input type="text" id="housingEstate" name="housingEstate"
                   class="form-control" value="{{ user.housingEstate }}"
                   placeholder="请输入所在小区/住宅区全称" data-auto-url="{{ path('fill_userinfo_housing_estate_match') }}"
                   data-display="请输入所在小区/住宅区全称"
                   data-widget-cid="widget-2"
                   data-explain=""
                   autocomplete="off">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 form-group__label" for="address">
            <i class="mr5 color-danger">*</i>详细地址:
          </label>
          <div class="col-sm-5 controls">
            <input id="address" name="address"
                   class="form-control"
                   placeholder="详细地址" data-auto-url="{{ path('fill_userinfo_address_match') }}"
                   data-display="详细地址"
                   data-widget-cid="widget-2"
                   data-explain=""
                      autocomplete="off" value="{{ user.address }}">
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
