{% extends 'user/layout.html.twig' %}
{% import 'macro.html.twig' as macro %}

{% block title %}预约就诊记录-{{ parent() }}{% endblock %}

{% set pageNav = type %}

{% block main %}

  <form id="clinic-search-form" class="form-inline well well-sm" action="" method="get" novalidate>
    <div class="mbm">
      <div class="form-group">
        <select id="keywordType" name="keywordType" class="form-control">
          {{ select_options(dict('reservationKeywordType'), app.request.query.get('keywordType') ? app.request.query.get('keywordType') : 'nickname') }}
        </select>
      </div>

      <div class="form-group">
        <input type="text" id="keyword" name="keyword" class="form-control" value="{{ app.request.query.get('keyword') }}"
               placeholder="{{ 'admin.user.form.input_placeholder.keyword'|trans }}">
      </div>

      <div class="form-group">
        <select id="status" name="status" class="form-control">
          {{ select_options(dict('reservationStatus'), app.request.query.get('status')|default(''), '预约状态') }}
        </select>
      </div>

      <button class="btn btn-primary">{{ 'admin.user.form.btn.search_submit_btn'|trans }}</button>

    </div>
  </form>

  <table id="user-table" class="table table-striped table-hover" data-search-form="#user-search-form">
    <thead>
    <tr>
      <th>诊所名称</th>
      <th>状态</th>
      <th>预约时间</th>
      <th>评分</th>
      <th width="10%">{{ 'admin.user.fields.operation_label'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    <p class="text-muted">
      <span class="mrl">{{ '记录总数'|trans }}<strong class="inflow-num color-primary">{{ count }}</strong></span>
    </p>
    {% for record in records %}
      <tr id="community-table-tr-{{ record.id }}">
        <td>
          {{ clinics[record.clinicId].name|default('--') }}
        </td>

        <td>
          {% if record.status == 'waiting' %}
            等待接诊
          {% elseif record.status == 'underway' %}
            就诊中
          {% elseif record.status == 'finsh' %}
            已完成
          {% endif %}
        </td>

        <td>
          {{ record.reservationTime|date('Y-m-d H:i') }}
        </td>

        <td>
          {{ scores[record.scoreId].score|default('未评') }}分
        </td>

        <td>
          <div class="btn-group">
            <a href="#modal" data-toggle="modal" data-url="{{ path('reservation_record_show', {id: record.id}) }}" data-url="" class="btn btn-default btn-sm">{{ 'admin.user.btn.show_btn'|trans }}
            </a>
            <div class="btn-group" role="group">
              <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                {% if record.scoreId == 0 %}
                  <li><a href="#modal" data-toggle="modal" data-url="{{ path('score_create', {targetType: 'clinic', targetId:record.clinicId,sourceId:record.id}) }}">评分</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% if records|length <= 0 %}
    <div class="empty">
      暂未记录
    </div>
  {% endif %}

  {{ macro.paginator(paginator) }}

{% endblock %}