{% extends '@Custom/my/layout.html.twig' %}
{% import 'macro.html.twig' as macro %}

{% block title %}{{ '建议箱管理' }} - {{ parent() }}{% endblock %}

{% set side_nav = 'my-community-advice-box-manage' %}

{% block main %}
  <div class="panel panel-default" role="my-teaching-course-sets">
    <div class="panel-heading">
      <strong>建议箱管理</strong>
    </div>
    <div class="panel-body">
      <form id="housing-estate-search-form" class="form-inline well well-sm" action="" method="get" novalidate>
        <div class="mbm">
          <div class="form-group">
            <select id="keywordType" name="keywordType" class="form-control">
              {{ select_options({'nickname':'用户名'}, app.request.query.get('keywordType') ? app.request.query.get('keywordType') : 'nickname') }}
            </select>
          </div>

          <div class="form-group">
            <input type="text" id="keyword" name="keyword" class="form-control" value="{{ app.request.query.get('keyword') }}"
                   placeholder="{{ 'admin.user.form.input_placeholder.keyword'|trans }}">
          </div>

          <div class="form-group">
            <select id="status" name="status" class="form-control">
              {{ select_options(dict('adviceStatus'), app.request.query.get('status') ? app.request.query.get('status') : '', '选择状态') }}
            </select>
          </div>

          <button class="btn btn-primary">{{ 'admin.user.form.btn.search_submit_btn'|trans }}</button>

          {% if has_permission('admin_user_export') and is_plugin_installed('UserImporter') %}
            <a class="btn btn-primary mhs" id="user-export" data-toggle="modal" data-target="#modal"
               data-url="{{ path('admin_user_export') }}">{{ 'plugin.admin.user.manage.form.user_export_btn'|trans }}</a>
          {% endif %}

        </div>
      </form>

      <table id="user-table" class="table table-striped table-hover" data-search-form="#housing-estate-search-form">
        <thead>
        <tr>
          <th>用户</th>
          <th>状态</th>
          <th>提交时间</th>
          <th width="25%">{{ 'admin.user.fields.operation_label'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        <p class="text-muted">
          <span class="mrl">{{ '建议总数'|trans }}<strong class="inflow-num color-primary">{{ count }}</strong></span>
        </p>
        {% if advices %}
        {% for advice in advices %}
          {% include '@Custom/my/advice-box/advice-table-tr.html.twig' with {advice:advice, user: users[advice.userId]} %}
        {% endfor %}
        {% else %}
          <tr><td colspan="20"><div class="empty">{{'site.datagrid.empty'|trans}}</div></td></tr>
        {% endif %}
        </tbody>
      </table>

      {{ macro.paginator(paginator) }}
    </div>
  </div>
{% endblock %}