{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}

{% block title %}
  {{'admin.user.manage.user_edit.fields.heading_title'|trans}}
{% endblock %}


{% block body %}
<style>
.ui-autocomplete {
    z-index: 1200 !important;
    border:1px solid #ccc;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 3px #EEEEEE;
}
.ui-autocomplete-ctn{
    margin:0;
    padding:0;
}
.ui-autocomplete-item {
    width: 410px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
    padding:0 10px 0 10px;
    cursor: default;
}
.ui-autocomplete-item-hover {
    background:#f2f2f2;
}
.ui-autocomplete-item-hl {
    background:#F6FF94;
}
.delete-control-room {
  height: 34px;
  line-height: 34px;
}
.create-control-room {
  width: 100%;
  height: 34px;
  text-align: center;
}
</style>

<form id="user-edit-form" class="form-horizontal" method="post" action="{{ url('admin_user_edit', {id:user.id}) }}">

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="truename">{{'user.fields.truename_label'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <input type="text" id="truename" name="truename" class="form-control" value="{{profile.truename}}" >
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="gender">{{'user.fields.gender_label'|trans}}</label>
    </div>
    <div class="col-md-8 controls radios">
      <div id="gender">
        <input type="radio" id="gender_0" name="gender" value="male"
        {% if profile.gender == 'male' %} checked="checked" {% endif %}>
        <label for="gender_0">{{'user.fields.gender.male'|trans}}</label>

        <input type="radio" id="gender_1" name="gender" value="female"
        {% if profile.gender == 'female' %} checked="checked" {% endif %}>
        <label for="gender_1">{{'user.fields.gender.female'|trans}}</label>
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label"> 
      <label for="idcard">{{'user.fields.idcard_label'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <input type="text" id="idcard" name="idcard" class="form-control" value="{{profile.idcard}}">
   </div>
  </div>

  {% if (user.verifiedMobile|length) > 0 %}
    <div class="row form-group">
      <div class="col-md-3 control-label"> 
        <label for="mobile">{{'user.fields.mobile_label'|trans}}</label>
      </div>
      <div class="col-md-8 controls">
        <div class="control-text"> {{user.verifiedMobile|default('')}}<span class="text-success">({{'user.fields.mobile_label.bind'|trans}})</span> </div>
     </div>
    </div>
  {% else %}
    <div class="row form-group">
      <div class="col-md-3 control-label"> 
        <label for="mobile">{{'user.fields.mobile_label'|trans}}</label>
      </div>
      <div class="col-md-8 controls">
        <input type="text" id="mobile" name="mobile" class="form-control" value="{{profile.mobile|default('')}}">
     </div>
    </div>
  {% endif %}

  <p></p>
  <div class="row form-group">
    <div class="col-md-3 control-label"> 
      <label for="title">{{'admin.user.fields.title_label'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <input type="text" id="title" name="title" class="form-control" value="{{profile.title}}">
   </div>
  </div>

  <p></p>
  <div class="row form-group">
    <div class="col-md-3 control-label"> 
      <label for="signature">{{'admin.user.fields.signature_label'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <textarea type="text" rows="4" maxlength="80" id="signature" name="signature" class="form-control">{{profile.signature}}</textarea>
    </div>
  </div>

  <p></p>
  <div class="row form-group">
    <div class="col-md-3 control-label"> 
      <label for="about">{{'admin.user.fields.about_label'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <textarea id="about" name="about" data-image-upload-url="{{ path('editor_upload', {token:upload_token('default')}) }}">{{profile.about}}</textarea>
    </div>
  </div>

  <p></p>
  <div class="row form-group">
    <div class="col-md-3 control-label"> 
      <label for="site">{{'admin.user.fields.personal_menu_label'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <input type="text" id="site" name="site" class="form-control" value="{{profile.site}}">
   </div>
  </div>

  <p></p>
  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="job">{{'职业'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <input type="text" id="job" name="job" class="form-control" value="{{profile.job}}">
    </div>
  </div>

  <p></p>
  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="weibo">{{'user.fileds.microblog'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <input type="text" id="weibo" name="weibo" class="form-control" value="{{profile.weibo}}">
   </div>
  </div>

  <p></p>
  <div class="row form-group">
    <div class="col-md-3 control-label"> 
      <label for="qq">{{ 'user.fileds.qq'|trans }}</label>
    </div>
    <div class="col-md-8 controls">
      <input type="text" id="qq" name="qq" class="form-control" value="{{profile.qq}}">
   </div>
  </div>

  <p></p>
  <div class="row form-group">
    <div class="col-md-3 control-label"> 
      <label for="weixin">{{'user.fileds.wechat'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <input type="text" id="weixin" name="weixin" class="form-control" value="{{profile.weixin}}">
   </div>
  </div>

  {% if fields %}
    <hr>
    {% for field in fields %}
      {% if field.type=="text" %}
        <div class="form-group">
          <label for="{{field.fieldName}}" class="col-md-3 control-label">{{field.title}}</label>
          <div class="col-md-8 controls">
            <textarea id="{{field.fieldName}}" name="{{field.fieldName}}" class="{{field.type}} form-control" >{{ profile[field.fieldName]|default('') }}</textarea>
            <div class="help-block" style="display:none;"></div>
          </div>
        </div>
      {% elseif field.type=="int" %}
        <div class="form-group">
          <label for="{{field.fieldName}}" class="col-md-3 control-label">{{field.title}}</label>
          <div class="col-md-8 controls">
            <input type="text" id="{{field.fieldName}}" placeholder="{{'form.placeholder.max_int'|trans}}" name="{{field.fieldName}}" class="{{field.type}} form-control"  value="{{ profile[field.fieldName]|default('') }}">
            <div class="help-block" style="display:none;"></div>
          </div>
        </div>
      {% elseif field.type=="float" %}
        <div class="form-group">
          <label for="{{field.fieldName}}" class="col-md-3 control-label">{{field.title}}</label>
          <div class="col-md-8 controls">
            <input type="text" id="{{field.fieldName}}" placeholder="{{'form.placeholer.two_decimal_places'|trans}}" name="{{field.fieldName}}" class="{{field.type}} form-control" value="{{ profile[field.fieldName]|default('') }}">
            <div class="help-block" style="display:none;"></div>
          </div>
        </div>
      {% elseif field.type=="date" %}
        <div class="form-group">
          <label for="{{field.fieldName}}" class="col-md-3 control-label">{{field.title}}</label>
          <div class="col-md-8 controls">
            <input type="text" id="{{field.fieldName}}" name="{{field.fieldName}}" class="{{field.type}} form-control"   value="{% if profile[field.fieldName] %}{{profile[field.fieldName]}}{% endif %}">
            <div class="help-block" style="display:none;"></div>
          </div>
        </div>
      {% elseif field.type=="varchar" %}
        <div class="form-group">
          <label for="{{field.fieldName}}" class="col-md-3 control-label">{{field.title}}</label>
          <div class="col-md-8 controls">
            <input type="text" id="{{field.fieldName}}" name="{{field.fieldName}}" class="form-control"  value="{{ profile[field.fieldName]|default('') }}">
            <div class="help-block" style="display:none;"></div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <div class="form-group form-inline">
    <div class="col-md-3 control-label"><label>地区</label></div>
    <div class="col-md-9 controls distpicker">
      <select class="form-control" id="province" name="province" data-province="{{ profile.province }}"></select>
      <select class="form-control" id="city" name="city" data-city="{{ profile.city }}"></select>
      <select class="form-control" id="district" name="district" data-district="{{ profile.district }}"></select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-3 control-label"><label for="community">所在社区</label></div>
    <div class="col-sm-8 controls">
      {% set communityMatchUrl = path('fill_userinfo_community_match') ~ '?q={{query}}' %}
      <input type="text" placeholder="请输入所在社区全称" id="community" name="community" class="form-control" value="{{ profile.community }}" data-url="{{ communityMatchUrl }}" data-role="item-input">
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-3 control-label"><label for="housingEstate">所在小区</label></div>
    <div class="col-sm-8 controls">
      {% set housingEstateMatchUrl = path('fill_userinfo_housing_estate_match') ~ '?q={{query}}' %}
      <input type="text" placeholder="请输入所在小区名称" id="housingEstate" name="housingEstate" class="form-control" value="{{ profile.housingEstate|default('') }}" data-url="{{ housingEstateMatchUrl }}" data-role="item-input">
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-3 control-label"><label for="address">详细地址</label></div>
    <div class="col-sm-8 controls">
      {% set addressMatchUrl = path('fill_userinfo_address_match') ~ '?q={{query}}' %}
      <input type="text" placeholder="详细地址" id="address" name="address" class="form-control" value="{{ profile.address|default('') }}" data-url="{{ addressMatchUrl }}" data-role="item-input">
    </div>
  </div>

  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
</form>
{% endblock %}

{% block footer %}
  <button id="edit-user-btn" data-loading-text="{{'form.btn.submit.submiting'|trans}}" type="submit" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#user-edit-form">{{'form.btn.save'|trans}}</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{'form.btn.cancel'|trans}}</button>
  
  <script>app.load('custombundle/controller/user/edit-modal');</script>
{% endblock %}