<table class="table table-striped table-condenseda table-bordered">
  <tr>
    <td width="25%">性别</td>
    <td width="75%">{{ idcardInfo.sex }}</td>
  </tr>
  <tr>
    <td>身份证号</td>
    <td>{{ idcardInfo.idcard }}</td>
  </tr>
  <tr>
    <td>出生年月</td>
    <td>{{ idcardInfo.born }}</td>
  </tr>
  <tr>
    <td>地区</td>
    <td>{{ idcardInfo.att }}</td>
  </tr>
</table>