<table class="table table-striped table-condenseda table-bordered">
  <tr>
    <td>{{'user.fields.username_label'|trans}}</td>
    <td>{{ user.nickname }}</td>
  </tr>
  <tr>
    <td>{{'user.fileds.realname'|trans}}</td>
    <td>{{ userApprovalInfo.truename }}</td>
  </tr>
  <tr>
    <td>{{'admin.user.fields.idcard'|trans}}</td>
    <td>{{ userApprovalInfo.idcard }}</td>
  </tr>
  <tr>
    <td>{{'admin.user.approval.fields.idcard_face_img_label'|trans}}</td>
    <td>
      <div>
        <a href="{{ url('show_idcard', {userId: user.id, type:'face', status:status})}}" target="_blank">
          <img src="{{url('show_idcard', {userId: user.id, type:'face', status:status})}}" width="400" />
        </a>
      </div></td>
  </tr>
  <tr>
    <td>{{'admin.user.approval.fields.idcard_back_img_label'|trans}}</td>
    <td><div>
        <a href="{{url('show_idcard', {userId: user.id, type: 'back', status:status})}}" target="_blank">
          <img src="{{url('show_idcard', {userId: user.id, type: 'back', status:status})}}" width="400" />
        </a>
      </div></td>
  </tr>
  <tr>
    <td>{{'admin.user.approval.approving_tab.approve.fields.rejection_reason_label'|trans}}</td>
    <td>
      <textarea id="note" name="note" class="form-control" rows="3"></textarea>
    </td>
  </tr>
</table>