{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-md' %}

{% block title %}
  {{'admin.user.approval.approving_tab.approve.heading_title'|trans}}
{% endblock %}
{% block body %}
  <style type="text/css">
    .modal-body {max-height: 10000px !important;}
  </style>

  <form id="approve-form" class="form-horizontal" method="post" action="{{ path('admin_approval_approve', {id:user.id}) }}">
    <div>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#base" aria-controls="home" role="tab" data-toggle="tab">认证信息</a>
        </li>
        {% if idcardInfo != '' %}
          <li role="presentation"><a href="#idcardInfo" aria-controls="idcardInfo" role="tab" data-toggle="tab">用户身份证信息</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="tab-content">
      <div id="base" role="tabpanel" class="tab-pane active">
        {% include '@Custom/admin/user/user-approval-form-content.html.twig' with {'status':'approving'} %}
      </div>
      {% if idcardInfo != '' %}
        <div id="idcardInfo" role="tabpanel" class="tab-pane">
          {% include '@Custom/admin/user/user-approval-idcard-info-content.html.twig' %}
        </div>
      {% else %}
        <div class="bg-danger alert cd-alert cd-alert-danger " align="center">
          对不起，暂未查询到用户身份证信息，请核实用户的身份证信息！
        </div>
      {% endif %}
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
    <input id="form_status" type="hidden" name="form_status" >
  </form>
{% endblock %}

{% block footer %}
  <div class="pull-right">

    <button type="button" class="btn btn-link" data-dismiss="modal">{{'form.btn.cancel'|trans}}</button>


    <button type="submit" class="btn btn-danger user-approve-btn" data-toggle="form-submit" data-status='fail' data-target="#approve-form">{{'admin.user.approval.approving_tab.approve.failed_btn'|trans}}</button>
    <button type="submit" class="btn btn-success user-approve-btn" data-toggle="form-submit" data-status='success' data-target="#approve-form">{{'admin.user.approval.approving_tab.approve.success_btn'|trans}}</button>



    <script>app.load('user/approve');</script>

  </div>
{% endblock %}