<style>
  img {
    width: 100%;
    height: auto;
  }
</style>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-pause="mouseenter">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for slideshow in slideshows %}
      {% if loop.index == 1 %}
        <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index - 1 }}" class="active"></li>
      {% else %}
        <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index - 1 }}"></li>
      {% endif %}
    {% else %}
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {% for slideshow in slideshows %}
      {% if loop.index == 1 %}
        <div class="item active">
          <a {% if slideshow.pictureUrl != '' %} href="{{ slideshow.pictureUrl }}" {% endif %}><img src="{{ filepath(slideshow.picturePath, 'cloud_image.png') }}" alt="{{ slideshow.description }}"></a>
          <div class="carousel-caption">
            <div class="swiper-caption">
              {{ slideshow.description|raw }}</div>
          </div>
        </div>
      {% else %}
        <div class="item">
          <a {% if slideshow.pictureUrl != '' %} href="{{ slideshow.pictureUrl }}" {% endif %}><img src="{{ filepath(slideshow.picturePath, 'cloud_image.png') }}" alt="{{ slideshow.description }}"></a>
          <div class="carousel-caption">
            <div class="swiper-caption">
              {{ slideshow.description|raw }}</div>
          </div>
        </div>
      {% endif %}
    {% else %}
      <div class="item active">
        <img src="{{ asset('bundles/custom/img/img2.jpeg') }}" alt="...">
      <div class="carousel-caption">
      ...
      </div>
      </div>
      <div class="item">
      <img src="{{ asset('bundles/custom/img/img4.jpeg') }}" alt="...">
      <div class="carousel-caption">
      ...
      </div>
      </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" style="height: 400px" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" style="height: 400px" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>