<header class="es-header navbar">
  <nav class="es-header navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{ render(controller('AppBundle:My/Community:communityName')) }}
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{{ path('community_periphery') }}">社区周边</a></li>
          <li class="dropdown nav-hover">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">新闻中心 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ path('my_community_article_show') }}">资讯中心</a></li>
              <li><a href="{{ path('my_community_announcement_center') }}">公告中心</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{{ path('my_community_activity_center') }}">活动中心</a></li>
            </ul>
          </li>
          {% if 'COMMUNITY_MANAGE' in app.user.communityRole %}
            <li class="nav-hover">
              <a href="javascript:;" class="dropdown-toggle">社区管理 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('my_community_user_manage') }}">用户管理</a></li>
                <li><a href="{{ path('my_community_property_manage') }}">物业公司管理</a></li>
                <li><a href="{{ path('my_community_housing_estate_manage') }}">小区管理</a></li>
                <li><a href="{{ path('my_community_clinic_manage') }}">诊所管理</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('my_community_article_manage') }}">资讯管理</a></li>
                <li><a href="{{ path('my_community_announcement_manage') }}">公告管理</a></li>
                <li><a href="{{ path('my_community_activity_manage') }}">活动管理</a></li>
                <li><a href="{{ path('my_community_slideshow_manage') }}">首页Banner图</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('my_community_setting') }}">社区运营</a> </li>
                <li><a href="{{ path('my_community_advice_manage') }}">建议箱</a> </li>
                <li><a href="{{ path('my_community_complaint_manage') }}">投诉箱</a></li>
              </ul>
            </li>
          {% endif %}
          <li class="nav-hover">
            <a href="javascript:;" class="dropdown-toggle">服务中心 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ path('my_community_files') }}">文件库</a></li>
              <li><a href="{{ path('my_community_advice') }}">社区建议箱</a> </li>
              <li><a href="{{ path('my_community_complaint') }}">社区投诉箱</a> </li>
            </ul>
          </li>
        </ul>

        <ul class="nav user-nav navbar-right">
          <li><a href="{{ path('homepage') }}">首页</a></li>
          <li class="user-avatar-li nav-hover">
            <a href="javascript:;" class="dropdown-toggle">
              <img class="avatar-xs" src="{{ filepath(app.user.smallAvatar, 'avatar.png') }}">
            </a>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation" class="dropdown-header">{{ app.user.nickname }}</li>
              <li><a href="{{ path('user_show', {id:app.user.id}) }}"><i
                      class="es-icon es-icon-person"></i>{{ 'homepage.header.personal_menu'|trans }}</a></li>
              <li><a href="{{ path('settings') }}"><i
                      class="es-icon es-icon-setting"></i>{{ 'homepage.header.settings_menu'|trans }}</a></li>
              <li class="hidden-lg user-nav-li-my">
                <a href="{{ path('my') }}">
                  <i class="es-icon es-icon-eventnote"></i>我的社区
                </a>
              </li>

              {% if has_permission('admin') %}
                <li><a href="{{ path('admin') }}"><i
                        class="es-icon es-icon-dashboard"></i>{{ 'homepage.header.admin_menu'|trans }}</a></li>
              {% endif %}

              <li class="hidden-lg"><a href="{{ path('notification') }}"><span
                      class="pull-right num">{% if app.user.newNotificationNum > 0 %}{{ app.user.newNotificationNum }}{% endif %}</span><i
                      class="es-icon es-icon-notificationson"></i>{{ 'homepage.header.notice'|trans }}</a></li>
              <li class="hidden-lg"><a href="{{ path('message') }}"><span
                      class="pull-right num">{% if app.user.newMessageNum > 0 %}{{ app.user.newMessageNum }}{% endif %}</span><i
                      class="es-icon es-icon-mail"></i>{{ 'homepage.header.message'|trans }}</a></li>
              {% if mobile %}
                <li class="mobile-switch js-switch-pc visible-xs"><a href="javascript:;">
                    <i class="es-icon es-icon-qiehuan"></i>{{ 'homepage.header.switch_pc'|trans }}</a></li>
              {% elseif setting('wap.enabled') == 1 %}
                <li class="mobile-switch js-switch-mobile visible-xs"><a href="javascript:;">
                    <i class="es-icon es-icon-qiehuan"></i>{{ 'homepage.header.switch_mobile'|trans }}</a>
                </li>
              {% endif %}
              <li class="user-nav-li-logout"><a href="{{ path('logout') }}"><i
                      class="es-icon es-icon-power"></i>{{ 'homepage.header.logout'|trans }}</a></li>
            </ul>
          </li>
          <li class="visible-lg nav-hover">
            <a class="hasmessage"><i class="es-icon es-icon-mail"></i><span class="dot"></span></a>
            <ul class="dropdown-menu" role="menu">
              {% if not setting('esBar.enabled', 0) %}
                <li>
                  <a href="{{ path('notification') }}">
                    <span class="pull-right num">{% if app.user.newNotificationNum > 0 %}{{ app.user.newNotificationNum }}{% endif %}</span>
                    <i class="es-icon es-icon-notificationson"></i>{{'notification.user_notification'|trans}}
                  </a>
                </li>
              {% endif %}
              <li>
                <a href="{{ path('message') }}">
                  <span class="pull-right num">{% if app.user.newMessageNum > 0 %}{{ app.user.newMessageNum }}{% endif %}</span>
                  <i class="es-icon es-icon-mail"></i>{{'user.btn.send_message'|trans}}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>