{% extends '@Custom/my/layout.html.twig' %}

{% set bodyClass = 'artcile-list-page' %}
{% set side_nav = 'my_community' %}
{% do script(['app/js/article/list/index.js']) %}

{% block full_content %}
  <div id="content-container" class="container" style="max-height:400px; margin-top: 0px">
    {% block content %}
      <section class="es-poster swiper-container">
        <div class="swiper-wrapper" style="height: 400px">
          {% render(controller('CustomBundle:My/Slideshow:slideshow')) %}
        </div>
      </section>
    {% endblock %}
  </div>

  <div class="container">
    {{ render(controller('CustomBundle:CommunityArticle:defaultIndexBlock')) }}
  </div>
  <div class="container">
    <div class="text-line">
      <h5>其他</h5>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default index-group">
        <div class="panel-heading">
          活动通知
        </div>
        <div class="panel-body">
          {{ render(controller('CustomBundle:CommunityActivity:defaultIndexBlock')) }}
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default index-group">
        <div class="panel-heading">
          公告通知
        </div>
        <div class="panel-body">
          {{ render(controller('CustomBundle:CommunityAnnouncement:defaultIndexBlock')) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
