{% extends 'layout.html.twig' %}

{% block title %}
  {%  set userProfile = data('UserProfile', {userId: app.user.id}) %}
  {% if side_nav|default(null) is null%}
    {% set side_nav = null %}
  {% endif %}
  {% if side_nav in ['my-community-slideshow-manage', 'my-community-housing-estate-manage', 'my-community-announcement-manage', 'my-community-article-manage', 'my-community-activity-manage','my-community-user-manage', 'my-community-property-manage', 'my-community-clinic-manage', 'my-community-advice-box-manage','my-community-complaint-box-manage', 'community-setting'] %}
    {{ '社区管理'|trans }} - {{ userProfile.community|default('') }} - {{ parent() }}
  {% else %}
    {{ userProfile.community|default('') }} - {{ parent() }}
  {% endif %}
{% endblock %}

  {#{{ render(controller('AppBundle:My/User:avatarAlert')) }}#}
  {% block header %}
    {% include '@Custom/my/header.html.twig' %}
  {% endblock %}

  {% block content %}
    {% if side_nav in ['my-community-slideshow-manage', 'my-community-housing-estate-manage', 'my-community-announcement-manage', 'my-community-article-manage', 'my-community-activity-manage','my-community-user-manage', 'my-community-property-manage', 'my-community-clinic-manage', 'my-community-advice-box-manage', 'my-community-complaint-box-manage', 'community-setting'] %}

      <div class="col-md-2 my-layout">
        <div class="panel panel-default">
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
              <li class="{% if side_nav == 'my-community-user-manage' %}active {% endif %}">
                <a href="{{ path('my_community_user_manage') }}">用户管理</a>
              </li>
              <li class="{% if side_nav == 'my-community-property-manage' %}active {% endif %}">
                <a href="{{ path('my_community_property_manage') }}">物业公司管理</a>
              </li>
              <li class="{% if side_nav == 'my-community-housing-estate-manage' %}active {% endif %}">
                <a href="{{ path('my_community_housing_estate_manage') }}">小区管理</a>
              </li>
              <li class="{% if side_nav == 'my-community-clinic-manage' %}active {% endif %}">
                <a href="{{ path('my_community_clinic_manage') }}">诊所管理</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
              <li class="{% if side_nav == 'my-community-article-manage' %} active{% endif %}">
                <a href="{{ path('my_community_article_manage') }}">资讯管理</a>
              </li>
              <li class="{% if side_nav == 'my-community-announcement-manage' %} active{% endif %}">
                <a href="{{ path('my_community_announcement_manage') }}">公告管理</a>
              </li>
              <li class="{% if side_nav == 'my-community-activity-manage' %} active {% endif %}">
                <a href="{{ path('my_community_activity_manage') }}">活动管理</a>
              </li>
              <li class="{% if side_nav == 'my-community-slideshow-manage' %} active {% endif %}"><a
                    href="{{ path('my_community_slideshow_manage') }}">首页Banner图</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
              <li class="{% if side_nav == 'community-setting' %}active{% endif %}"><a href="{{ path('my_community_setting') }}">社区运营</a></li>
              <li class="{% if side_nav == 'my-community-advice-box-manage' %}active{% endif %}">
                <a href="{{ path('my_community_advice_manage') }}">建议箱</a>
              </li>
              <li class="{% if side_nav == 'my-community-complaint-box-manage' %}active{% endif %}">
                <a href="{{ path('my_community_complaint_manage') }}">投诉信</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-10">
        <div class="col-md-12">
          {% block pageTitle %}{% endblock %}
        </div>

        {% block main %}{% endblock %}
      </div>
    {% endif %}
  {% endblock %}

  {#{% block footer %}{% endblock %}#}
  {% block main_mobile %}{% endblock %}
