<article class="article-item">
  <div class="article-metas clearfix">
    <div class="pull-left">
      <div class="date">
        <div class="day">{{ activity.startTime|date('d') }}</div>
        <div class="month">{{ activity.startTime|date('m') }}{{'site.date.month'|trans}}</div>
      </div>
    </div>
    <div class="metas-body">
      <p>
      </p>
      <h2 class="title">
        <a class="link-dark" href="{{ path('my_community_activity_show', {id:activity.id}) }}">{{ activity.title }}</a>
      </h2>
    </div>
  </div>
    <div class="content">
      {#{{ activity.body|plain_text(150)}}#}
    </div>
</article>
