<div class="panel panel-default">
  <div class="panel-heading">
    所有类别
  </div>
  <div class="panel-body">
    {% set types = dict('activityType') %}
    {% for type in types %}
      <a class="btn-tag"  href="">{{type}}</a>
    {% endfor %}
  </div>
</div>