<div class="course-list" id="course-commend-1">
  <div class="row">
    {% for latestArticle in latestArticles %}
      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="course-item">
          <div class="course-img">
            <a href="{{ path('my_community_article_detail', {id:latestArticle.id}) }}" class="" target="_blank">
              <img src="{{ filepath(latestArticle.originalThumb, 'cloud_image.png') }}" class="img-responsive" alt="{{ latestArticle.title }}">
            </a>
          </div>
          <div class="course-info">
            <div class="title">
              <a href="{{ path('my_community_article_detail', {id:latestArticle.id}) }}" class="link-dark" target="_blank">{{ latestArticle.title }}</a>
            </div>
            <div class="metas clearfix">
              <a class="link-dark" href="{{ path('my_community_article_category', {categoryCode:latestCategories[latestArticle.categoryId].code}) }}" target="_blank">
                {{ latestCategories[latestArticle.categoryId].name }}
              </a>
              <span class="course-price-widget">
              <span class="color-warning">点击量{{ latestArticle.hits }}</span>
            </span>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="empty">
        暂无内容
      </div>

    {% endfor %}
  </div>
</div>