{% extends '@Custom/my/layout.html.twig' %}

{% block title %}{{'新闻中心轮播图管理'}} - {{ parent() }}{% endblock %}

{% set side_nav = 'my-community-slideshow-manage' %}

{% do script(['libs/es-ckeditor/ckeditor.js', 'custombundle/js/my/slideshow/index.js']) %}

{% block main %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>新闻中心轮播图管理</strong>
      <div class="pull-right">
        <a id="create-slideshow" class="btn btn-primary" data-url="{{ path('my_community_slideshow_manage_create') }}" data-goto="{{ path('my_community_slideshow_manage', {page:slideshowCount+1}) }}">新增</a>
      </div>
    </div>
    <div class="panel-body">
      {{ web_macro.flash_messages(true) }}
      {% include '@Custom/my/slideshow/slideshow-template.html.twig' with{slideshow:slideshow,paginator:paginator} %}
    </div>
  </div>
{% endblock %}