<div class="form-group">
  <div class="col-md-2 control-label">
    <b>是否开启</b>
  </div>
  <div class="controls col-md-8 controls">
    <label for="tile" class="checkbox-inline">
      <input type="radio" id="tile" name="status" class="layout-input" value="1"
             {% if slideshow.status == 1 %}checked {% endif %}>
      是
    </label>
    <label for="limitWide" class="checkbox-inline">
      <input type="radio" id="limitWide" name="status" class="layout-input"
             value="0" {% if slideshow.status == 0 %} checked{% endif %}>
      否
    </label>
  </div>
</div>

<div class="form-group">
  <div class="col-md-2 control-label">
    <b>显示模式</b>
  </div>
  <div class="controls col-md-8 controls">
    <label for="tile" class="checkbox-inline">
      <input type="radio" id="tile" name="displayType" class="layout-input" value="tile"
             {% if slideshow.displayType == '' or slideshow.displayType == 'tile' %}checked {% endif %}>
      平铺显示
    </label>
    <label for="limitWide" class="checkbox-inline">
      <input type="radio" id="limitWide" name="displayType" class="layout-input"
             value="limitWide" {% if slideshow.displayType == 'limitWide' %} checked{% endif %}>
      居中显示
    </label>
  </div>
</div>

<div class="form-group">
  <div class="col-md-2 control-label"><b>{{ '选择图片'|trans }}</b></div>
  <div class="controls col-md-8 controls">
    <b>{{ file_path(slideshow.picturePath, '') }}</b>
    <a id="upload-picture-btn"
       class="btn btn-primary upload-picture-btn"
       data-upload-token="{{ upload_token('tmp', 'image') }}"
       data-goto-url="{{ path('my_community_slideshow_manage_upload', {id:slideshow.id}) }}"
    >{{ '上传海报图'|trans }}</a>
  </div>
</div>
<div class="form-group">
  <div class="col-md-2 control-label">
  </div>
  <div class="controls col-md-8 controls">
    <p class="help-block">
      <strong>你可以上传JPG、GIF或PNG格式的图片,建议大小1440px*400px</strong></p>
  </div>
</div>
<div class="form-group slideshow-picture">
  <div class="col-md-2 control-label"></div>
  <div class="controls col-md-8 controls">
    <a {% if slideshow.picturePath != '' %} href="{{ fileurl(slideshow.picturePath, null) }}" {% endif %} target="_blank"><img src="{{ filepath(slideshow.picturePath, 'cloud_image.png') }}" height="300px" width="100%">
    </a>
  </div>
</div>

<div class="form-group backgroundColor">
  <div class="col-md-2 control-label">
    <b>背景填充色</b>
  </div>
  <div class="controls col-md-8">
    <input type="text" id="backgroundColor" name="backgroundColor" class="form-control"
           placeholder="＃F7F4ED" value="{{ slideshow.backgroundColor }}">
    <div class="help-block">以rgb编码格式,例如#000-#FFFFFF</div>
    <input type="color" id="color" class="form-control hidden" value="{{ slideshow.backgroundColor }}">
  </div>
</div>

<div class="form-group">
  <div class="col-md-2 control-label">
    <b>添加链接</b>
  </div>
  <div class="controls col-md-8">
    <input type="text" id="pictureUrl" name="pictureUrl" class="form-control" placeholder="http://" value="{{ slideshow.pictureUrl }}">
    <div class="help-block">以http://开头</div>
  </div>
</div>

<div class="form-group">
  <div class="col-md-2 control-label">
    <b>图片描述</b>
  </div>
  <div class="controls col-md-8">
    <textarea id="description" name="description" class="form-control">{{ slideshow.description }}</textarea>
  </div>
</div>

<input type="hidden" name="page" value="{{ paginator.currentPage }}">