<div>
  <ul class="nav nav-tabs slideshow-nav" role="tablist">
    {% if paginator|default() and paginator.lastPage > 1 %}
        {% for page in paginator.pages %}
          <li {% if page == paginator.currentPage %}class="active"{% endif %}><a href="{{ paginator.getPageUrl(page) }}">海报{{ page }}</a></li>
        {% endfor %}
    {% endif %}
  </ul>


  <!-- Tab panes -->
  {% if slideshow is not null %}
    <form id="edit-slideshow-form" class="form-horizontal" method="post" enctype="multipart/form-data" action="{{ path('my_community_slideshow_manage_edit',{id:slideshow.id}) }}">
      <div class="tab-content">

          <div role="tabpanel" class="tab-pane active slideshow-tabpanel" id="slideshow">
            {% include '@Custom/my/slideshow/sildeshow-from.html.twig' with{slideshow:slideshow} %}
          </div>
      </div>
      <div class="col-md-offset-2">
        <button type="submit" id="form-submit-btn" data-toggle="#edit-slideshow-form" data-loading-text="正在提交..." class="btn btn-primary {% if slideshowCount <= 0 %}hidden{% endif %}">保存</button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
      </div>
    </form>
  {% else %}
    <div class="mbm alter-message" align="center">
      还未设置轮播图...
    </div>
  {% endif %}
</div>