
<tr id="housingEstate-table-tr-{{ advice.id }}">
  {% include 'org/parts/table-body-checkbox.html.twig' %}
  <td>
    {{ user.nickname }}
  </td>
  {#{% include 'org/parts/table-body-td.html.twig' with {orgCode: user.orgCode}%}#}

  <td>
    {% if advice.status == 'nosee' %}
      未查看
    {% elseif advice.status == 'saw' %}
      已查看
    {% endif %}
  </td>

  <td>
    {{ advice.createdTime|date('Y-m-d') }}
  </td>

  <td>
    <div class="btn-group">
      <a href="#modal" data-toggle="modal" data-url="{{ path('my_community_advice_show', {id:advice.id}) }}" class="btn btn-default btn-sm">{{ '查看'|trans }}</a>
    </div>
  </td>
</tr>

