{% extends '@Custom/service-center/layout.html.twig' %}
{% import 'macro.html.twig' as macro %}

{% block title %}{{ '社区建议箱' }} - {{ parent() }}{% endblock %}

{% set side_nav = 'community-advice-box' %}

{% block main %}
  <div class="panel panel-default" role="my-teaching-course-sets">
    <div class="panel-heading">
      <strong>社区建议箱</strong>
      <div class="pull-right">
        <a id="create-slideshow" class="btn btn-primary" href="#modal" data-toggle="modal" data-url="{{ path('my_community_advice_create') }}">提供建议</a>
      </div>
    </div>
    <div class="panel-body">
      <table id="user-table" class="table table-striped table-hover" data-search-form="#housing-estate-search-form">
        <thead>
        <tr>
          <th>用户</th>
          <th>状态</th>
          <th>提交时间</th>
          <th width="25%">{{ 'admin.user.fields.operation_label'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        <p class="text-muted">
          <span class="mrl">{{ '建议总数'|trans }}<strong class="inflow-num color-primary">{{ count }}</strong></span>
        </p>
        {% for advice in advices %}
          {% include '@Custom/advice-box/advice-table-tr.html.twig' with {advice:advice, user: users[advice.userId]} %}
        {% endfor %}
        </tbody>
      </table>

      {% if advices|length() == 0 %}
        <div class="empty">
          暂无数据
        </div>
      {% endif %}

      {{ macro.paginator(paginator) }}
    </div>
  </div>
{% endblock %}