{% extends 'bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-md' %}

{% block title %}{{ '建议信息查看'|trans }}{% endblock %}

{% block body %}
  <div class="es-piece">
    <div class="piece-header">{{ '内容'|trans }}</div>
    <div class="piece-body p-lg clearfix">
      {{ advice.content|raw }}
    </div>
  </div>
{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'form.btn.close'|trans }}</button>
{% endblock %}
