<div class="article-sns">
  <span class="es-share right">
    <a class="dropdown-toggle" href="javascript:;" data-toggle="dropdown">
      <i class="es-icon es-icon-share"></i>
    </a>

    {% include 'common/share-dropdown.html.twig' with {type:'article'} %}
  </span>
</div>