<div class="article-text">
  <div class="es-piece">
    <div class="piece-header">{{ '活动描述'|trans }}</div>
    <div class="piece-body p-lg clearfix">
      {{ activity.content |raw }}
    </div>
  </div>

  <div class="es-piece">
    <div class="piece-header">{{ '活动内容'|trans }}</div>
    <div class="piece-body p-lg clearfix">
      {{ activity.remark |raw }}
    </div>
  </div>

  <div class="es-piece">
    <div class="piece-header">{{ '活动地址'|trans }}</div>
    <div class="piece-body p-lg clearfix">
      {{ activity.site |raw }}
    </div>
  </div>
</div>