{% if app.user %}
  <form class="es-commet" id="thread-post-form" method="POST" action="{{path('community_activity_create_post', {id:activity.id})}}">
    <div class="es-commet-header">
      {{ 'article.detail.post_num'|trans({'%postNum%':postNum})|raw }}
      {% if isSign %}
        <a name="sign" id="community-activity-sign" class="btn btn-primary pull-right" data-url="{{ path('community_activity_sign', {activityId:activity.id}) }}"><i class="glyphicon glyphicon-pencil"></i>签到</a>
      {% else %}
        <a id="sign-success" class="color-primary pull-right"><i class="glyphicon glyphicon-ok"></i>已签到</a>
      {% endif %}
      <i class="glyphicon glyphicon-question-sign mr10" data-toggle="tooltip" data-placement="right" data-original-title="{{'只有签到后才能评论。'|trans}}"></i>
    </div>
    <div id="thread-body" class="{% if isSign %}hidden {% endif %}">
      <textarea class="form-control form-control-o" rows="6" placeholder="{{'article.detail.input_placeholder'|trans}}" name="content" data-display="{{'article.detail.input_placeholder'|trans}}"></textarea>
      <div class="form-group clearfix">
        <button type="submit" class="btn btn-default pull-right {% if not app.user %}disabled{% endif %}" data-loading-text="{{'form.btn.comment.submiting'|trans}}">{{'form.btn.comment'|trans}}</button>
      </div>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>
{% else %}
  <div class="empty">
    {{ 'user.not_login.tips'|trans({'%login%':path('login', {goto:app.request.server.get('REQUEST_URI')}), '%register%': path('register', {goto:app.request.server.get('REQUEST_URI') }) })|raw }}
  </div>
{% endif %}
