<div class="article-metas">
  <div class="pull-left">
    <div class="date">
      <div class="day">{{ activity.startTime|date('d') }}</div>
      <div class="month">{{ activity.startTime|date('m')}}{{ 'site.date.month'|trans }}</div>
    </div>
  </div>
  <div class="metas-body">
    <h2 class="title">
      {{ activity.title }}
    </h2>
    <div class="sns">
      <span class="comment-num">
        <i class="es-icon es-icon-textsms"></i>{{ postNum }}
      </span>
    </div>
  </div>
</div>
