{% import "macro.html.twig" as web_macro %}

<section class="es-section">
  <div class="es-filter">
    <ul class="nav nav-sort clearfix">
      <li>
        <a href="{{ path('my_community_activity_center', {filter: ''}) }}" class="{% if filter == '' %}btn btn-primary active{% endif %}">全部
        </a>
      </li>
      <li >
        <a href="{{ path('my_community_activity_center', {type:targetType, filter:'noStart'}) }}" class="{% if filter == 'noStart' %}btn btn-primary active{% endif %}">未开始</a>
      </li>

      <li >
        <a href="{{ path('my_community_activity_center', {type:targetType, filter:'underway'}) }}" class="{% if filter == 'underway' %}btn btn-primary active{% endif %}">进行中</a>
      </li>

      <li >
        <a href="{{ path('my_community_activity_center', {type:targetType, filter:'finish'}) }}" class="{% if filter == 'finish' %}btn btn-primary active{% endif %}">已结束</a>
      </li>
    </ul>
  </div>

  <div class="article-list">
    {% for activity in activities %}
      {% include '@Custom/community-activity/widget/list-item.html.twig' %}
    {% else %}
      <div class="empty tac color-gray mvl">{{ '没有任何活动'|trans }}</div>
    {% endfor %}
  </div>
  {{ web_macro.paginator(paginator) }}
</section>
