<ul class="clearfix">
  <li class="{% if targetType == '' %}active {% endif %}" role="presentation">
    <a href="{{ path('my_community_activity_center') }}">活动中心</a>
  </li>
  {% set types = dict('activityType') %}
  {% for key,item in types %}
    <li class="{% if targetType == key %} active{% endif %}">
      <a href="{{ path('my_community_activity_center', {type: key}) }}" >
        {{ item }}
      </a>
    </li>
  {% endfor %}
</ul>