{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_clinic_manage' %}

{% set script_controller = 'custombundle/controller/clinic/list' %}

{% block main %}
  {{ web_macro.flash_messages() }}
  <div class="btn-group" style="margin-bottom: 5px">
    <a href=" {{ path('admin_clinic') }}" type="button" class="btn btn-default btn-default">{{ '诊所管理'|trans }}</a>

    <a href=" {{ path('admin_clinic_reservation_record') }}" type="button" class="btn btn-primary">{{ '诊所记录' }}</a>
  </div>

  <form id="clinic-search-form" class="form-inline well well-sm" action="" method="get" novalidate>
    <div class="mbm">
      <div class="form-group">
        <select id="keywordType" name="keywordType" class="form-control">
          {{ select_options(dict('reservationKeywordType'), app.request.query.get('keywordType') ? app.request.query.get('keywordType') : 'nickname') }}
        </select>
      </div>

      <div class="form-group">
        <input type="text" id="keyword" name="keyword" class="form-control" value="{{ app.request.query.get('keyword') }}"
               placeholder="{{ 'admin.user.form.input_placeholder.keyword'|trans }}">
      </div>

      <div class="form-group">
        <select id="status" name="status" class="form-control">
          {{ select_options(dict('reservationStatus'), app.request.query.get('status')|default(''), '预约状态') }}
        </select>
      </div>

      <button class="btn btn-primary">{{ 'admin.user.form.btn.search_submit_btn'|trans }}</button>

    </div>
  </form>

  <table id="user-table" class="table table-striped table-hover" data-search-form="#user-search-form">
    <thead>
    <tr>
      {% if setting('magic.enable_org','0') %}
        <th><input type="checkbox"  data-role="batch-select"></th>
      {% endif %}
      <th>预约用户</th>
      <th>诊所所在社区</th>
      <th>诊所名称</th>
      <th>状态</th>
      <th>申请时间</th>
      <th width="10%">{{ 'admin.user.fields.operation_label'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    <p class="text-muted">
      <span class="mrl">{{ '记录总数'|trans }}<strong class="inflow-num color-primary">{{ recordCount }}</strong></span>
    </p>
    {% if records %}
      {% for record in records %}
        {% include '@Custom/admin/clinic/record/record-table-tr.html.twig' with {record:record, clinic:clinics[record.clinicId]|default(null), communities:communities, user:users[record.userId]}|default(null) %}
      {% endfor %}
    {% else %}
      <tr><td colspan="20"><div class="empty">{{'site.datagrid.empty'|trans}}</div></td></tr>
    {% endif %}
    </tbody>
  </table>
  {{ admin_macro.paginator(paginator) }}
{% endblock %}