{% import 'admin/macro.html.twig' as admin_macro %}
<tr id="community-table-tr-{{ community.id }}">
  {% include 'org/parts/table-body-checkbox.html.twig' %}
  <td>
    {{ community.name }}
  </td>
  {#{% include 'org/parts/table-body-td.html.twig' with {orgCode: user.orgCode}%}#}
  <td>
    {{ community.province }}-{{ community.city }}-{{ community.district }}
  </td>

  <td>
    {{ community.officePhone|default('--') }}
  </td>

  <td>
    {{ countHousingEstate.count|default('0') }}
  </td>

  <td>
    <div class="btn-group">
      <a href="#modal" data-toggle="modal" data-url="{{ path('admin_show_community', {id:community.id}) }}" data-url="" class="btn btn-default btn-sm">{{ '查看'|trans }}</a>
      {% include 'admin/role/templates/group-button.html.twig' with {parentCode: 'admin_community_manage', group:'groupButton', community: community} %}
    </div>
  </td>
</tr>

