{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}

{% block title %}
  {{'创建社区'|trans}}
{% endblock %}


{% block body %}
<form id="community-create-form" class="form-horizontal" method="post" action="{{ path('admin_community_create') }}">

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="name">{{'名称'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <input type="text" id="name" name="name" class="form-control" value="" placeholder="请输入社区名称">
    </div>
  </div>

  <div class="form-group form-inline">
    <div class="col-md-3 control-label">
      <label>{{'地区'|trans}}</label>
    </div>
    <div class="col-md-9 controls distpicker">
      <select class="form-control" id="province" name="province" data-province=""></select>
      <select class="form-control" id="city" name="city" data-city=""></select>
      <select class="form-control" id="district" name="district" data-district=""></select>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="officePhone">{{'服务电话'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <input type="text" id="officePhone" name="officePhone" class="form-control" value="" placeholder="请输入社区服务电话">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="address">{{'服务中心地址'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <input type="text" id="address" name="address" class="form-control" value="" placeholder="请输入社区服务中心地址">
    </div>
  </div>
{% endblock %}

{% block footer %}
  <button id="create-community-btn" data-loading-text="{{'form.btn.submit.submiting'|trans}}" type="submit" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#community-create-form">{{'form.btn.save'|trans}}</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{'form.btn.cancel'|trans}}</button>

  <script>app.load('custombundle/controller/community/create-modal');</script>
{% endblock %}