{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}

{% block title %}
  {{'社区信息编辑'|trans}}
{% endblock %}


{% block body %}
<form id="community-edit-form" class="form-horizontal" method="post" action="{{ url('admin_community_edit', {id:community.id}) }}">

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="name">{{'名称'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <input type="text" id="name" name="name" class="form-control" value="{{community.name}}" >
    </div>
  </div>

  <div class="form-group form-inline">
    <div class="col-md-3 control-label">
      <label>{{'地区'|trans}}</label>
    </div>
    <div class="col-md-9 controls distpicker">
      <select class="form-control" id="province" name="province" data-province="{{ community.province }}"></select>
      <select class="form-control" id="city" name="city" data-city="{{ community.city }}"></select>
      <select class="form-control" id="district" name="district" data-district="{{ community.district }}"></select>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="officePhone">{{'服务电话'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <input type="text" id="officePhone" name="officePhone" class="form-control" value="{{community.officePhone}}" >
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="address">{{'服务中心地址'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <input type="text" id="address" name="address" class="form-control" value="{{community.address}}">
    </div>
  </div>
{% endblock %}

{% block footer %}
  <button id="delete-community-btn" data-loading-text="删除中..." type="button" class="btn btn-default pull-left" data-url="{{ path('admin_community_delete', {id:community.id}) }}"><i class="glyphicon glyphicon-trash"></i>删除</button>
  <button id="edit-community-btn" data-loading-text="{{'form.btn.submit.submiting'|trans}}" type="submit" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#community-edit-form">{{'form.btn.save'|trans}}</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{'form.btn.cancel'|trans}}</button>

  <script>app.load('custombundle/controller/community/edit-modal');</script>
{% endblock %}