{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_community_manage' %}

{% set script_controller = 'custombundle/controller/community/list' %}

{% block main %}
  {{ web_macro.flash_messages() }}

  <form id="community-search-form" class="form-inline well well-sm" action="" method="get" novalidate>
    <div class="mbm">
      <div class="form-group distpicker">
        <select class="form-control" id="provinceQuery" name="provinceQuery" data-province="{{ app.request.get('provinceQuery')|default('') }}"></select>
        <select class="form-control" id="cityQuery" name="cityQuery" data-city="{{ app.request.get('cityQuery')|default('') }}"></select>
        <select class="form-control" id="districtQuery" name="districtQuery" data-district="{{ app.request.get('districtQuery')|default('') }}"></select>
      </div>

      <div class="form-group">
        <select id="keywordType" name="keywordType" class="form-control">
          {{ select_options(dict('communityKeyWordType'), app.request.query.get('keywordType') ? app.request.query.get('keywordType') : 'name') }}
        </select>
      </div>

      <div class="form-group">
        <input type="text" id="keyword" name="keyword" class="form-control" value="{{ app.request.query.get('keyword') }}"
               placeholder="{{ 'admin.user.form.input_placeholder.keyword'|trans }}">
      </div>

      <button class="btn btn-primary">{{ 'admin.user.form.btn.search_submit_btn'|trans }}</button>

      {% if has_permission('admin_user_export') and is_plugin_installed('UserImporter') %}
        <a class="btn btn-primary mhs" id="user-export" data-toggle="modal" data-target="#modal"
           data-url="{{ path('admin_user_export') }}">{{ 'plugin.admin.user.manage.form.user_export_btn'|trans }}</a>
      {% endif %}

    </div>
  </form>

  <table id="user-table" class="table table-striped table-hover" data-search-form="#user-search-form">
    <thead>
    <tr>
      {% if setting('magic.enable_org','0') %}
        <th><input type="checkbox"  data-role="batch-select"></th>
      {% endif %}
      <th>社区名称</th>
      {% include 'org/parts/table-thead-tr.html.twig' %}
      <th>地区</th>
      <th>服务电话</th>
      <th>小区数量</th>
      <th width="10%">{{ 'admin.user.fields.operation_label'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    <p class="text-muted">
      <span class="mrl">{{ '社区总数'|trans }}<strong class="inflow-num">{{ communityCount }}</strong></span>
    </p>
    {% for community in communities %}
      {% include '@Custom/admin/community/community-table-tr.html.twig' with {community:community, countHousingEstate:countHousingEstates[community.id]|default(null)} %}
    {% endfor %}
    </tbody>
  </table>

  {% include 'org/org-tree-select.html.twig' with {orgCode: app.request.get('orgCode'), modal: 'list'} %}
  {{ admin_macro.paginator(paginator) }}
{% endblock %}