{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% block title %}{{ '社区信息查看'|trans }}{% endblock %}

{% block body %}
  <table class="table table-striped table-condenseda table-bordered">
    <tr>
      <th width="25%">{{ '名称'|trans }}</th>
      <td width="75%">
        {#<a class="pull-right" href="{{ path('user_show', {id:community.id}) }}"#}
           {#target="_blank">{{ '社区首页'|trans }}</a>#}
        {{ community.name }}
      </td>
    </tr>
    <tr>
      <th>地区</th>
      <td>{{ community.province }}-{{ community.city }}-{{ community.district }}</td>
    </tr>
    <tr>
      <th>办公电话</th>
      <td>{{ community.officePhone|default('--') }}</td>
    </tr>
    <tr>
      <th>服务中心地址</th>
      <td>{{ community.address|default('--') }}</td>
    </tr>
    <tr>
      <th>社区用户数</th>
      <td>{{ countUser }}人</td>
    </tr>
    <tr>
      <th>小区数量</th>
      <td>{{ countHousingEstate }}个</td>
    </tr>
    <tr>
      <th>小区信息</th>
      <td>
        {% for housingEstate in housingEstates%}
          {{ housingEstate.name }}
          {% if not loop.last %}
            、
          {% endif %}
        {% else %}
          暂无
        {% endfor %}
      </td>
    </tr>
  </table>
{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'form.btn.close'|trans }}</button>
{% endblock %}
