{% extends 'bootstrap-modal-layout.html.twig' %}
{% set modal_class= "modal-md" %}

{% block title %}{{ '评价信息'|trans }}{% endblock %}


{% block body %}
  <h3>用户名：{{ user.nickname }}</h3>
  <div class="">
    {{ record.estimate|default('') }}
  </div>
  <div>
    评价时间:{{ estimateTime|date('Y-m-d') }}
  </div>
{% endblock %}

{% block footer %}
  <a class="btn btn-success pull-right" data-dismiss="modal">{{'form.btn.cancel'|trans}}</a>
{% endblock %}
