{% extends 'my/layout.html.twig' %}

{% block title %}
  {{ clinic.name }}- {{ parent() }}
{% endblock %}

{% block content %}
  <ol class="breadcrumb">
    <li><a href="{{ path('community_periphery') }}">社区周边</a></li>
    <li class="active">{{ clinic.name }}</li>
  </ol>

  {% include '@Custom/clinic/show/show-header.html.twig' %}
  <div class="row">
    <div class="col-lg-3 col-md-4 course-sidebar course-sidebar-phone visible-xs">

      {{ render(controller('CustomBundle:Clinic:clinicTeam', {id:clinic.id})) }}

    </div>
    <div class="col-lg-9 col-md-8 course-detail-content">
      <section class="es-section">
        <div class="nav-btn-tab cmfs-nav-btn-tab" style="padding-right:0px">
          {% include '@Custom/clinic/show/show-nav.html.twig' %}
        </div>

        <div class="tab-content">
          {% if filter == 'base' %}
            {% include '@Custom/clinic/show-tabs/base.html.twig' %}
          {% elseif filter == 'record' %}
            {{ render(controller('CustomBundle:ClinicReservationRecord:listOfClinic', {clinicId:clinic.id, request:app.request})) }}
          {% elseif filter == 'score' %}
            {{ render(controller('CustomBundle:Score:listOfClinic',{clinicId:clinic.id, request:app.request})) }}
          {% endif %}
        </div>
      </section>
    </div>
    <div class="col-lg-3 col-md-4 course-sidebar ">
      {{ render(controller('CustomBundle:Clinic:clinicTeam', {id:clinic.id})) }}
    </div>
  </div>


  {% include 'common/weixin-share.html.twig' with {
  'title': clinic.name,
  'desc': clinic.introduction|striptags|purify_and_trim_html,
  'link': app.request.uri,
  'imgUrl': clinic.largeMark,
  } %}

  {{ slot('course.bottom.extension', {'course': clinic}) }}
{% endblock %}

