
  <div class="es-section course-detail-section clearfix">
    <div class="course-detail-bottom">
      <div class="course-detail-img">
        <img class="img-responsive" src="
        {% if clinic.midMark != '' %}
          {{ clinic.midMark }}
        {% else %}
          {{ filepath('', 'group.png') }}
        {% endif %}" alt="{{ clinic.name }} ">
      </div>
      <div class="course-detail-info hidden-xs">
        {# 课程名 #}
        <div class="course-detail__title">
          {{ clinic.name|default('') }}
        </div>
        {# 价格 #}
        <div class="course-detail__price">
          {{ community.province }}--{{ community.city }}--{{ community.district }}  {{ community.name }}
        </div>

        <div class="course-detail-gray course-detail__btn-relative">

          <div class="mb15 hidden-xs">
          <span class="course-detail__title">
            <i class="glyphicon glyphicon-map-marker"></i>
          </span>
            <span class="gray-dark mrl">
            详细地址：{{ clinic.address }}
          </span>
          </div>

          <div class="mb15 hidden-xs">
          <span class="course-detail__title">
            <i class="glyphicon glyphicon-earphone"></i>
          </span>
            <span class="gray-dark mrl">
            联系电话：{{ clinic.phone|default('') }}
          </span>
          </div>

          <div class="mb15 hidden-xs">
          <span class="course-detail__title">
            <i class="es-icon es-icon-people"></i>
          </span>
            <span class="gray-dark">
              {% set recordNumber = data('ClinicReservationNumber', {clinicId:clinic.id}) %}
            接诊人次：{{recordNumber|default(0)}}人次
          </span>
          </div>

          <div class="text-right buy-btn-group course-detail__btn">
            <a class="btn btn-primary btn-lg mt10" href="{{ path('clinic_bespeak', {clinicId:clinic.id}) }}">预约就诊</a>
          </div>

        </div>

        <div class="course-detail-section-responsive visible-xs visible-sm clearfix">
          <ul class="clearfix">
            <!--营销页显示-->

            <li class="es-share top">
              <a class=" dropdown-toggle" href="" data-toggle="dropdown" title="{{ 'course.share'|trans }}">
                <i class="es-icon es-icon-share"></i>
                <br/>
                {{ 'course.share'|trans }}
              </a>
              {#{% include 'common/share-dropdown.html.twig' with {type:'courseSet'} %}#}
            </li>
          </ul>
        </div>

      </div>
      <div class="course-detail-info visible-xs">
        <div class="clearfix">
        <span class="info-head text-overflow">
          {{ clinic.name }}
        </span>
          <div class="info-btns">
          <span class="es-share top">
            <a class=" dropdown-toggle btn btn-default btn-xs" href="" data-toggle="dropdown" title="{{ 'course.share'|trans }}">
              <i class="es-icon es-icon-share"></i>
            </a>
            {#{% include 'common/share-dropdown.html.twig' with {type:'courseSet'} %}#}
          </span>
          </div>
        </div>
        <div class="info-price">
          {#{% include 'course/header/header-for-price.html.twig' %}#}
        </div>
        <ul class="list-unstyled info-list clearfix">
          {% if college.name is defined %}
            <li class="text-overflow">
              <i class="es-icon es-icon-homefill"></i>
              {{ college.name }}
            </li>
          {% endif %}
          <li class="text-overflow">
            <i class="es-icon es-icon-time"></i>
            建议每周学习{{ course.suggestHours|default(0) }}小时
          </li>
          {% if setting('course.show_student_num_enabled', '1') == 1 %}
            <li class="text-overflow">
              <i class="es-icon es-icon-friends"></i>
              {{ courseSet.studentNum|default(0) }}人已加入
            </li>
          {% endif %}
        </ul>
      </div>

      <div class="info-button btn btn-primary btn-lg btn-block visible-xs">
      </div>
    </div>
  </div>
