<ul class="nav nav-tabs" role="tablist">
  <li class="{% if filter == 'base' %}active{% endif %}"><a href="{{ path('clinic_show', {filter: 'base',id:clinic.id}) }}">基本信息</a>
  </li>

  <li class="{% if filter == 'record' %}active{% endif %}"><a href="{{ path('clinic_show',{filter: 'record', id:clinic.id}) }}" >预约记录</a></li>

  {#<li class="{% if filter == 'evaluation' %}active{% endif %}"><a href="{{ path('clinic_show',{filter: 'evaluation', id:clinic.id}) }}">反馈记录</a></li>#}

  <li class="{% if filter == 'score' %}active{% endif %}"><a href="{{ path('clinic_show',{filter: 'score', id:clinic.id}) }}">评分记录</a></li>
</ul>