.options-menu {
  .options-menu__list {
    padding-left: 20px;
    min-height: 60px;
    line-height: 60px;
    font-size: 14px;
    >div {
      float: left;
      margin-top: 23px;
      width: 70px;
      color: #616161;
      text-align: left;
      letter-spacing: 0;
      line-height: 14px;
    }
    ul {
      // float: left;
      display: inline-block;
      margin: 0;
      padding: 0;
      max-width: 90%;
      list-style: none;
      li {
        display: inline-block;
        .selected-option {
          margin-right: 20px;
          border: 1px solid #e1e1e1;
          border-radius: 2px;
          padding: 5px 6px 5px 8px;
          color: #f26200;
          span {
            padding-left: 6px;
            font-weight: 600;
            &:hover {
              cursor: pointer;
            }
            a {
              color: #919191;
            }
          }
        }
        >a {
          color: #919191;
          &:hover {
            color: #f26200;
          }
        }
        &.selected {
          a {
            color: #f26200;
          }
        }
      }
    }
    .second-menu {
      margin-left: 70px;
    }
  }
  .options-menu__list__second {
    background: rgba(0, 0, 0, 0.08)
  }
  .options-box {
    border-bottom: 1px dashed #e1e1e1;
  }
}