<div id="base" role="tabpanel" class="tab-pane active">
  <div class="es-piece">
    <div class="piece-header">{{ '诊所宣传语'|trans }}</div>
    <div class="piece-body p-lg clearfix">
      {{ clinic.slogan|default('暂无宣传语') }}
    </div>
  </div>

  <div class="es-piece">
    <div class="piece-header">{{ '诊所介绍'|trans }}</div>
    <div class="piece-body p-lg clearfix">
      {{ clinic.introduction|default('暂无介绍') }}
    </div>
  </div>
</div>