{% import "macro.html.twig" as macro %}

<div id="base" role="tabpanel" class="tab-pane active">
  <form id="clinic-search-form" class="form-inline well well-sm" action="" method="get" novalidate>
    <div class="mbm">
      <div class="form-group">
        <select id="keywordType" name="keywordType" class="form-control">
          {{ select_options(dict('communityKeyWordType'), app.request.query.get('keywordType') ? app.request.query.get('keywordType') : 'name') }}
        </select>
      </div>

      <div class="form-group">
        <input type="text" id="keyword" name="keyword" class="form-control" value="{{ app.request.query.get('keyword') }}"
               placeholder="{{ 'admin.user.form.input_placeholder.keyword'|trans }}">
      </div>
      <button class="btn btn-primary">{{ 'admin.user.form.btn.search_submit_btn'|trans }}</button>
    </div>
  </form>

  <table id="user-table" class="table table-striped table-hover" data-search-form="#user-search-form">
    <thead>
    <tr>
      <th>用户</th>
      <th>状态</th>
      <th>申请时间</th>
    </tr>
    </thead>
    <tbody>
    <p class="text-muted">
      <span class="mrl">{{ '记录总数'|trans }}<strong class="inflow-num">{{ count }}</strong></span>
    </p>
    {% for record in records %}
      {% set user = users[record.userId] %}
      <tr id="community-table-tr-{{ record.id }}">

        <td>
          <strong>{{ macro.user_link(user) }}</strong>
        </td>

        <td>
          {% if record.status == 'waiting' %}
            等待接诊
          {% elseif record.status == 'underway' %}
            就诊中
          {% elseif record.status == 'finsh' %}
            已完成
          {% endif %}
        </td>

        <td>
          {{ reservationTime|date('Y-m-d') }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {{ macro.paginator(paginator) }}
</div>