{% import "macro.html.twig" as macro %}

<div id="base" role="tabpanel" class="tab-pane active">
  <form id="clinic-search-form" class="form-inline well well-sm" action="{{ path('clinic_show', {id: clinicId, filter: 'record'}) }}" method="get" novalidate>
    <div class="mbm">
      {#<div class="form-group">#}
        {#<select id="keywordType" name="keywordType" class="form-control">#}
          {#{{ select_options(dict('communityKeyWordType'), app.request.query.get('keywordType') ? app.request.query.get('keywordType') : 'name') }}#}
        {#</select>#}
      {#</div>#}

      <div class="form-group">
        <input type="text" id="nickname" name="nickname" class="form-control" value="{{ conditions['nickname']|default(null) }}"
               placeholder="{{ '请输入用户名'|trans }}">
      </div>
      <button type="submit" class="btn btn-primary">{{ 'admin.user.form.btn.search_submit_btn'|trans }}</button>
    </div>
  </form>

  <table id="user-table" class="table table-striped table-hover" data-search-form="#user-search-form">
    <thead>
    <tr>
      <th>预约用户</th>
      <th>就诊状态</th>
      <th>预约时间</th>
      <th>病人评价</th>
    </tr>
    </thead>
    <tbody>
    <p class="text-muted">
      <span class="mrl">{{ '记录总数'|trans }}<strong class="inflow-num color-primary">{{ count }}</strong></span>
    </p>
    {% for record in records %}
      {% set user = users[record.userId] %}
      <tr id="community-table-tr-{{ record.id }}">

        <td>
          <strong>{{ macro.user_link(user) }}</strong>
        </td>

        <td>
          {% if record.status == 'waiting' %}
            等待接诊
          {% elseif record.status == 'underway' %}
            就诊中
          {% elseif record.status == 'finsh' %}
            已完成
          {% endif %}
        </td>

        <td>
          {{ record.reservationTime|date('Y-m-d H:i') }}
        </td>

        <td>
          {% if record.estimate != '' %}
            <a href="#modal" data-toggle="modal" data-url="{{ path('show_clinic_reservation_record_estimate', {recordId:record.id, userId:user.id}) }}" data-url="" class="btn btn-default btn-sm">{{ 'admin.user.btn.show_btn'|trans }}
            </a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% if records|length <= 0 %}
    <div class="empty">
      暂无记录
    </div>
  {% endif %}
  {{ macro.paginator(paginator) }}
</div>