{% import "macro.html.twig" as macro %}

<div id="base" role="tabpanel" class="tab-pane active">
  <form id="clinic-search-form" class="form-inline well well-sm" action="{{ path('clinic_show', {id: clinicId, filter: 'score'}) }}" method="get" novalidate>
    <div class="mbm">
      <div class="form-group">
        <input type="text" id="nickname" name="nickname" class="form-control" value="{{ app.request.get('nickname')|default(null) }}"
               placeholder="{{ '请输入用户名'|trans }}">
      </div>
      <button type="submit" class="btn btn-primary">{{ 'admin.user.form.btn.search_submit_btn'|trans }}</button>
    </div>
  </form>

  <table id="user-table" class="table table-striped table-hover" data-search-form="#user-search-form">
    <thead>
    <tr>
      <th>预约用户</th>
      <th>评分</th>
      <th>评分时间</th>
    </tr>
    </thead>
    <tbody>
    <p class="text-muted">
      <span class="mrl">{{ '记录总数'|trans }}<strong class="inflow-num color-primary">{{ count }}</strong></span>
    </p>
    {% for score in scores %}
      {% set user = data('User', {userId: score.userId}) %}
      <tr id="community-table-tr-{{ score.id }}">

        <td>
          <strong>{{ macro.user_link(user) }}</strong>
        </td>

        <td>
          {{ score.score }}分
        </td>

        <td>
          {{ score.createdTime|date('Y-m-d H:i') }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% if scores|length <= 0 %}
    <div class="empty">
      暂无记录
    </div>
  {% endif %}
  {{ macro.paginator(paginator) }}
</div>