<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ '医生团队'|trans }}</h3>
  </div>
  <div class="panel-body">
    <div class="clearfix js-teahcer-section">
      {% for doctor in doctors %}
        {% set doctorProfile = doctorProfiles[doctor.id] %}

        <div class="media media-default">
          <div class="media-left">
            <a class="js-user-card" href="{{ path('user_show', {'id': doctor.id}) }}"
               data-card-url="{{ path('user_card_show', {'userId': doctor.id}) }}"
               data-user-id="{{ doctor.id }}"
               data-original-title="" title="">
              <img class="avatar-md" src="{{ filepath(doctor.mediumAvatar, 'avatar.png') }}"></a>
          </div>
          <div class="media-body">
            <div class="content">
              <a class="link-dark link-dark"
                 href="{{ path('user_show', {'id': doctor.id}) }}">{{ doctorProfile.truename|default('暂无姓名') }}</a>
            </div>
            <div class="content">{{ doctor.nickname }}</div>
            <div class="content"></div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% if doctors|length > 2 %}
      <div class="ptl text-center visible-xs js-check-all-teacher">
        <a href="javascript:;" class="color-gray">
          查看全部医生
          <i class="es-icon es-icon-keyboardarrowdown"></i>
          <i class="es-icon es-icon-keyboardarrowup hidden"></i>
        </a>
      </div>
    {% endif %}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ '护士团队'|trans }}</h3>
  </div>
  <div class="panel-body">
    <div class="clearfix js-teahcer-section">
      {% for nurse in nurses %}
        {% set nurseProfile = nurseProfiles[nurse.id] %}

        <div class="media media-default">
          <div class="media-left">
            <a class="js-user-card" href="{{ path('user_show', {'id': nurse.id}) }}"
               data-card-url="{{ path('user_card_show', {'userId': nurse.id}) }}"
               data-user-id="{{ nurse.id }}"
               data-original-title="" title="">
              <img class="avatar-md" src="{{ filepath(nurse.mediumAvatar, 'avatar.png') }}"></a>
          </div>
          <div class="media-body">
            <div class="content">
              <a class="link-dark link-dark"
                 href="{{ path('user_show', {'id': nurse.id}) }}">{{ nurseProfile.truename|default('暂无姓名') }}</a>
            </div>
            <div class="content">{{ nurse.nickname }}</div>
            <div class="content"></div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% if nurses|length > 2 %}
      <div class="ptl text-center visible-xs js-check-all-teacher">
        <a href="javascript:;" class="color-gray">
          查看全部护士
          <i class="es-icon es-icon-keyboardarrowdown"></i>
          <i class="es-icon es-icon-keyboardarrowup hidden"></i>
        </a>
      </div>
    {% endif %}
  </div>
</div>

