{% if side_nav in ['community-advice-box', 'community-complaint-box', 'community-files-box'] %}
  <div class="col-md-2 my-layout">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
          <li class="{% if side_nav == 'community-files-box' %}active {% endif %}">
            <a href="{{ path('my_community_files') }}">文件库</a>
          </li>
          <li class="{% if side_nav == 'community-advice-box' %}active {% endif %}">
            <a href="{{ path('my_community_advice') }}">建议箱</a>
          </li>
          <li class="{% if side_nav == 'community-complaint-box' %}active {% endif %}">
            <a href="{{ path('my_community_complaint') }}">投诉信</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-10">
    <div class="col-md-12">
      {% block pageTitle %}{% endblock %}
    </div>

    {% block main %}{% endblock %}
  </div>
{% endif %}