{% do script('custombundle/js/clinic/clinic-team/index.js') %}

<div class="col-md-12">
  <label class="col-md-2"><i class="mr5 color-danger">*</i>{{ title }}</label>
  <div class="col-md-8">
    <div id="clinic-{{ field_name }}" data-field-name="{{ field_name }}" data-init-value="{{doctorIds|default([])|json_encode}}" data-query-url="{{path('match_users_by_nickanme_or_truename')}}"></div>
  </div>
</div>