{% extends 'bootstrap-modal-layout.html.twig' %}
{% set modal_class= "modal-md" %}

{% block title %}{{ '图像截取'|trans }}{% endblock %}

{% do script(['custombundle/js/clinic/clinic-crop/index.js']) %}

{% block body %}
  <div id="picture-crop-form" class="panel-body">
    <div class="form-group clearfix">
      <div class="col-md-offset-2 col-md-8 controls">
        <img class="img-responsive" src="{{ filepath(pictureUrl) }}"
             id="picture-crop"
             width="{{scaledSize.width}}" height="{{scaledSize.height}}" data-natural-width="{{ naturalSize.width }}" data-natural-height="{{ naturalSize.height }}" />
        <div class="help-block">{{'courseset_manage.cover_img.tips'|trans}}</div>
      </div>
    </div>

    <div class="form-group clearfix">
      <div class="col-md-offset-2 col-md-8 controls">
          <button class="btn btn-fat btn-primary upload-picture-btn"
                  data-url="{{path('clinic_mark_crop_modal')}}"
                  id="save-picture-btn" data-loading-text="{{'form.btn.save.submiting'|trans}}">{{'form.btn.save'|trans}}</button>
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
  <a class="btn btn-success pull-right" data-dismiss="modal">{{'form.btn.cancel'|trans}}</a>
{% endblock %}
