.course-item__pc {
  padding: 5px 1px 1px 5px;
  .course-img {
    a {
      display: block;
      width: 100px;
      height: 90px;
      img {
        padding: 0 !important;
        margin-top: 5px;
        width: 100%;
        height: 100%;
      }
    }
  }
  .score-tag {
    margin-top: 5px;
    position: absolute;
    right: 5px;
    top: 0px;
    font-size: large;
    color: #F26200;
  }
  .course-info__pc {
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
    height: 90px;
    .course-info__header {
      padding: 0;
      a {
        font-size: 20px;
        color: #313131;
      }
      .class-status {
        display: inline-block;
        width: 68px;
        height: 22px;
        border-radius: 30px;
        text-align: center;
        line-height: 22px;
        color: #ffffff;
      }
      .class-status__soon {
        background: #3CCCD2;
      }
      .class-status__in-class {
        background: #F26200;
      }
      .class-status__finished {
        background: #c1c1c1;
      }
    }
    .course-info__author {
      margin-top: 5px;
      font-size: 14px;
      color: #616161;
      .author__school {
        margin-right: 50px;
      }
    }
    .course-info__description {
      display: -webkit-box;
      margin-top: 20px;
      color: #b8b8b8;
      font-size: 14px;
      >span {
        color: #616161;
      }
    }
    .course-info__studentNum {
      margin-top: 0;
      color: #c1c1c1;
      .num {
        font-size: 12px;
        i {
          margin-right: 10px;
          font-size: 22px !important;
        }
      }
    }
  }

}

.clinic-detail-img {
  width: 480px;
  height: 300px;
}