.course-detail-info {
  .course-detail__title {
    padding-top: 20px;
    color: #313131;
    font-size: 22px;
  }
  .course-detail__price {
    margin: 20px 0;
    color: #F26200;
    font-size: 20px;
  }
  .course-detail__btn-relative {
    position: relative;
    .course-detail__title {
      margin-right: 10px;
      padding: 0;
      display: inline-block;
      font-size: 12px;
      color: #919191;
    }
    .course-detail__btn {
      position: absolute;
      top: 50px;
      right: 50px;
    }
  }
}

@media (min-width: 992px) {
  .course-freelearn-section {
    margin-bottom: 50px;
    .course-progress {
      top: 100px;
    }
  }
}

.cmfs-member-tabs {
  >li {
    a {
      padding: 5px 20px 15px !important;
    }
  }
}

.course-detail-top {
  .course-detail-heading {
    display: none !important;
  }
  .course-operation {
    >li {
      .cursor-default {
        display: none;
      }
    }
  }
}