
<section class="" id="recommand-course-tab">
  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs slideshow-nav" role="tablist">
      <li class=""><a><strong>资讯新闻</strong></a>
      </li>
      <li role="presentation" class="active"><a href="#latest" aria-controls="latest" role="tab" data-toggle="tab">最新</a></li>
      <li role="presentation"><a href="#hot" aria-controls="hot" role="tab" data-toggle="tab">最热</a></li>
      <li role="presentation"><a href="#promoted" aria-controls="promoted" role="tab" data-toggle="tab">推荐</a></li>
      <li id="course-more-1" class="pull-right course-more js-more" data-placement="top" data-toggle="tooltip" data-original-title="更多">
        <a class="grey hover-primary" target="_blank" href="{{ path('article_show') }}"><i class="es-icon es-icon-morehoriz"></i></a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="latest">
        {% include '@Custom/default/article/latest-block.html.twig' %}
      </div>
      <div role="tabpanel" class="tab-pane" id="hot">
        {% include '@Custom/default/article/hot-block.html.twig' %}
      </div>
      <div role="tabpanel" class="tab-pane" id="promoted">
        {% include '@Custom/default/article/promoted-block.html.twig' %}
      </div>
    </div>
  </div>
</section>
