<div class="course-list" id="course-commend-1">
  <div class="row">
    {% for hotArticle in hotArticles %}
      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="course-item">
          <div class="course-img">
            <a href="{{ path('article_detail', {id:hotArticle.id}) }}" class="" target="_blank">
              <img src="{{ filepath(hotArticle.originalThumb, 'cloud_image.png') }}" class="img-responsive" alt="{{ hotArticle.title }}">
            </a>
          </div>
          <div class="course-info">
            <div class="title">
              <a href="{{ path('article_detail', {id:hotArticle.id}) }}" class="link-dark pull-left" target="_blank">{{ hotArticle.title }}</a>
              <strong class="pull-right">{{ communities[hotArticle.communityId].name|default('') }}</strong>
            </div>
            <div class="metas clearfix">
              <a class="link-dark pull-left" href="{{ path('article_category', {categoryCode:hotCategories[hotArticle.categoryId].code}) }}" target="_blank">
                {{ hotCategories[hotArticle.categoryId].name }}
              </a>
              <span class="course-price-widget">
              <span class="color-warning">点击量{{ hotArticle.hits }}</span>
            </span>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="empty">
        暂无内容
      </div>

    {% endfor %}
  </div>
</div>