<form class="form-horizontal" id="bespeak-form" action="{{ path('clinic_bespeak',{clinicId:clinic.id}) }}" method="" novalidate="novalidate">
  <div class="form-group">
    <div class="col-sm-2 control-label">
      <label for="reservationTime"><i class="mr5 color-danger">*</i>{{'预约时间'|trans}}</label>
    </div>
    <div class="col-md-8">
      <input type="text" id="reservationTime" name="reservationTime" required="required" class="form-control" value="" >
      <div class="help-block" style="display:none;"></div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-2 control-label">
      <label for="symptom"><i class="mr5 color-danger">*</i>{{'症状描述'|trans}}</label>
    </div>
    <div class="col-md-8">
      <textarea id="symptom" name="symptom" class="form-control" rows="7"></textarea>
      <div class="help-block" style="display:none;"></div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button id="bespeak-submit" type="submit" class="btn btn-primary" data-loading-text="正在保存...">保存</button>
    </div>
  </div>

</form>
