{% extends 'my/layout.html.twig' %}

{% block title %}
  {{ clinic.name }}- {{ parent() }}
{% endblock %}

{% do script(['libs/bootstrap-datetimepicker.js','custombundle/js/clinic/bespeak/index.js']) %}

{% block content %}
  <ol class="breadcrumb">
    <li><a href="{{ path('community_periphery') }}">社区周边</a></li>
    <li><a href="{{ path('clinic_show', {id:clinic.id}) }}">{{ clinic.name }}</a></li>
    <li class="active">预约就诊</li>
  </ol>

  {% include '@Custom/clinic/show/show-header.html.twig' %}

  <div class="panel panel-default col-md-8">
    <div class="panel-heading">
      <h3 class="panel-title">{{ clinic.name|trans }}：预约就诊</h3>
    </div>
    <div class="panel-body">
      {% include '@Custom/clinic/bespeak/form.html.twig' %}
    </div>
  </div>

  <div class="panel panel-default col-md-4">
    <div class="panel-heading">
      <h3 class="panel-title">预约记录</h3>
    </div>
    <div class="panel-body" style="height:500px;overflow-y: auto">
      {{ render(controller('CustomBundle:ClinicReservationRecord:userOfClinicList', {userId:user.id,clinicId:clinic.id})) }}
    </div>
  </div>
{% endblock %}