{% for record in records %}
  <div class="media media-number-o color-gray text-overflow">
    {{ record.createdTime|date('Y-m-d H:i') }}
    <a href="#modal" data-toggle="modal" data-url="{{ path('reservation_record_show', {id:record.id}) }}">{{ record.symptom|default('') }}</a>
  </div>
{% else %}
  <div class="empty">
    暂未在该诊所预约过
  </div>
{% endfor %}
