{% extends '@Custom/my/layout.html.twig' %}

{% block title %}{{'社区运营设置'}} - {{ parent() }}{% endblock %}

{% set side_nav = 'community-setting' %}

{% do script(['libs/jquery-validation.js', 'custombundle/js/my/setting/index.js']) %}

{% block main %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>社区运营设置</strong>
    </div>
    <div class="panel-body">
      {{ web_macro.flash_messages(true) }}
      <form id="setting-community-form" class="form-horizontal" method="post" action="{{ path('my_community_setting') }}">
        <div class="form-group">
          <div class="col-md-2 control-label">
            <b><i class="mr5 color-danger">*</i>名称</b>
          </div>
          <div class="controls col-md-5 controls">
            <input class="form-control" type="text" id="name" name="name" value="{{ community.name }}">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2 control-label">
            <b><i class="mr5 color-danger">*</i>地区</b>
          </div>
          <div class="col-md-8 controls distpicker drop-down-box">
            <div class="form-control select--r12 inline-block w-100">
              <select class="select-box" id="province" name="province" data-province="{{ community.province }}"></select>
            </div>
            <div class="form-control select--r12 inline-block w-100">
              <select class="select-box" id="city" name="city" data-city="{{ community.city }}"></select>
            </div>
            <div class="form-control select--r12 inline-block w-100">
              <select class="select-box" id="district" name="district" data-district="{{ community.district }}"></select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2 control-label">
            <b><i class="mr5 color-danger">*</i>服务地址</b>
          </div>
          <div class="controls col-md-5 controls">
            <input class="form-control" type="text" id="address" name="address" value="{{ community.address }}">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2 control-label">
            <b><i class="mr5 color-danger">*</i>服务电话</b>
          </div>
          <div class="controls col-md-5 controls">
            <input class="form-control" type="text" id="officePhone" name="officePhone" value="{{ community.officePhone }}">
          </div>
        </div>

        <div class="col-md-offset-2">
          <button type="submit" id="setting-submit-btn" data-toggle="#setting-community-form" data-loading-text="正在提交..." class="btn btn-primary">保存</button>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
        </div>
      </form>
    </div>
  </div>
{% endblock %}