<ol class="breadcrumb">
  <li><a href="{{path('my_community_article_show')}}">{{'article.channel'|trans({'%article_name%': setting('article.name')|default('article'|trans)})}}</a></li>
  {% for breadcrumb in breadcrumbs %}
    <li><a href="{{path('my_community_article_category',{categoryCode:breadcrumb.code})}}">{{breadcrumb.name}}</a></li>
  {% endfor %}
  <li class="active">{{'article.detail.text'|trans}}</li>
</ol>
