{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}

{% block title %}
  {{'创建小区'|trans}}
{% endblock %}


{% block body %}
<style>
.ui-autocomplete {
    z-index: 1200 !important;
    border:1px solid #ccc;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 3px #EEEEEE;
}
.ui-autocomplete-ctn{
    margin:0;
    padding:0;
}
.ui-autocomplete-item {
    width: 410px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
    padding:0 10px 0 10px;
    cursor: default;
}
.ui-autocomplete-item-hover {
    background:#f2f2f2;
}
.ui-autocomplete-item-hl {
    background:#F6FF94;
}
.delete-control-room {
  height: 34px;
  line-height: 34px;
}
.create-control-room {
  width: 100%;
  height: 34px;
  text-align: center;
}
</style>

<form id="housing-estate-create-form" class="form-horizontal" method="post" action="{{ url('admin_housingestate_create') }}">

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="name">{{'名称'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <input type="text" id="name" name="name" class="form-control" value="" placeholder="请输入小区名称">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label"><label for="communityName">所属社区</label></div>
    <div class="col-sm-8 controls">
      {% set communityMatchUrl = path('fill_userinfo_community_match') ~ '?q={{query}}' %}
      <input type="text" id="communityName" name="communityName" class="form-control" value="" data-url="{{ communityMatchUrl }}" data-role="item-input" placeholder="请输入所属社区">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="address">{{'详细地址'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <input type="text" id="address" name="address" class="form-control" value="" placeholder="请输入详细地址">
    </div>
  </div>
{% endblock %}

{% block footer %}
  <button id="create-housing-estate-btn" data-loading-text="{{'form.btn.submit.submiting'|trans}}" type="submit" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#housing-estate-create-form">{{'form.btn.save'|trans}}</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{'form.btn.cancel'|trans}}</button>

  <script>app.load('custombundle/controller/housing-estate/edit-modal');</script>
{% endblock %}