{% import 'admin/macro.html.twig' as admin_macro %}
<tr id="housingEstate-table-tr-{{ housingEstate.id }}">
  {% include 'org/parts/table-body-checkbox.html.twig' %}
  <td>
    {{ housingEstate.name }}
  </td>
  {#{% include 'org/parts/table-body-td.html.twig' with {orgCode: user.orgCode}%}#}
  <td>
    {{ community.province }}-{{ community.city }}-{{ community.district }}
  </td>

  <td>
    {{ community.name }}
  </td>

  <td>
    {% render(controller('CustomBundle:Admin/HousingEstate:queryCountUser', {province: community.province, city: community.city, district: community.district, community: community.name, housingEstate: housingEstate.name})) %}
  </td>

  <td>
    <div class="btn-group">
      <a href="#modal" data-toggle="modal" data-url="{{ path('admin_show_housingestate', {id:housingEstate.id}) }}" class="btn btn-default btn-sm">{{ '查看'|trans }}</a>
      {% include 'admin/role/templates/group-button.html.twig' with {parentCode: 'admin_housingestate_manage', group:'groupButton', housingEstate: housingEstate} %}
    </div>
  </td>
</tr>

