{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% block title %}{{ '小区信息查看'|trans }}{% endblock %}

{% block body %}
  <table class="table table-striped table-condenseda table-bordered">
    <tr>
      <th width="25%">{{ '名称'|trans }}</th>
      <td width="75%">
        {{ housingEstate.name }}
      </td>
    </tr>
    <tr>
      <th>{{ '地区' }}</th>
      <td>{{ community.province }}-{{ community.city }}-{{ community.district }}</td>
    </tr>
    <tr>
      <th>所属社区</th>
      <td>{{ community.name }}</td>
    </tr>
    <tr>
      <th>详细地址</th>
      <td>{{ housingEstate.address|default('--') }}</td>
    </tr>
    <tr>
      <th>小区人数</th>
      <td>{% render(controller('CustomBundle:Admin/HousingEstate:queryCountUser', {province: community.province, city: community.city, district: community.district, community: community.name, housingEstate: housingEstate.name})) %}</td>
    </tr>
  </table>
{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'form.btn.close'|trans }}</button>
{% endblock %}
