.information-table {
  background: #ffffff;
}

.self-md-offset {
  @media (min-width: 992px) {
    margin-left: 20.8%;
  }
}

.information-table__header {
  margin: 60px auto;
  h3 {
    color: #313131;
    line-height: 20px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
}

.information-table__body {
  @media (min-width: @screen-sm-min) {
    padding-left: 93px;
  }
  .information-title {
    margin-top: 60px;
    margin-bottom: 30px;
    border-bottom: 1px solid #cf010e;
    width: 308px;
    color: #cf010e;
    font-size: 16px;
    opacity: 0.88;
    @media (min-width: @screen-sm-min) {
      margin-left: 20px;
    }
  }
  .image-size-limit {
    width: 60px;
    height: 60px;
  }
  .image-upload-mask {
    .image-upload-content {
      .fz-32 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 32px;
      }
    }
  } 

  .form-group {
    .form-group__label {
      min-width: 98px;
      height: 34px;
      text-align: right;
      font-size: 16px;
      line-height: 34px;
      color: #313131;
      font-weight: normal;
      @media (max-width: @screen-sm-max) {
        text-align: left;
      }
      @media (min-width: @screen-sm-min) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .drop-down-box {
      .one-third {
        @media (min-width: @screen-sm-min) {
          width: 100px; 
        }
      } 
    }
  }

  .create-control-room {
    background-color: #FFF;
    width: 100%;
    height: 34px;
    color: #EF6C00;
    border: 1px solid #EF6C00;
    text-align:center;
  }

  .delete-control-room {
    height: 34px;
    line-height: 34px;
    color: #EF6C00;
  }
}

.information-btn {
  width: 92px;
  height: 30px;
  border: 1px solid #cf010e;
  border-radius: 2px;
  background: #cf010e;
  color: #ffffff;
  font-size: 16px;
  line-height: 16px;
}