.single-information-table {
  .distpicker {
    .shadow-set {
      box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.08);
    }
  }
}

.form-group {
  .select {
    position: relative;
    &::after {
      position: absolute;
      bottom: 5px;
      right: 0;
      font-family: 'iconfont';
      content: '\e600'
    }
  }
  .select--r12 {
    position: relative;
    &::after {
      position: absolute;
      bottom: 5px;
      right: 12px;
      font-family: 'iconfont';
      content: '\e600'
    }
  }
  .select-box {
    display: inline-block;
    border: none;
    width: 100%;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    font-size: 14px;
    color: #000000;
    background: #fff;
  }
  .control-room-btn {
    border: 1px solid #EF6C00;
    width: 120px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 12px;
    color: #EF6C00;
    background: #ffffff;
    a{
      color: #EF6C00;
    }
  }
  .w-65 {
    width: 65px;
  }
  .w-100 {
    width: 100px;
  }  
}

.control-room__relative {
  position: relative;
  .control-room__delete {
    position: absolute;
    bottom: 5px;
    right: 0;
    display: block;
    z-index: 2;
    font-size: 12px;
    color: #EF6C00;
  }
}

.no-padding {
  .part-title {
    margin-bottom: 32px;
    padding: 24px 10px;
    height: 64px;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    opacity: 0.88;
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.08);
  }
}

.rotate-animate {
  .rotateAnimate();
}