{% import 'macro.html.twig' as macro %}
<tr id="housingEstate-table-tr-{{ complaint.id }}">
  {% include 'org/parts/table-body-checkbox.html.twig' %}
  <td>
    {{ user.nickname }}
  </td>
  {#{% include 'org/parts/table-body-td.html.twig' with {orgCode: user.orgCode}%}#}

  <td>
    {% if complaint.status == 'nosee' %}
      未查看
    {% elseif complaint.status == 'pending' %}
      已查看
    {% elseif complaint.status == 'processed' %}
      已处理
    {% endif %}
  </td>

  <td>
    {{ complaint.createdTime|date('Y-m-d h:i') }}
  </td>

  <td>
    <div class="btn-group">
      <a href="#modal" data-toggle="modal" data-url="{{ path('my_community_complaint_show', {id:complaint.id}) }}" class="btn btn-default btn-sm">{{ '查看'|trans }}</a>
    </div>
  </td>
</tr>

