{% extends 'bootstrap-modal-layout.html.twig' %}
{% set modal_class= "modal-lg" %}

{% block title %}{{ '投诉信'|trans }}{% endblock %}

{% do script('custombundle/js/advice/create/index.js') %}

{% block body %}
  <form id="advice-form" class="form-horizontal" method="post"
        action="{{ path('my_community_complaint_create') }}">
    <div class="form-group">
      <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-info">
          投诉后，展示投诉信息时用户名将会采用隐藏显示。
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="content">内容</label>
      <div class="col-md-8 controls">
        <textarea required='required' name="content" rows="16" id="content" class="form-control"
                  data-image-upload-url="{{ path('editor_upload', {token:upload_token('user')}) }}"></textarea>
      </div>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>
{% endblock %}

{% block footer %}
  <button id="advice-save-btn" data-submiting-text="{{ 'form.btn.submit.submiting'|trans }}"
          class="btn btn-primary pull-right"
          data-toggle="form-submit" data-target="#advice-form">{{ 'form.btn.submit'|trans }}</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{ 'form.btn.cancel'|trans }}</button>
{% endblock %}