{% extends '@Custom/service-center/layout.html.twig' %}
{% import 'macro.html.twig' as macro %}

{% block title %}{{ '社区投诉信' }} - {{ parent() }}{% endblock %}

{% set side_nav = 'community-complaint-box' %}

{% block main %}
  <div class="panel panel-default" role="my-teaching-course-sets">
    <div class="panel-heading">
      <strong>社区投诉信</strong>
      <div class="pull-right">
        <a id="create-slideshow" class="btn btn-primary" href="#modal" data-toggle="modal" data-url="{{ path('my_community_complaint_create') }}">投诉</a>
      </div>
    </div>
    <div class="panel-body">
      <table id="user-table" class="table table-striped table-hover" data-search-form="#housing-estate-search-form">
        <thead>
        <tr>
          <th>投诉用户</th>
          <th>状态</th>
          <th>提交时间</th>
          <th width="25%">{{ 'admin.user.fields.operation_label'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        <p class="text-muted">
          <span class="mrl">{{ '投诉总数'|trans }}<strong class="inflow-num color-primary">{{ count }}</strong></span>
        </p>
        {% for complaint in complaints %}
          {% include '@Custom/complaint-box/complaint-table-tr.html.twig' with {complaint:complaint, user: users[complaint.userId]} %}
        {% endfor %}
        </tbody>
      </table>

      {% if complaints|length() == 0 %}
        <div class="empty">
          暂无数据
        </div>
      {% endif %}

      {{ macro.paginator(paginator) }}
    </div>
  </div>
{% endblock %}