{% extends 'bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-md' %}

{% block title %}{{ '投诉信息查看'|trans }}{% endblock %}

{% block body %}
  <div class="es-piece">
    <div class="piece-header">{{ '投诉内容'|trans }}</div>
    <div class="piece-body p-lg clearfix">
      {{ complaint.content|raw }}
    </div>
  </div>

  {% if complaint.status == 'processed' %}
    <div class="es-piece">
      <div class="piece-header">{{ '处理时间'|trans }}</div>
      <div class="piece-body p-lg clearfix">
        {{ complaint.processTime|date('Y-m-d h:i')|raw }}
      </div>
    </div>
    <div class="es-piece">
      <div class="piece-header">{{ '处理结果'|trans }}</div>
      <div class="piece-body p-lg clearfix">
        {{ complaint.result|raw }}
      </div>
    </div>
  {% endif %}

{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'form.btn.close'|trans }}</button>
{% endblock %}
