<label class="image-upload-label">
  <input type="file" name="file" class="js-upload-input hidden" accept="image/bmp,image/jpeg,image/png"
  data-token="{{ upload_token('default', 'image') }}"
  data-file-upload="{{path('file_upload')}}"
  data-crop="{{ path('file_img_crop') }}"
  data-save-url="{{ path(saveUrl) }}"
  data-targe-img="{{ targetImg }}"
  data-crop-width="{{ cropWidth }}"
  data-crop-height="{{ cropHeight }}" />
</label>