{% extends 'my/layout.html.twig' %}

{% block title %}{{'article.channel'|trans({'%article_name%': setting('article.name')|default('article'|trans)})}} - {{ parent() }}{% endblock %}

{% set bodyClass = 'artcile-tag-page' %}

{% block content %}

  <div class="article-list-body row">

    <!-- list主内容-->
    <div class="col-md-8 article-list-main">
      <div class="es-tag">
        {{'article.tag'|trans({'%name%': tag.name}) }}
      </div>

      {% include '@Custom/community-article/part/list-main.html.twig' %}
    </div>

    <aside class="col-md-4 article-sidebar">
      {% include '@Custom/community-article/widget/tag-sidebar.html.twig' %}
    </aside>
  </div>


{% endblock %}
