{% extends 'my/layout.html.twig' %}

{% block title %}公告中心 - {{ parent() }}{% endblock %}

{% set bodyClass = 'artcile-list-page' %}
{% do script(['app/js/article/list/index.js']) %}

{% block content %}

  <div class="es-tabs article-list-header">
    <div class="tab-header">
      {% include '@Custom/community-announcement/part/list-header-nav.html.twig' %}
    </div>
  </div>


  <div class="article-list-body row">
    <!-- list主内容-->
    <div class="col-md-8 article-list-main">
      {% include '@Custom/community-announcement/part/list-main.html.twig' %}
    </div>

    <aside class="col-md-4 article-sidebar">
      {% include '@Custom/community-announcement/widget/type.html.twig' %}
      {% include '@Custom/community-announcement/widget/sidebar.html.twig' %}
    </aside>
  </div>


{% endblock %}
