{% import 'admin/macro.html.twig' as admin_macro %}
<tr id="community-table-tr-{{ clinic.id }}">
  {% include 'org/parts/table-body-checkbox.html.twig' %}
  <td>
    {{ clinic.name }}
  </td>
  {#{% include 'org/parts/table-body-td.html.twig' with {orgCode: user.orgCode}%}#}
  <td>
    {{ community.province }}/{{ community.city }}/{{ community.district }}
  </td>

  <td>{{ community.name }}</td>

  <td>
    {{ clinic.phone|default('--') }}
  </td>

  <td>
    {{ clinic.address }}
  </td>

  <td>
    <div class="btn-group">
      <a href="#modal" data-toggle="modal" data-url="{{ path('admin_clinic_show', {id:clinic.id}) }}" data-url="" class="btn btn-default btn-sm">{{ '查看'|trans }}</a>
      {% include 'admin/role/templates/group-button.html.twig' with {parentCode: 'admin_clinic_manage', group:'groupButton', clinic: clinic} %}
    </div>
  </td>
</tr>

