{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_clinic_manage' %}

{% set script_controller = 'custombundle/controller/clinic/list' %}

{% block main %}
  {{ web_macro.flash_messages() }}
  <div class="btn-group" style="margin-bottom: 5px">
    <a href=" {{ path('admin_clinic') }}" type="button" class="btn btn-default btn-primary">{{ '诊所管理'|trans }}</a>

    <a href=" {{ path('admin_clinic_reservation_record') }}" type="button" class="btn btn-default">{{ '诊所记录' }}</a>
  </div>

  <form id="clinic-search-form" class="form-inline well well-sm" action="" method="get" novalidate>
    <div class="mbm">
      <div class="form-group distpicker">
        <select class="form-control" id="provinceQuery" name="provinceQuery" data-province="{{ app.request.get('provinceQuery')|default('') }}"></select>
        <select class="form-control" id="cityQuery" name="cityQuery" data-city="{{ app.request.get('cityQuery')|default('') }}"></select>
        <select class="form-control" id="districtQuery" name="districtQuery" data-district="{{ app.request.get('districtQuery')|default('') }}"></select>
      </div>

      <div class="form-group">
        <select id="keywordType" name="keywordType" class="form-control">
          {{ select_options(dict('clinicKeywordType'), app.request.query.get('keywordType') ? app.request.query.get('keywordType') : 'name') }}
        </select>
      </div>

      <div class="form-group">
        <input type="text" id="keyword" name="keyword" class="form-control" value="{{ app.request.query.get('keyword') }}"
               placeholder="{{ 'admin.user.form.input_placeholder.keyword'|trans }}">
      </div>

      <div class="form-group">
        <select id="status" name="status" class="form-control">
          {{ select_options(dict('clinicStatus'), app.request.query.get('status')|default(''), '认证状态') }}
        </select>
      </div>

      <button class="btn btn-primary">{{ 'admin.user.form.btn.search_submit_btn'|trans }}</button>

    </div>
  </form>

  <table id="user-table" class="table table-striped table-hover" data-search-form="#user-search-form">
    <thead>
    <tr>
      {% if setting('magic.enable_org','0') %}
        <th><input type="checkbox"  data-role="batch-select"></th>
      {% endif %}
      <th>名称</th>
      <th>地区</th>
      <th>所属社区</th>
      <th>服务电话</th>
      <th>详细地址</th>
      <th width="10%">{{ 'admin.user.fields.operation_label'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    <p class="text-muted">
      <span class="mrl">{{ '诊所总数'|trans }}<strong class="inflow-num">{{ clinicCount }}</strong></span>
    </p>
    {% for clinic in clinics %}
      {% include '@Custom/admin/clinic/clinic-table-tr.html.twig' with {clinic:clinic, community:communities[clinic.communityId]} %}
    {% endfor %}
    </tbody>
  </table>

  {% include 'org/org-tree-select.html.twig' with {orgCode: app.request.get('orgCode'), modal: 'list'} %}
  {{ admin_macro.paginator(paginator) }}
{% endblock %}