{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-large' %}

{% block title %}
  {{'诊所编辑'|trans}}
{% endblock %}

{% block body %}
  <form id="clinic-modal-form" class="form-horizontal" action="{{ path('admin_clinic_edit',{id:clinic.id}) }}" method="post">
    <div class="col-md-12">
      <div class=" cd-mr24 cd-mb32">
        <img class="cd-avatar cd-avatar-lg" id="clinic-mark" src="{{ filepath(clinic.largeMark|default(null), 'group.png') }}">
        <a id="upload-picture-btn"
           class="btn btn-primary"
           data-upload-token="{{ upload_token('tmp', 'image') }}"
           data-goto-url="{{ path('clinic_mark_crop_modal') }}"
        >上传</a>
      </div>
    </div>
    <input type="text" class="hidden" id="largeMark" name="largeMark">
    <input type="text" class="hidden" id="midMark" name="midMark">
    <input type="text" class="hidden" id="smallMark" name="smallMark">

    <div class="col-md-5">
      <div class="form-group cd-form-group">
        <label for="name"><i class="mr5 color-danger">*</i>{{'诊所名称'|trans}}</label>
        <input type="text" id="name" name="name"  class="form-control" value="{{ clinic.name|default('') }}">
      </div>
    </div>

    <div class="col-md-5 col-md-offset-2">
      <div class="form-group cd-form-group">
        <label for="community"><i class="mr5 color-danger">*</i>{{'所属社区'|trans}}</label>
        <input type="text" id="community" name="community" required="required" class="width-full select2-offscreen" tabindex="-1" value="{{ clinic.community|default([])|join(',') }}" data-match-url="{{ path('fill_userinfo_community_match') }}">
        <div class="help-block" style="display:none;"></div>
      </div>
    </div>

    <div class="col-md-5 ">
      <div class="form-group cd-form-group">
        <label for="address"><i class="mr5 color-danger">*</i>{{'地址'|trans}}</label>
        <input type="text" id="address" name="address" class="form-control" value="{{ clinic.address|default('') }}">
      </div>
    </div>

    <div class="col-md-5 col-md-offset-2">
      <div class="form-group cd-form-group">
        <label for="businessLicense"><i class="mr5 color-danger">*</i>{{'营业许可证号'|trans}}</label>
        <input type="text" id="businessLicense" name="businessLicense" class="form-control" value="{{ clinic.businessLicense|default('') }}">
      </div>
    </div>

    <div class="col-md-5 ">
      <div class="form-group cd-form-group">
        <label for="legalPersonName"><i class="mr5 color-danger">*</i>{{'法定人姓名'|trans}}</label>
        <input type="text" name="legalPersonName" id="legalPersonName" class="form-control" value="{{ clinic.legalPersonName|default('') }}">
      </div>
    </div>

    <div class="col-md-5 col-md-offset-2">
      <div class="form-group cd-form-group">
        <label for="legalPersonIdcard"><i class="mr5 color-danger">*</i>{{'法定人身份证'|trans}}</label>
        <input type="text" id="legalPersonIdcard" name="legalPersonIdcard" class="form-control" value="{{ clinic.legalPersonIdcard|default('') }}">
      </div>
    </div>

    <div class="col-md-5 ">
      <div class="form-group cd-form-group">
        <label for="phone"><i class="mr5 color-danger">*</i>{{'办公电话'|trans}}</label>
        <input type="text" id="phone" name="phone" class="form-control" value="{{ clinic.phone|default('') }}">
      </div>
    </div>

    <div class="col-md-5 col-md-offset-2">
      <div class="form-group cd-form-group">
        <label for="email"><i class="mr5 color-danger">*</i>{{'办公邮箱'|trans}}</label>
        <input type="text" id="email" name="email" class="form-control" value="{{ clinic.email|default('') }}">
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group cd-form-group">
        <label for="slogan">{{'宣传语'|trans}}</label>
        <textarea id="slogan" name="slogan" rows="5" class="form-control">{{ clinic.slogan|default('') }}</textarea>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group cd-form-group">
        <label for="introduction">{{'诊所介绍'|trans}}</label>
        <textarea id="introduction" name="introduction" rows="5" class="form-control">{{ clinic.introduction|default('') }}</textarea>
      </div>
    </div>

    <div class="col-md-12">
      {% include '@Custom/clinic/clinic-team.html.twig' with{title: '医生团队' , field_name: 'doctors'} %}
      {% include '@Custom/clinic/clinic-team.html.twig' with{title: '护士团队', field_name: 'nurses'}%}
    </div>

    <div class="col-md-11">
      <button id="clinic-save-btn" data-loading-text="{{'form.btn.save.submiting'|trans}}" type="submit" class="btn cd-btn cd-btn-primary cd-btn-lg">{{'form.btn.save'|trans}}</button>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>
{% endblock %}
