{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-lg' %}

{% block title %}
  {{'诊所信息'|trans}}
{% endblock %}

{% block body %}
  <table class="table table-striped table-condenseda table-bordered">
    <tr>
      <th width="25%">名字</th>
      <td width="75%">{{ clinic.name }}</td>
    </tr>
    <tr>
      <th>所属社区</th>
      <td>{{ community.name }}</td>
    </tr>
    <tr>
      <th>详细地址</th>
      <td>{{ clinic.address }}</td>
    </tr>
    <tr>
      <th>营业许可证</th>
      <td>{{ clinic.businessLicense }}</td>
    </tr>
    <tr>
      <th>法定人姓名</th>
      <td>{{ clinic.legalPersonName  }}</td>
    </tr>
    <tr>
      <th>法定人身份证号</th>
      <td>{{ clinic.legalPersonIdcard  }}</td>
    </tr>
    <tr>
      <th>医生团队</th>
      <td>
        {% for doctor in doctors %}
          {{ doctor.nickname }} {% if loop.index != doctors|length() %}、{% endif %}
        {% else %}
          暂无数据
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th>护士团队</th>
      <td>
        {% for nurse in nurses %}
          {{ nurse.nickname }} {% if loop.index != doctors|length() %}、{% endif %}
        {% else %}
          暂无数据
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th>管理人员</th>
      <td>
        {% for manger in managers %}
          {{ manger.nickname }}{% if loop.index != doctors|length() %}、{% endif %}
        {% else %}
          暂无数据
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th>服务电话</th>
      <td>{{ clinic.phone }}</td>
    </tr>
    <tr>
      <th>服务邮箱</th>
      <td>{{ clinic.email }}</td>
    </tr>
    <tr>
      <th>介绍</th>
      <td>{{ clinic.introduction|default('暂无数据') }}</td>
    </tr>
    <tr>
      <th>宣传语</th>
      <td>{{ clinic.slogan|default('暂无数据') }}</td>
    </tr>
    <tr>
      <th>认证状态</th>
      <td>
        {% if clinic.status == 'unapprove' %}
          未认证
        {% elseif clinic.status == 'approved' %}
          已认证
        {% elseif clinic.status == 'approving' %}
          认证中
        {% elseif clinic.status == 'rejected' %}
          驳回
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>驳回原因</th>
      <td>{{ clinic.reason|default('暂无数据') }}</td>
    </tr>

  </table>
{% endblock %}