.teacher-setting__relative {
  position: relative;
  .teacher-setting__absolute {
    position: absolute;
    top: 20px;
    right: 100px;
  }
  .teacher-setting__list {
    width: 230px;
  }
  .mtop10 {
    @media (min-width: 768px) {
      margin-top: 10px;
    }
  }
}
