<div class="article-sns">
  <span class="es-share right">
    <a class="dropdown-toggle" href="javascript:;" data-toggle="dropdown">
      <i class="es-icon es-icon-share"></i>
    </a>
    {#这里直接使用article模型#}
    {% set article = announcement %}

    {% include 'common/share-dropdown.html.twig' with {type:'article'} %}
  </span>
</div>