<div class="article-metas">
  <div class="pull-left">
    <div class="date">
      <div class="day">{{ announcement.startTime|date('d') }}</div>
      <div class="month">{{ announcement.startTime|date('m')}}{{ 'site.date.month'|trans }}</div>
    </div>
  </div>
  <div class="metas-body">
    <h2 class="title">
      {{ announcement.title }}
    </h2>
    <div class="sns">
      <span class="views-num">
        <i class="es-icon es-icon-visibility"></i>
      </span>
      <span class="comment-num">
        <i class="es-icon es-icon-textsms"></i>{{ postNum }}
      </span>
      <span class="love-num">
        <i class="es-icon es-icon-favorite"></i><span class="js-like-num"></span>
      </span>
    </div>
  </div>
</div>
