<ul class="clearfix">
  <li class="{% if targetType == '' %}active {% endif %}" role="presentation">
    <a href="{{ path('my_community_announcement_center') }}">公告中心</a>
  </li>
  {% set types = dict('announcementType') %}
  {% for key,item in types %}
    <li class="{% if targetType == key %} active{% endif %}">
      <a href="{{ path('my_community_announcement_center', {type: key}) }}" >
        {{ item }}
      </a>
    </li>
  {% endfor %}
</ul>