{% extends 'bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}

{% do script(['custombundle/js/my/user/community-role/index.js']) %}

{% block title %}社区角色设置{% endblock %}

{% block body %}
  <form id="community-role-form" class="form-horizontal" method="post" action="{{ path('my_community_user_community_role', {id:user.id}) }}">
    <div class="row form-group">
      <div class="col-md-2 control-label"></div>
      <div class="controls col-md-9 radios">
        {% set communityRole = user.communityRole|default([]) %}
        <label>
          <input type="checkbox" name="roles[]" value="COMMUNITY_USER" {% if 'COMMUNITY_USER' in communityRole  %}checked{% endif %}>社区用户
        </label>
        <label>
          <input type="checkbox" name="roles[]" value="COMMUNITY_MANAGE" {% if 'COMMUNITY_MANAGE' in communityRole %}checked{% endif %}>社区管理员
        </label>
      </div>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>
{% endblock %}

{% block footer %}
  <button id="community-role-btn" data-loading-text="{{'form.btn.submit.submiting'|trans}}" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#community-role-form"  data-user="{{default.user_name|default('role.student'|trans)}}" >{{'form.btn.save'|trans}}</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{'form.btn.cancel'|trans}}</button>
{% endblock %}