{% extends 'importer/layout.html.twig' %}

{% block title %}{{'批量导入用户'|trans}}{% endblock %}

{% do script(['custombundle/js/common/index.js', 'libs/jquery-validation.js', 'custombundle/js/my/user/import/index.js']) %}

{% block form_data %}
  <div class="form-group" id="teachers-form-group">
    <label class="col-sm-2 control-label">
      {{ 'import.user_import.choose_file'|trans }}
    </label>
    <div class="col-sm-8 controls">
      <div class="input-group uploader-btn-group">
        <input type="text" class="js-filename form-control" />
        <input type="file" size="30" name="excel" class="file-input" />
        <div class="input-group-addon">
          {{ 'import.user_import.browser_btn'|trans }}
        </div>
      </div>
      <br>
      {{ 'import.user_import.download_example_tips'|trans }}
      <a class="color-primary" href="{{ asset('bundles/custom/files/community-user_import_example.xls') }}">
        {{ 'import.user_import.download_example_btn'|trans }}
      </a>
    </div>
  </div>
{% endblock %}
