{% extends '@Custom/my/layout.html.twig' %}
{% import 'macro.html.twig' as macro %}

{% block title %}{{ '社区用户管理' }} - {{ parent() }}{% endblock %}

{% set side_nav = 'my-community-user-manage' %}

{% block main %}

  {{ web_macro.flash_messages() }}

  <div class="panel panel-default" role="my-teaching-course-sets">
    <div class="panel-heading">
      <strong>社区用户管理</strong>
      <div class="pull-right">
        {#<a class="btn btn-primary" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" data-url="{{ path('importer_index', {type: 'community-users', userId: app.user.id}) }}">{{ '批量导入用户'|trans }}</a>#}
      </div>
    </div>
    <div class="panel-body">
      <form id="user-search-form" class="form-inline well well-sm" action="" method="get" novalidate>
        <div class="mbm">
          <div class="form-group">
            <select id="keywordType" name="keywordType" class="form-control">
              {{ select_options(dict('myCommunityUserKeyWordType'), app.request.query.get('keywordType') ? app.request.query.get('keywordType') : 'nickname') }}
            </select>
          </div>

          <div class="form-group">
            <input type="text" id="keyword" name="keyword" class="form-control" value="{{ app.request.query.get('keyword') }}"
                   placeholder="{{ 'admin.user.form.input_placeholder.keyword'|trans }}">
          </div>

          <button class="btn btn-primary">{{ 'admin.user.form.btn.search_submit_btn'|trans }}</button>
        </div>
      </form>

      <table id="user-table" class="table table-striped table-hover" data-search-form="#user-search-form">
        <thead>
        <tr>
          {% if setting('magic.enable_org','0') %}
            <th><input type="checkbox"  data-role="batch-select"></th>
          {% endif %}
          <th>{{ 'user.fields.username_label'|trans }}</th>
          {% include 'org/parts/table-thead-tr.html.twig' %}
          <th>{{ 'admin.user.manage.fields.mobile_label'|trans }}</th>
          <th>姓名</th>
          <th>地区</th>
          <th>居住小区</th>
          <th width="10%">{{ 'admin.user.fields.operation_label'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        <p class="text-muted">
          <span class="mrl">{{ 'admin.user.manage.fields.user_total_num_label'|trans }}<strong class="inflow-num color-primary">{{ userCount }}</strong></span>
        </p>
        {% if users %}
          {% for user in users %}
            {% include '@Custom/my/user/user-table-tr.html.twig' with {user:user,profile:profiles[user.id]} %}
          {% endfor %}
        {% else %}
          <tr><td colspan="20"><div class="empty">{{'site.datagrid.empty'|trans}}</div></td></tr>
        {% endif %}
        </tbody>
      </table>
      {{ macro.paginator(paginator) }}
    </div>
  </div>
{% endblock %}