{% import 'macro.html.twig' as macro %}
<tr id="user-table-tr-{{ user.id }}">
  {% include 'org/parts/table-body-checkbox.html.twig' %}
  <td>
    <strong>{{ macro.user_link(user) }}</strong>
    {% if user.locked %}
      <label class="label label-danger">{{'admin.user.manage.fields.forbid_label'|trans}}</label>
    {% endif %}

    <br>
    <span class="text-muted text-sm">
      {% if user.communityRole %}
        {% for role in user.communityRole %}
          {{ dict_text('communityRole', role) }}
          {% if not loop.last %} &nbsp {% endif %}
        {% endfor %}
      {% endif %}
    </span>
  </td>
  {% include 'org/parts/table-body-td.html.twig' with {orgCode: user.orgCode}%}
  <td>
    {% if user.verifiedMobile %}
      {{ user.verifiedMobile }}<span class="text-success">({{'user.fields.mobile_label.bind'|trans}})</span>
    {% elseif profile.mobile %}
      {{ profile.mobile }}<span class="text-danger">({{'user.fields.mobile_label.no_bind'|trans}})</span>
    {% else %}
      --
    {% endif %}
  </td>

  <td>
    {{ profile.truename|default('--') }}
  </td>

  <td>
    {{ profile.province }}-{{ profile.city }}-{{ profile.district }}
  </td>

  <td>
    {{ profile.housingEstate|default('--') }}
  </td>

  <td>
    <div class="btn-group">
      <a href="#modal" data-toggle="modal" data-url="{{ path('my_community_user_show', {id:user.id}) }}" data-url="" class="btn btn-default btn-sm">{{ 'admin.user.btn.show_btn'|trans }}
      </a>
      <div class="btn-group" role="group">
        <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          {% if app.user.id != profile.id %}
            <li><a href="#modal" data-toggle="modal" data-url="{{ path('my_community_user_community_role', {id:profile.id}) }}">设置社区角色</a>
            </li>
            <li><a href="#modal" data-toggle="modal" data-url="{{ path('message_create', {toId:profile.id}) }}">发送私信</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </td>
</tr>

