<table class="table table-striped table-condenseda table-bordered">
  证书信息
  <tr>
    <th width="25%">证书编号</th>
    <td width="75%">{{ certificate.certificateNumber }}</td>
  </tr>
  <tr>
    <th>文化程度</th>
    <td>{{ certificate.degree|default('--') }}</td>
  </tr>
  <tr>
    <th>级别</th>
    <td>{{ certificate.level|default('--') }}</td>
  </tr>
  <tr>
    <th>职业名称</th>
    <td>{{ certificate.job|default('--') }}</td>
  </tr>
  <tr>
    <th>理论知识考核成绩</th>
    <td>{{ certificate.theoreticalScore|default('--') }}</td>
  </tr>
  <tr>
    <th>操作知识考核成绩</th>
    <td>{{ certificate.operationalScore|default('--') }}</td>
  </tr>
  <tr>
    <th>评定成绩</th>
    <td>{{ certificate.assessmentResult|default('--') }}</td>
  </tr>
  <tr>
    <th>发证日期</th>
    <td>
      {% if certificate.certificationTime != 0%}
        {{ certificate.certificationTime|date('Y-m-d') }}
      {% else %}
        --
      {% endif %}
      </td>
  </tr>
  <tr>
    <th>职业技能鉴定机构名称</th>
    <td>{{ certificate.institution|default('--') }}</td>
  </tr>
</table>

<table class="table table-striped table-condenseda table-bordered">
  数据信息
  <tr>
    <th width="25%">数据上报单位</th>
    <td width="75%">{{ certificate.reportUnit|default('--') }}</td>
  </tr>
  <tr>
    <th>数据上报时间</th>
    <td>
      {% if certificate.reportTime != 0%}
        {{ certificate.reportTime|date('Y-m-d') }}
      {% else %}
        --
      {% endif %}
    </td>
  </tr>
</table>

