{% extends 'bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-md' %}

{% block title %}{{ 'admin.article_setting.image.content_title'|trans }}{% endblock %}

{% do script('custombundle/js/my/article/picture-crop-modal/index.js') %}

{% block body %}
  <form id="article-pic-crop-form" method="post">

    <div class="form-group clearfix">
      <div class="col-md-offset-2 col-md-8 controls">
        <img class="img-responsive" src="{{ filepath(pictureUrl) }}" id="article-pic-crop"
             width="{{ scaledSize.width }}" height="{{ scaledSize.height }}"
             data-natural-width="{{ naturalSize.width }}" data-natural-height="{{ naturalSize.height }}"/>
        <div class="help-block">{{ 'admin.article_setting.image.tips'|trans }}</div>
      </div>
    </div>

    <div class="form-group clearfix">
      <div class="col-md-offset-2 col-md-8 controls">
        <a class="btn btn-fat btn-primary"
           id="upload-picture-crop-btn"
           data-goto="{{ path('my_community_article_show_upload') }}"
           data-goto-url="{{ path('my_community_article_picture_crop') }}">{{ 'form.btn.save'|trans }}</a>
      </div>
    </div>

  </form>
{% endblock %}
