<tr id="community-table-tr-{{ record.id }}">
  {% include 'org/parts/table-body-checkbox.html.twig' %}
  <td>
    <strong>{{ macro.user_link(user) }}</strong>
  </td>
  {#{% include 'org/parts/table-body-td.html.twig' with {orgCode: user.orgCode}%}#}
  <td>
    {{ communities[clinic.communityId].province }}/{{ communities[clinic.communityId].city }}/{{ communities[clinic.communityId].district }}--{{ communities[clinic.communityId].name }}
  </td>

  <td>
    {{ clinic.name|default('--') }}
  </td>

  <td>
    {% if record.status == 'waiting' %}
      等待接诊
    {% elseif record.status == 'underway' %}
      就诊中
    {% elseif record.status == 'finsh' %}
      已完成
    {% endif %}
  </td>

  <td>
    {{ record.reservationTime|date('Y-m-d H:i') }}
  </td>

  <td>
    <div class="btn-group">
      <a href="#modal" data-toggle="modal" data-url="{{ path('reservation_record_show', {id: record.id}) }}" data-url="" class="btn btn-default btn-sm">{{ 'admin.user.btn.show_btn'|trans }}
      </a>
      <div class="btn-group" role="group">
        <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li></li>
        </ul>
      </div>
    </div>
  </td>
</tr>

