{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% block title %}{{ '预约记录信息查看'|trans }}{% endblock %}

{% set modal_class = 'modal-lg' %}

{% block body %}
  <table class="table table-striped table-condenseda table-bordered">
    <tr>
      <th width="25%">{{ '诊所名称'|trans }}</th>
      <td width="75%">
        {{ clinic.name }}
      </td>
    </tr>
    <tr>
      <th>预约时间</th>
      <td>{{ record.reservationTime|date('Y--m-d H:i') }}</td>
    </tr>
    <tr>
      <th>{{ '预约状态' }}</th>
      <td><span class="{% if record.status == 'waiting' %}
                         color-yellow
                       {% elseif record.status == 'underway' %}
                         color-info
                       {% elseif record.status == 'finsh' %}
                         color-primary
                       {% endif %}
">{{ dict_text('reservationStatus', record.status) }}</td>
    </tr>
    <tr>
      <th>{{ '症状' }}</th>
      <td>{{ record.symptom|default('暂无数据') }}</td>
    </tr>
    <tr>
      <th>接诊医生</th>
      <td>
        {% for doctor in doctors %}
          {% set doctorProfile = doctorProfiles[doctor.id] %}
          <div class="col-md-4">
            <div class="col-md-6">
              <a class="js-user-card" href="{{ path('user_show', {'id': doctor.id}) }}"
                 data-card-url="{{ path('user_card_show', {'userId': doctor.id}) }}"
                 data-user-id="{{ doctor.id }}"
                 data-original-title="" title="">
                <img class="avatar-md" src="{{ filepath(doctor.mediumAvatar, 'avatar.png') }}"></a>
            </div>
            <div class="col-md-6">
              <div class="content">
                <a class="link-dark link-dark"
                   href="{{ path('user_show', {'id': doctor.id}) }}">{{ doctorProfile.truename|default('暂无姓名') }}</a>
              </div>
              <div class="content">{{ doctor.nickname }}</div>
              <div class="content"></div>
            </div>
          </div>
        {% else %}
          暂无数据
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th>服务护士</th>
      <td>
        {% for nurse in nurses %}
          {% set nurseProfile = nurseProfiles[nurse.id] %}

          <div class="col-md-4">
            <div class="col-md-6">
              <a class="js-user-card" href="{{ path('user_show', {'id': nurse.id}) }}"
                 data-card-url="{{ path('user_card_show', {'userId': nurse.id}) }}"
                 data-user-id="{{ nurse.id }}"
                 data-original-title="" title="">
                <img class="avatar-md" src="{{ filepath(nurse.mediumAvatar, 'avatar.png') }}"></a>
            </div>
            <div class="col-md-6">
              <div class="content">
                <a class="link-dark link-dark"
                   href="{{ path('user_show', {'id': nurse.id}) }}">{{ nurseProfile.truename|default('暂无姓名') }}</a>
              </div>
              <div class="content">{{ nurse.nickname }}</div>
              <div class="content"></div>
            </div>
          </div>
        {% else %}
          暂无数据
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th>记录修改人</th>
      <td>
        {% for user in updateUsers %}
          <div class="content">{{ user.nickname }}</div>
        {% else %}
          暂无数据
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th>反馈信息</th>
      <td>{{ record.feedback|default('暂无数据') }}</td>
    </tr>

    <tr>
      <th>反馈时间</th>
      <td>
        {% if record.feedbackTime != 0 %}
          {{ record.feedbackTime|date('Y-m-d H:i') }}</td>
        {% else %}
          暂无数据
        {% endif %}
    </tr>
    <tr>
      <th>评价</th>
      <td>{{ record.estimate|default('暂无数据') }}</td>
    </tr>
    <tr>
      <th>评价时间</th>
      <td>
        {% if record.estimateTime != 0 %}
        {{ record.estimateTime|date('Y-m-d H:i') }}
        {% else %}
          暂无数据
        {% endif %}
      </td>
    </tr>
  </table>
{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'form.btn.close'|trans }}</button>
{% endblock %}
