.data-board__title {
  margin-bottom: 40px;
  font-size: 22px;
  color: #616161;
  .data-board__address {
    margin: 0 5px;
    font-weight: bold;
    font-size: 22px;
    color: #616161;
  }
}
.data-board__select-box {
  float: left;
  position: relative;
  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
  &::after {
    position: absolute;
    bottom: 5px;
    right: 12px;
    font-family: 'iconfont';
    content: '\e600'
  }
  .data-board__select {
    padding-left: 15px;
    width: 160px;
    height: 32px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    font-size: 14px;
    background: #ffffff;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
  }
}
.data-board__input-box {
  float: left;
  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
  .data-board__input {
    padding-left: 15px;
    width: 160px;
    height: 32px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    font-size: 14px;
    background: #ffffff;
  }
}
.data-board__btn {
  border: 1px solid #CF010E;
  width: 69px;
  height: 32px;
  border-radius: 2px;
  background: #D92630;
  color: #ffffff;
}
.data-border__infor {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #616161;
  .part {
    margin-left: 5px;
    .part__num {
      margin-right: 5px;
      font-size: 18px;
      color: #dd4850;
    }
  }
}
.data-board__table {
  @media (max-width: 767px) {
    overflow: scroll;
  }
  .data-board__head {
    background: #e1e1e1;
    font-weight: 600;
    font-size: 14px;
  }
  .data-board__row {
    width: 1140px;
    color: #313131;
    div {
      float: left;
      height: 100%;
      text-align: center;
      line-height: 48px;
    }
    .sort-arrow-box {
      width: 100%;
      a {
        color: #313131;
      }
    }
    .arrow-box {
      display: inline-block;
      margin-left: 3px;
      width: 8px;
      height: 14px;
      .arrow {
        width: 8px;
        height: 7px;
      }
      .arrow-up {
        width: 0;
        height: 0;
        border: none;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 8px solid #B5BCCD;
        margin-bottom: 3px;
      }
      .arrow-down {
        width: 0;
        height: 0;
        border: none;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 8px solid #B5BCCD;
      }
      .arrow-up-selected {
        border-bottom-color: #D92630;
      }
      .arrow-down-selected {
        border-top-color: #D92630;
      }
    }
  }
  .data-board__row--white {
    background: #ffffff;
  }
  .data-board__body {
    margin-bottom: 100px;
    font-size: 16px;
    .data-board__row {
      background: #ffffff;
    }
    .more-infor {
      a {
        font-size: 16px;
        color: #EF6C00;
        text-decoration: underline;
      }
    }
    .warning-text {
      color: #D92630;
    }
  }
}
