{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}

{% block title %}
  {{'创建小区物业公司'|trans}}
{% endblock %}


{% block body %}

<style>
.ui-autocomplete {
    z-index: 1200 !important;
    border:1px solid #ccc;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 3px #EEEEEE;
}
.ui-autocomplete-ctn{
    margin:0;
    padding:0;
}
.ui-autocomplete-item {
    width: 410px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
    padding:0 10px 0 10px;
    cursor: default;
}
.ui-autocomplete-item-hover {
    background:#f2f2f2;
}
.ui-autocomplete-item-hl {
    background:#F6FF94;
}
.delete-control-room {
  height: 34px;
  line-height: 34px;
}
.add-property-director {
  width: 100%;
  height: 34px;
  text-align: center;
}
</style>
<form id="property-create-form" class="form-horizontal" method="post" action="{{ path('admin_property_create') }}">

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="name">{{'名称'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <input type="text" id="name" name="name" class="form-control" value="" placeholder="请输入社区名称">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="servicePhone">{{'服务电话'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <input type="text" id="servicePhone" name="servicePhone" class="form-control" value="" placeholder="请输入服务电话">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="housingEstateName">{{'服务小区'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <input type="text" id="housingEstateName" name="housingEstateName" class="form-control" value="" placeholder="请输入服务小区名称" data-url="{{ path('fill_userinfo_housing_estate_match') ~ '?q={{query}}' }}" data-role="item-input">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="arrivalTime">{{'进驻小区时间'|trans}}</label>
    </div>
    <div class="col-md-8 controls datePicker">
      <input type="text" id="arrivalTime" name="arrivalTime" class="form-control" value="" placeholder="请输入进驻小区时间">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="expiryTime">{{'服务到期时间'|trans}}</label>
    </div>
    <div class="col-md-8 controls datePicker">
      <input type="text" id="expiryTime" name="expiryTime" class="form-control" value="" placeholder="请输入服务到期时间">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="director[1]">{{'物业管理人员'|trans}}</label>
    </div>
    <div class="col-md-6 controls">
      <input type="text" id="director[1]" name="director[1]" class="form-control director" value="" placeholder="请输入用户名" data-url="{{ path('fill_userinfo_nickname_match') ~ '?q={{query}}' }}" data-role="item-input">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label"></label>
    <div class="col-sm-8 controls">
      <button type="button" class="btn btn-default add-property-director">+添加物业管理人员</button>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <button id="create-property-btn" data-loading-text="{{'form.btn.submit.submiting'|trans}}" type="submit" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#property-create-form">{{'form.btn.save'|trans}}</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{'form.btn.cancel'|trans}}</button>

  <script>app.load('custombundle/controller/property/create-modal');</script>
{% endblock %}