{% import 'admin/macro.html.twig' as admin_macro %}
<tr id="property-table-tr-{{ property.id }}">
  {% include 'org/parts/table-body-checkbox.html.twig' %}
  <td>
    {{ property.name }}
  </td>
  {#{% include 'org/parts/table-body-td.html.twig' with {orgCode: user.orgCode}%}#}
  <td>
    {{ communities[housingEstate.communityId].province }}-{{ communities[housingEstate.communityId].city }}-{{ communities[housingEstate.communityId].district }}
  </td>

  <td>
    {{ communities[housingEstate.communityId].name }}
  </td>

  <td>
    {{ housingEstate.name }}
  </td>

  <td>
    {{ property.servicePhone|default('--') }}
  </td>

  <td>
    <div class="btn-group">
      <a href="#modal" data-toggle="modal" data-url="{{ path('admin_show_property', {id:property.id}) }}" data-url="" class="btn btn-default btn-sm">{{ '查看'|trans }}</a>
      {% include 'admin/role/templates/group-button.html.twig' with {parentCode: 'admin_property_manage', group:'groupButton', property: property} %}
    </div>
  </td>
</tr>

