<div class="course-list">
  <div class="">
    {% set resuletDatas = data('ScoreRank', {type:'clinic',sources:clinics}) %}

    {% for resuletData in resuletDatas %}
      {% set clinic = resuletData['source'] %}
      {% set score = resuletData['score'] %}
      <div class="">
        <div class="course-item course-item__pc clearfix" data-name="{{ clinic.name }}" data-region="{{ communities[clinic.communityId].city~communities[clinic.communityId].district }}" data-address="{{ clinic.address }}">
          <div class="course-img pull-left">
            <a href="{{ path('clinic_show', {id: clinic.id}) }}" target="_blank">
              <img src="{% if clinic.largeMark != '' %}{{ clinic.largeMark }}{% else %}
              {{ filepath('', 'group.png') }}
{% endif %}" class="img-responsive" alt="{{ clinic.name }}">
            </a>
          </div>
          <div class="course-info__pc pull-left">
            <div class="course-info__header">
              <a class="link-dark" title="{{ clinic.name }}" href="{{ path('clinic_show', {id: clinic.id}) }}" target="_blank">
                {{ clinic.name }}
              </a>
              <span class="score-tag" >{{ score|number_format(1) }}分</span>
            </div>
            {% if college.name|default(null) %}
              <div class="course-info__school text-sm visible-xs">

              </div>
            {% endif %}
            <div class="course-info__author">
              <span class="author__teacher">
              </span>
            </div>
            <span class="course-info__studentNum">
                  <i class="glyphicon glyphicon-earphone"></i>{{ clinic.phone }}
                </span>
            <div class="course-info__studentNum">
              <i class="glyphicon glyphicon-map-marker"></i>{{ clinic.address }}
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="empty">{{ '暂无内容'|trans }}</div>
    {% endfor %}
  </div>
</div>


