{% import "macro.html.twig" as web_macro %}

<section class="es-section">
  <div class="es-filter">
    <ul class="nav nav-sort clearfix">
      <li>
        <a href="{{ path('my_community_article_show', {filter:'latest'}) }}" class="{% if filter == 'latest' %}btn btn-primary active{% endif %}">
          最新
        </a>
      </li>
      <li>
        <a href="{{ path('my_community_article_show', {filter:'hot'}) }}" class="{% if filter == 'hot' %}btn btn-primary active{% endif %}">
          最热
        </a>
      </li>
      <li>
        <a href="{{ path('my_community_article_show',{filter: 'promoted'}) }}" class="{% if filter == 'promoted' %}btn btn-primary active{% endif %}">
          推荐
        </a>
      </li>
    </ul>
  </div>

  <div class="article-list">
    {% for article in articles %}
      {% set category = categories[article.categoryId]|default() %}
      {% if category is not empty %}
        {% include '@Custom/community-article/widget/list-item.html.twig' %}
      {% endif %}
    {% else %}
      <div class="empty tac color-gray mvl">{{ 'article.empty'|trans }}</div>
    {% endfor %}
  </div>
  {{ web_macro.paginator(paginator) }}
</section>
