{% import 'admin/macro.html.twig' as admin_macro %}
<tr id="user-table-tr-{{ announcement.id }}">
  {% include 'org/parts/table-body-checkbox.html.twig' %}
  <td>
    <a href="{{ path('my_community_announcement_show', {id:announcement.id}) }}">{{ announcement.title }}</a>
  </td>
  <td>
    {{ announcement.targetType|default('--') }}
  </td>

  <td>
    {{ announcement.startTime|date('Y-m-d H:i') }}
  </td>

  <td>
    {{announcement.endTime|date('Y-m-d H:i') }}
  </td>

  <td>
    {% if date() < date(announcement.startTime) %}
      {{'admin.operation_announcement.status.readyStart'|trans}}
    {% elseif date() > date(announcement.endTime) %}
      {{'admin.operation_announcement.status.finished'|trans}}
    {% else %}
      {{'admin.operation_announcement.status.display'|trans}}
    {% endif %}
  </td>

  <td>
    <div class="btn-group">
      <a href="#modal" class="btn btn-default btn-sm" data-toggle="modal" data-url="{{ path('my_community_announcement_edit', {id:announcement.id}) }}">编辑</a>
      <div class="btn-group" role="group">
        <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="{{ path('my_community_announcement_show', {id:announcement.id}) }}" target="_blank">{{ '预览'|trans }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </td>
</tr>

