{% extends 'bootstrap-modal-layout.html.twig' %}

{% set modal_class= "modal-md" %}

{% do script(['libs/es-ckeditor/ckeditor.js', 'libs/bootstrap-datetimepicker.js', 'libs/jquery-validation.js','custombundle/js/my/announcement/index.js']) %}

{% block title %}{% if announcement|default(null) %}{{ 'admin.operation_announcement.modal.edit'|trans }}{% else %}{{ 'admin.operation_announcement.modal.create'|trans }}{% endif %}{{ 'admin.operation_announcement.modal.announcement'|trans }}{% endblock %}
{% block body %}

  <form id="announcement-form" class="form-horizontal" method="post"
        action="{% if announcement|default(null) %}{{ path('my_community_announcement_edit',{id:announcement.id}) }}{% else %}{{ path('my_community_announcement_create', {communityId:communityId}) }}{% endif %}">
    <div class="form-group">
      <label class="col-md-2 control-label" for="targetType">公告类别</label>
      <div class="col-md-8 controls">
        <select id="targetType" name="targetType" class="form-control">
          {{ select_options(dict('announcementType'), null , '--公告类别--') }}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label" for="title">标题</label>
      <div class="col-md-8 controls">
        <input class="form-control" type="text" id="title" name="title"
               value="{% if announcement.title|default(null) %}{{ announcement.title }}{% endif %}">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label" for="body">内容</label>
      <div class="col-md-8 controls">
        <textarea name="body" rows="16" id="body" class="form-control" data-image-upload-url="{{ path('editor_upload', {token:upload_token('user')}) }}">{{ announcement.body|default('') }}</textarea>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-2 control-label">
        <label for="startTime">{{ 'admin.operation_announcement.createTime_th'|trans }}</label>
      </div>
      <div class="col-md-8 controls" style="z-index:2000;">
        <input type="text" id="startTime" name="startTime" class="form-control"
               value="{% if announcement|default(null) %}{{ announcement.startTime|date("Y-m-d H:i") }}{% endif %}">
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-2 control-label">
        <label for="endTime">{{ 'admin.operation_announcement.endTime_th'|trans }}</label>
      </div>
      <div class="col-md-8 controls" style="z-index:2000;">
        <input type="text" id="endTime" name="endTime" class="form-control"
               value="{% if announcement|default(null) %}{{ announcement.endTime|date("Y-m-d H:i") }}{% endif %}">
      </div>
    </div>
    <div class="alert alert-info form-group">
      <div class="col-md-8 col-md-offset-2 controls">
        <p><strong>公告的结束时间必须比发布时间晚！</strong></p>
        <p><strong>公告将被投放到我的社区首页</strong></p>
      </div>
    </div>
    {% include 'org/org-tree-select.html.twig' with {orgCode:announcement.orgCode|default(null), modal: 'modal'} %}

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>
{% endblock %}

{% block footer %}
  <button id="announcement-save-btn" data-submiting-text="{{ 'form.btn.submit.submiting'|trans }}"
          class="btn btn-primary pull-right"
          data-toggle="form-submit" data-target="#announcement-form">{{ 'form.btn.submit'|trans }}</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{ 'form.btn.cancel'|trans }}</button>
{% endblock %}