{% extends '@Custom/my/layout.html.twig' %}
{% import 'macro.html.twig' as macro %}

{% block title %}{{ '社区公告管理' }} - {{ parent() }}{% endblock %}

{% set side_nav = 'my-community-announcement-manage' %}

{% block main %}
  <div class="panel panel-default" role="my-teaching-course-sets">
    <div class="panel-heading">
      <strong>社区公告管理</strong>
      <div class="pull-right">
        <a id="create-slideshow" class="btn btn-primary" href="#modal" data-toggle="modal"  data-url="{{ path('my_community_announcement_create', {communityId:community.id}) }}">新增公告</a>
      </div>
    </div>
    <div class="panel-body">
      <form id="user-search-form" class="form-inline well well-sm" action="" method="get" novalidate>
        <div class="mbm">
          <div class="form-group">
            <select id="status" name="status" class="form-control">
              {{ select_options(dict('announcementStatus'), app.request.query.get('status') , '--公告状态--') }}
            </select>
          </div>
          <div class="form-group">
            <select id="type" name="type" class="form-control">
              {{ select_options(dict('announcementType'), app.request.query.get('type') , '--类别--') }}
            </select>
          </div>
        </div>
          <div class="form-group">
            <select id="keywordType" name="keywordType" class="form-control">
              {{ select_options(dict('announcementKeyWordType'), app.request.query.get('keywordType') ? app.request.query.get('keywordType') : 'title') }}
            </select>
          </div>

          <div class="form-group">
            <input type="text" id="keyword" name="keyword" class="form-control" value="{{ app.request.query.get('keyword') }}"
                   placeholder="{{ 'admin.user.form.input_placeholder.keyword'|trans }}">
          </div>

          <button class="btn btn-primary">{{ 'admin.user.form.btn.search_submit_btn'|trans }}</button>
      </form>

      <table id="user-table" class="table table-striped table-hover" data-search-form="#user-search-form">
        <thead>
        <tr>
          {% if setting('magic.enable_org','0') %}
            <th><input type="checkbox"  data-role="batch-select"></th>
          {% endif %}
          <th>标题</th>
          {% include 'org/parts/table-thead-tr.html.twig' %}
          <th>类别</th>
          <th>开始时间</th>
          <th>结束时间</th>
          <th>状态</th>
          <th width="10%">{{ 'admin.user.fields.operation_label'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        <p class="text-muted">
          <span class="mrl">{{ '总数'|trans }}<strong class="inflow-num color-primary">{{ announcementCount }}</strong></span>
        </p>
        {% if announcements %}
          {% for announcement in announcements %}
            {% include '@Custom/my/announcement/announcement-table-tr.html.twig' with {announcement:announcement} %}
          {% endfor %}
        {% else %}
            <tr><td colspan="20"><div class="empty">{{'site.datagrid.empty'|trans}}</div></td></tr>
        {% endif %}
        </tbody>
      </table>

      {#{% include 'org/org-tree-select.html.twig' with {orgCode: app.request.get('orgCode'), modal: 'list'} %}#}
      {{ macro.paginator(paginator) }}
    </div>
  </div>
{% endblock %}