{% extends '@Custom/my/layout.html.twig' %}

{% set side_nav = 'my-community-announcement-preview' %}

{% block title %}{{ announcement.title }} - {{ '社区公告' }} - {{ parent() }}{% endblock %}

{% do script(['libs/jquery-validation.js','libs/es-ckeditor/ckeditor.js','app/js/article/detail/index.js']) %}

{% block content %}
  <div class="community-announcement-detail row" id="detail-content">
  <!-- 主内容 -->
    <div class="col-md-8 community-announcement-detail-main">
      <section class="es-section community-announcement-content">
        <ol class="breadcrumb">
          <li><a href="{{ path('my') }}">我的社区</a></li>
          <li><a href="{{ path('my_community_announcement_center') }}">公告中心</a></li>
          <li class="active">{{ announcement.title }}</li>
        </ol>

        {% include '@Custom/community-announcement/part/detail-metas.html.twig' %}

        {% include '@Custom/community-announcement/part/detail-body.html.twig' %}

        {% include 'attachment/widget/list.html.twig' with {targetType:'community-announcement', targetId:announcement.id} %}

        {% include '@Custom/community-announcement/part/detail-type.html.twig' %}

        {% include '@Custom/community-announcement/part/detail-share.html.twig' %}

        {% include '@Custom/community-announcement/part/detail-post-form.html.twig' %}

        {% include '@Custom/community-announcement/part/detail-post-list.html.twig' %}
      </section>
    </div>

    <aside class="col-md-4 article-sidebar">

      {#所有类别#}
      <div class="panel panel-default">
        <div class="panel-heading">
          所有类别
        </div>
        <div class="panel-body">
          {% set types = dict('announcementType') %}
          {% for type in types %}
            <a class="btn-tag"  href="">{{type}}</a>
          {% endfor %}
        </div>
      </div>

      {#时间信息#}
      <div class="panel panel-default">
        <div class="panel-heading">
          其他信息
        </div>
        <div class="panel-body">
          <p>
            <strong>公告类别：{{ announcement.targetType|default('--') }}</strong>
          <p>
            <strong>发布时间：{{ announcement.startTime|date('Y-m-d h:i') }}</strong>
          <p>
            <strong>结束时间：{{ announcement.endTime|date('Y-m-d h:i') }}</strong>
        </div>
      </div>

      <!-- 热门评论 -->
      <div class="panel panel-default hot-comments">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="es-icon es-icon-textsms"></i>{{'article.popular_comments'|trans}}
          </h3>
        </div>
        <div class="panel-body">

          {% set posts = data('PopularCommunityAnnouncementPosts',{'count':10}) %}
          {% for post in posts %}
            <div class="media media-hot-comment">
              <div class="media-body">
                <div class="pull-left">
                  {{ web_macro.user_avatar(post.user, '','avatar-sm') }}
                </div>
                <div class="comments-info">
                  {{ web_macro.user_link(post.user, '') }}
                  <span class="mhs">{{'article.comment_target'|trans}}</span>
                  <a class="link-dark" href="{{ path('my_community_announcement_show', { id:post.announcement.id }) }}">{{ post.announcement.title }}</a>
                </div>
                <div class="comments-content">
                  {{ post.content|at(post.ats)|sub_text(60) }}
                </div>
              </div>
            </div>
          {% else %}
            <div class="empty">{{'article.popular_comments_empty'|trans}}</div>
          {% endfor %}
        </div>
      </div>
    </aside>

  </div>

{% endblock %}