{% extends 'bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-md' %}

{% block title %}{{ '投诉信息查看'|trans }}{% endblock %}

{% do script('custombundle/js/my/complaint/show/index.js') %}

{% block body %}
  <div class="es-piece">
    <div class="piece-header">{{ '投诉信息'|trans }}
      <button id="handle-complaint" class="btn btn-info pull-right {% if complaint.processTime != '0' %} hidden{% endif %}" type="button">处理投诉</button>
    </div>
    <div class="piece-body p-lg clearfix">
      {{ complaint.content|raw }}
    </div>
  </div>

  {% if complaint.processTime != '0' %}
    <div class="es-piece">
      <div class="piece-header">{{ '处理时间'|trans }}</div>
      <div class="piece-body p-lg clearfix">
        {{ complaint.processTime|date('Y-m-d h-i')|raw }}
      </div>
    </div>
  {% endif %}

  <div class="es-piece handle-form {% if complaint.processTime == '0' %}hidden{% endif %}">
    <div class="piece-header">{{ '处理结果'|trans }}</div>
    <div class="piece-body p-lg clearfix">
      <form id="complaint-handle-form" class="form-horizontal" method="post"
            action="{{ path('my_community_complaint_manage_handle',{id: complaint.id}) }}">
        <div class="form-group">
          <div class="col-md-12 controls">

            <textarea required='required' name="result" {% if complaint.processTime != '0' %}disabled="disabled" {% endif %} rows="15" id="result" class="form-control"
                  data-image-upload-url="{{ path('editor_upload', {token:upload_token('user')}) }}">{{ complaint.result }}</textarea>
          </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

        {% if complaint.processTime == '0' %}
          <button type="submit" class="btn btn-primary pull-right" id="submit-handle" data-loading-text="提交中...">{{ '保存'|trans }}</button>
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'form.btn.close'|trans }}</button>
{% endblock %}
