
  <section class="" id="recommand-course-tab">
      <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs slideshow-nav" role="tablist">
        <li role="presentation"><a href="#noStart-announcement" aria-controls="latest" role="tab" data-toggle="tab">即将开始</a></li>
        <li role="presentation" class="active"><a href="#underway-announcement" aria-controls="hot" role="tab" data-toggle="tab">进行中</a></li>
        <li role="presentation"><a href="#finish-announcement" aria-controls="promoted" role="tab" data-toggle="tab">已结束</a></li>
        <li id="course-more-1" class="pull-right course-more js-more" data-placement="top" data-toggle="tooltip" data-original-title="更多">
          <a class="grey hover-primary" target="_blank" href="{{ path('my_community_announcement_center') }}"><i class="es-icon es-icon-morehoriz"></i></a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="noStart-announcement">
          {% include '@Custom/my/default/announcement/no-start-block.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane active" id="underway-announcement">
          {% include '@Custom/my/default/announcement/underway-block.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="finish-announcement">
          {% include '@Custom/my/default/announcement/finish-block.html.twig' %}
        </div>
      </div>
    </div>
  </section>
