
    {% for noStartAnnouncement in noStartActivities %}
      <article class="article-item">
        <div class="article-metas clearfix">
          <div class="pull-left">
            <div class="date">
              <div class="day">{{ noStartAnnouncement.startTime|date('d') }}</div>
              <div class="month">{{ noStartAnnouncement.startTime|date('m') }}{{'site.date.month'|trans}}</div>
            </div>
          </div>
          <div class="metas-body">
            <p>
            </p>
            <h2 class="title">
              <a class="link-dark" href="{{ path('my_community_announcement_show', {id:noStartAnnouncement.id}) }}">{{ noStartAnnouncement.title }}</a>
            </h2>
          </div>
        </div>
        <div class="content">
          {#{{ Announcement.body|plain_text(150)}}#}
        </div>
      </article>
    {% else %}
      <div class="empty">
        暂无内容
      </div>

    {% endfor %}
