{% extends '@Custom/my/layout.html.twig' %}

{% do script(['libs/es-ckeditor/ckeditor.js', 'libs/jquery-validation.js', 'libs/select2.js', 'libs/bootstrap-datetimepicker.js','custombundle/js/my/activity/activity-modal/index.js']) %}

{% set activity = activity|default(null) %}

{% set side_nav = 'my-community-activity-manage' %}

{% block main %}

  <style>
    #activity-form .popover {
      max-width: 400px;
      width: 400px;
    }
  </style>

  <div class="panel panel-default" role="courseSet-manage-detail">
    <div class="panel-heading">
      <strong>{% if activity is not null%}编辑活动{% else %}添加活动{% endif %}</strong>
    </div>
    <div class="panel-body">
      {{ web_macro.flash_messages(true) }}

      <form class="form-horizontal" id="activity-form" method="post"
          {% if activity %}
            action="{{ path('my_community_activity_edit', {id:activity.id}) }}"
          {% else %}
            action="{{ path('my_community_activity_create') }}"
          {% endif %}
      >
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="activity-title-field" class="control-label">标题</label>
              <div class="controls">
                <input class="form-control" id="activity-title-field" type="text" name="title" value="{% if activity %}{{ activity.title|default('') }}{% endif %}">
              </div>
            </div>

            <div class="form-group">
              <label for="type" class="control-label">活动类别</label>
              <div class="controls">
                <select class="form-control" id="type" name="type" required="required">
                  {{ select_options(dict('activityType'), activity.type|default(''), '--活动类别--') }}
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="site" class="control-label">活动地点</label>
              <div class="controls">
                <input type="text" class="form-control" id="site" name="site" value="{{ activity.site|default('') }}">
              </div>
            </div>

            <div class="form-group">
              <label for="content" class="control-label">活动描述</label>
              <div class="controls">
                <textarea class="form-control" id="content" name="content" rows="10">{% if activity %}{{ activity.content }}{% endif %}</textarea>
              </div>
            </div>

            <div class="form-group">
              <label for="remark" class="control-label">活动内容</label>
              <div class="controls">
                <textarea class="form-control" id="remark" rows="10" name="remark"
                          data-image-upload-url="{{ path('editor_upload', {token:upload_token('default')}) }}"
                          data-flash-upload-url="{{ path('editor_upload', {token:upload_token('default', 'flash')}) }}">{{ activity.remark|default('') }}</textarea>
              </div>
            </div>

            {{ render(controller('AppBundle:File/Attachment:formFields', {targetType: 'activity', targetId: activity.id|default(0)}, { 'showLabel':false, 'useSeajs': true  })) }}

            <div class="form-group">
              <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
              <button type="submit" id="activity-operate-save" class="btn btn-primary" data-toggle="#activity-form" data-loading-text="{{'form.btn.save.submiting'|trans}}">{{'form.btn.confirm'|trans}}</button>
              <a class="btn btn-link" target="_parent" href="{{ path('my_community_activity_manage') }}">{{'form.btn.return'|trans}}</a>
            </div>

          </div>
          <div class="col-md-4">
            {#<div class="panel panel-default">#}
              {#<div class="panel-heading">活动人员邀请</div>#}
              {#<div class="panel-body">#}
                {#<div class="form-group">#}
                  {#<label for="search-user">邀请人员</label>#}
                  {#<div class="controls">#}
                    {#<input type="text" id="search-user" name="search-user" value="{{ web|default([])|join(',') }}" placeholder="请输入用户名" class="width-full select2-offscreen" tabindex="-1" data-url="{{ path('fill_userinfo_nickname_match') }}">#}
                    {#<div class="help-block" style="display:none;"></div>#}
                  {#</div>#}
                  {#{% if activity|default(null) is null %}#}
                    {#{% render(controller('CustomBundle:User:obtain')) %}#}
                  {#{% else %}#}
                    {#{% include '@Custom/my/activity/user-invited-list.html.twig' %}#}
                  {#{% endif %}#}

                {#</div>#}
                {#<div class="alert alert-info">#}
                  {#<strong>#}
                    {#候选用户默认显示当前社区用户<br>可以通过搜索添加其他用户#}
                  {#</strong>#}
                {#</div>#}
              {#</div>#}
            {#</div>#}

            <div class="panel panel-default">
              <div class="panel-heading">活动时间</div>
              <div class="panel-body">
                <div class="form-group">
                  <label for="startTime">{{ '开始时间'|trans }}</label>
                  <div class="controls" style="z-index:2000;">
                    <input type="text" id="startTime" name="startTime" class="form-control"
                           value="{% if activity|default(null) %}{{ activity.startTime|date("Y-m-d H:i") }}{% endif %}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="endTime">{{ 'admin.operation_announcement.endTime_th'|trans }}</label>
                  <div class="controls" style="z-index:2000;">
                    <input type="text" id="endTime" name="endTime" class="form-control"
                           value="{% if activity|default(null) %}{{ activity.endTime|date("Y-m-d H:i") }}{% endif %}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
