{% import 'admin/macro.html.twig' as admin_macro %}
<tr id="user-table-tr-{{ activity.id }}">
  {% include 'org/parts/table-body-checkbox.html.twig' %}
  <td>
    {{ activity.title }}
  </td>
  <td>
    {{ activity.type|default('--') }}
  </td>

  <td>
    {{ activity.startTime|date('Y-m-d H:i') }}
  </td>

  <td>
    {{activity.endTime|date('Y-m-d H:i') }}
  </td>

  <td>
    {% if date() < date(activity.startTime) %}
      {{'admin.operation_announcement.status.readyStart'|trans}}
    {% elseif date() > date(activity.endTime) %}
      已结束
    {% else %}
      进行中
    {% endif %}
  </td>

  <td>
    <div class="btn-group">
      <a class="btn btn-default btn-sm" href="{{ path('my_community_activity_edit', {id:activity.id}) }}">编辑</a>
      <div class="btn-group" role="group">
        <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{{ path('my_community_activity_show', {id:activity.id}) }}" target="_blank">{{ '预览'|trans }}
            </a></li>
        </ul>
      </div>
    </div>
  </td>
</tr>

