{% extends 'my/layout.html.twig' %}

{% block title %}{{ activity.title }} - {{ '社区活动' }} - {{ parent() }}{% endblock %}

{% do script(['libs/jquery-validation.js','libs/es-ckeditor/ckeditor.js','custombundle/js/community-activity/detail/index.js']) %}

{% block content %}

  <div class="article-detail row" id="detail-content">
    <!-- 主内容 -->
    <div class="col-md-8 article-detail-main">
      <section class="es-section article-content">
        <ol class="breadcrumb">
          <li><a href="{{ path('my') }}">我的社区</a></li>
          <li><a href="{{ path('my_community_activity_center') }}">活动中心</a></li>
          <li class="active">{{ activity.title }}</li>
        </ol>

        {% include '@Custom/community-activity/part/detail-metas.html.twig' %}

        {% include '@Custom/community-activity/part/detail-body.html.twig' %}

        {% include 'attachment/widget/list.html.twig' with {targetType:'activity', targetId:activity.id} %}

        {% include '@Custom/community-activity/part/detail-type.html.twig' %}

        {% include '@Custom/community-activity/part/detail-share.html.twig' %}

        {% include '@Custom/community-activity/part/detail-post-form.html.twig' %}

        {% include '@Custom/community-activity/part/detail-post-list.html.twig' %}

      </section>
    </div>

    <aside class="col-md-4 article-sidebar">
      {#所有类别#}
      {% include '@Custom/community-activity/widget/type.html.twig' %}

      {#时间信息#}
      <div class="panel panel-default">
        <div class="panel-heading">
          其他信息
        </div>
        <div class="panel-body">
          <p>
            <strong>活动类别：{{ activity.type|default('--') }}</strong>
          <p>
            <strong>开始时间：{{ activity.startTime|date('Y-m-d h:i') }}</strong>
          <p>
            <strong>结束时间：{{ activity.endTime|date('Y-m-d h:i') }}</strong>
        </div>
      </div>

      <!-- 热门评论 -->
      {% include '@Custom/community-activity/widget/sidebar.html.twig' %}
    </aside>

  </div>

{% endblock %}

