<div class="form-control" id="user-invited-list" style="height: 300px; overflow-y: auto; overflow-x: hidden;">
  {% for user in users %}
    <p id="user-{{ user.id }}">
      <input type="checkbox">
      <span class="nackname-span">{{ user.nickname }}</span>
    </p>
  {% endfor %}
</div>
&emsp; <input type="checkbox" id="invited-all"><strong>全选</strong>