{% extends 'bootstrap-modal-layout.html.twig' %}

{% set modal_class= "modal-sm" %}

{% block title %}
  评分
{% endblock %}

{% do script('custombundle/js/score/index.js') %}

{% block body %}

  <form id="score-form" class="form-horizontal" method="post"
        action="{{ path('score_create', {targetType:targetType, targetId:targetId,sourceId:sourceId}) }}">

    <div class="form-group">
      <div class="col-md-2 control-label">
        <b></b>
      </div>
      <div class="controls col-md-8 controls">
        <label for="score1" class="checkbox-inline">
          <input type="radio" id="score1" name="score" class="layout-input" value="1"
          >
          1分
        </label>

        <label for="score2" class="checkbox-inline">
          <input type="radio" id="score2" name="score" class="layout-input" value="2"
          >
          2分
        </label>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-2 control-label">
        <b></b>
      </div>
      <div class="controls col-md-8 controls">
        <label for="score3" class="checkbox-inline">
          <input type="radio" id="score3" name="score" class="layout-input" value="3"
          >
          3分
        </label>

        <label for="score4" class="checkbox-inline">
          <input type="radio" id="score4" name="score" class="layout-input" value="4"
          >
          4分
        </label>
      </div>
    </div>


    <div class="form-group">
      <div class="col-md-2 control-label">
        <b></b>
      </div>
      <div class="controls col-md-8 controls">
        <label for="score5" class="checkbox-inline">
          <input type="radio" id="score5" name="score" class="layout-input" value="5"
          >
          5分
        </label>

        <label for="score6" class="checkbox-inline">
          <input type="radio" id="score6" name="score" class="layout-input" value="6"
          >
          6分
        </label>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-2 control-label">
        <b></b>
      </div>
      <div class="controls col-md-8 controls">
        <label for="score7" class="checkbox-inline">
          <input type="radio" id="score7" name="score" class="layout-input" value="7"
          >
          7分
        </label>
        <label for="score8" class="checkbox-inline">
          <input type="radio" id="score8" name="score" class="layout-input" value="8"
          >
          8分
        </label>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-2 control-label">
        <b></b>
      </div>
      <div class="controls col-md-8 controls">
        <label for="score9" class="checkbox-inline">
          <input type="radio" id="score9" name="score" class="layout-input" value="9"
          >
          9分
        </label>

        <label for="score10" class="checkbox-inline">
          <input type="radio" id="score10" name="score" class="layout-input" value="10"
          >
          10分
        </label>
      </div>
    </div>

    <div class="alert alert-info form-group">
      <div class="col-md-8 col-md-offset-2 controls">
        <p><strong>评分后不可修改！</strong></p>
      </div>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>
{% endblock %}

{% block footer %}
  <button id="score-save-btn" data-submiting-text="{{ 'form.btn.submit.submiting'|trans }}"
          class="btn btn-primary pull-right"
          >{{ 'form.btn.submit'|trans }}</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{ 'form.btn.cancel'|trans }}</button>
{% endblock %}