{% extends 'v2/layout.html.twig' %}

{% block title %}{{'user.settings.personal_info_menu'|trans}} - {{ parent() }}{% endblock %}

{% set side_nav = 'profile' %}

{% do script(['libs/es-ckeditor/ckeditor.js', 'libs/bootstrap-datetimepicker.js', 'libs/jquery-validation.js', 'custombundle/js/settings/profile/index.js']) %}

{% block page_title %}
  {{'user.settings.personal_info_menu'|trans}}
{% endblock %}

{% block main_body %}
  {% if fromCourse %}
    <div class="alert cd-alert cd-alert-info">
      {{'user.settings.basic_info.alter_description'|trans}}
    </div>
  {% endif %}

  {{ web_macro.flash_messages(true) }}
  <form id="user-profile-form" class="row cd-row single-information-table" method="post">
    <div class="col-md-11">
      <div class="cd-image-upload cd-mr24 cd-mb32">
        <img class="cd-avatar cd-avatar-lg" id="profile-avatar" src="{{ filepath(user.largeAvatar, 'avatar.png') }}">
        <div class="image-upload-mask">
          <div class="image-upload-content">
            <i class="cd-icon cd-icon-camera"></i>
            {{'user.settings.basic_info.shange_avatar'|trans}}
          </div>
        </div>
        {% include 'common/local-crop-image.html.twig' with {
          saveUrl: 'settings_profile_avatar_crop_modal',
          targetImg: '#profile-avatar',
          cropWidth: '270',
          cropHeight: '270'
        } %}
      </div>
      <div class="form-group cd-form-group cd-form-group-inline cd-form-group-action" id="nickname-form-group">

        <label for="nickname">{{'user.fields.username_label'|trans}}</label>

        <div class="static-text input-edit__static-dom">
          <span class="input-edit__static-text">{{app.user.nickname}}</span>
          {% if setting('user_partner.nickname_enabled') %}
            <i class="cd-icon cd-icon-edit cd-icon-hover input-edit__edit-btn"></i>
          {% endif %}
        </div>

        <div class="input-edit__edit-dom" style="display:none">
          <input data-url="{{path ('update_nickname_check') }}" name="nickname" id="nickname" type="text" class="form-control input-edit__input" value="{{app.user.nickname}}">

          <div class="action-button">
            <button type="button" class="btn cd-btn cd-btn-primary input-edit__save-btn"
              data-input-name="nickname"
              data-url="{{ path('setting_nickname') }}" 
              data-loading-text="{{'form.btn.save.submiting'|trans}}">
              {{'form.btn.save'|trans}}
            </button>
            <button type="button" class="btn cd-btn cd-btn-flat-default input-edit__cancel-btn">
              {{'form.btn.cancel'|trans}}
            </button>
          </div>
        </div> 

      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group cd-form-group">
        <label for="profile_truename">{{'user.fileds.realname'|trans}}</label>
        {% if profile.truename and (app.user.approvalStatus == 'approved' or app.user.approvalStatus == 'approving') %}
          <input type="text" id="profile_truename" name="profile[truename]"  class="form-control" value="{{ profile.truename }}" readonly>
        {% else %}
          <input type="text" id="profile_truename" name="profile[truename]" class="form-control" value="{{ profile.truename|default('') }}">
        {% endif %}
      </div>
    </div>

    <div class="col-md-5 col-md-offset-1">
      <div class="form-group cd-form-group">
        <label>{{'user.fields.gender_label'|trans}}</label>
        <div class="cd-radio-group">
          <label class="cd-radio {% if profile.gender == 'male' %}checked{% endif %}" for="profile_gender_0">
            <input type="radio" id="profile_gender_0" name="profile[gender]" value="male" {% if profile.gender == 'male' %}checked{% endif %} data-toggle="cd-radio">
            {{'user.fields.gender.male'|trans}}
          </label>

          <label class="cd-radio {% if profile.gender == 'female' %}checked{% endif %}" for="profile_gender_1" >
            <input type="radio" id="profile_gender_1" name="profile[gender]" value="female" {% if profile.gender == 'female' %}checked{% endif %} data-toggle="cd-radio">
            {{'user.fields.gender.female'|trans}}
          </label>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="form-group cd-form-group">
        <label for="profile_title">{{'user.settings.basic_info.rank'|trans}}</label>
        <input type="text" id="profile_title" name="profile[title]" class="form-control" value="{{ profile.title|default('') }}">
      </div>
    </div>

    <div class="col-md-5 col-md-offset-1">
      <div class="form-group cd-form-group">
        <label for="profile_signature">{{'user.settings.basic_info.personal_signature'|trans}}</label>
        <input type="text" id="profile_signature" name="profile[signature]" class="form-control" value="{{ profile.signature|default('') }}">
      </div>
    </div>

    <div class="col-md-5 distpicker">
      <div class="form-group cd-form-group shadow-set">
        <label for="profile_title">{{'地区'|trans}}</label>
        <div class="form-group">
          <div class="form-control select w-65 inline-block">
            <select class="select-box" id="province" name="profile[province]"   data-province="{{ profile.province }}"></select>
          </div>
          <div class="form-control select w-65 inline-block ml6">
            <select class="select-box" id="city" name="profile[city]" data-city="{{ profile.city }}"></select>
          </div>
          <div class="form-control select w-65 inline-block ml6">
            <select class="select-box" id="district" name="profile[district]" data-district="{{ profile.district }}"></select>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5 col-md-offset-1">
      <div class="form-group cd-form-group">
        <label>
          {{'职业资格证书'|trans}}
          <a class="" id="update-certificate" data-url="{{ path('setting_certificate_update')}}">
            <i class="iconfont icon-gengxin rotate-animate"></i>
          </a>
        </label>
        <div id="certificate" class="form-control">
          {% for certificate in certificates %}
            {{ certificate.job ~ '[' ~ certificate.level ~ ']' }}{% if not loop.last %}、{% endif %}
          {% else %}
            --
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="col-md-11">
      <div class="form-group cd-form-group">
        <label for="profile_about">{{'user.settings.basic_info.self_introduction'|trans}}</label>
        <textarea name="profile[about]" rows="10" id="profile_about" class="form-control" data-image-upload-url="{{ path('editor_upload', {token:upload_token('user')}) }}">{{ profile.about|default('') }}</textarea>
      </div>
    </div>

    <div class="col-md-5">
      <div class="form-group cd-form-group">
        <label for="profile_site">{{'user.settings.basic_info.personal_space'|trans}}</label>
        <input type="text" id="profile_site" name="profile[site]" class="form-control" value="{{ profile.site|default('') }}" placeholder="http://">
      </div>
    </div>

    <div class="col-md-5  col-md-offset-1">
      <div class="form-group cd-form-group">
        <label for="weibo">{{'user.fileds.microblog'|trans}}</label>
        <input type="text" id="weibo" name="profile[weibo]" class="form-control"  value="{{ profile.weibo|default('') }}" placeholder="http://">
        <input class="hidden" type="text" name="profile[isWeiboPublic]" value="1"/>
        <div class="help-block">{{'user.settings.basic_info.public'|trans}}</div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="form-group cd-form-group">
        <label for="profile_weixin">{{'user.fileds.wechat'|trans}}</label>
        <input type="text" id="profile_weixin" name="profile[weixin]" class="form-control" value="{{ profile.weixin|default('') }}">
        <input class="hidden" type="text" name="profile[isWeixinPublic]" value="1"/>
      </div>
    </div>

    <div class="col-md-5  col-md-offset-1">
      <div class="form-group cd-form-group">
        <label for="profile_qq">{{'user.fileds.qq'|trans}}</label>
        <input type="text" id="profile_qq" name="profile[qq]" class="form-control" value="{{ profile.qq|default('') }}">
        <input class="hidden" type="text" name="profile[isQQPublic]" value="1"/>
      </div>
    </div>

    <div class="col-md-5">
      <div class="form-group cd-form-group">
        <label for="job">{{'职业'|trans}}</label>
        <div class="form-control">
          <input type="text" id="job" name="profile[job]" class="form-control" placeholder="请输入职业名称" value="{{ profile.job|default('') }}">
        </div>
      </div>
    </div>

    {# email #}
    {# <div class="col-md-5  col-md-offset-1">
      <div class="form-group cd-form-group">
        <label for="profile_email">{{'user.fileds.email'|trans}}</label>
        <input type="text" id="profile_email" name="profile[email]" class="form-control" value="{{ profile.email|default('') }}">
        <input class="hidden" type="text" name="profile[isEmailPublic]" value="1"/>
      </div>
    </div> #}

    <div class="col-md-12 no-padding">
      <div class="col-md-12 part-title">
        社区信息
      </div>

      <div class="col-md-5">
        <div class="form-group cd-form-group">
          <label for="profile_company">{{'所在社区'|trans}}</label>
          <input type="text" id="community" name="profile[community]" class="form-control" value="{{ profile.community|default('') }}" data-auto-url="{{ path('fill_userinfo_community_match') }}" placeholder="请输入所在社区全称" data-display="请输入所在社区全称" data-widget-cid="widget-2" data-explain="" autocomplete="off">
        </div>
      </div>

      <div class="col-md-5 col-md-offset-1">
        <div class="form-group cd-form-group">
          <label for="profile_control_room">{{'所在小区'|trans}}</label>
          <input type="text" id="housingEstate" name="profile[housingEstate]" class="form-control" value="{{ profile.housingEstate|default('') }}" data-auto-url="{{ path('fill_userinfo_housing_estate_match') }}" placeholder="请输入所在小区" data-display="请输入所在小区" data-widget-cid="widget-2" data-explain="" autocomplete="off">
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group cd-form-group">
          <label for="profile_company">{{'详细地址'|trans}}</label>
          <input type="text" id="address" name="profile[address]" class="form-control" value="{{ profile.address|default('') }}" data-auto-url="{{ path('fill_userinfo_community_match') }}" placeholder="请输入详细地址" data-display="请输入详细地址" data-widget-cid="widget-2" data-explain="" autocomplete="off">
        </div>
      </div>
    </div>

    {% if fields %}
      {% for field in fields %}
        <div class="
          {% if field.type == "text" %}
            col-md-11
          {% else %}
            col-md-5 {% if loop.index % 2 == 0 %}col-md-offset-1{% endif %}
          {% endif %}">
          <div class="form-group cd-form-group">
            <label for="{{field.fieldName}}">{{field.title}}</label>

            {% if field.type == "text" %}
              <textarea id="{{field.fieldName}}" rows="4" maxlength="80" name="profile[{{field.fieldName}}]" class="form-control">{{ profile[field.fieldName]|default('') }}</textarea>
            {% elseif field.type == "int" %}
              <input type="text" id="{{field.fieldName}}" placeholder="{{'site.validate_rules.max_int'|trans}}" name="profile[{{field.fieldName}}]" class="form-control"  value="{{ profile[field.fieldName]|default('') }}">
            {% elseif field.type == "float" %}
              <input type="text" id="{{field.fieldName}}" placeholder="{{'site.validate_rules.two_decimal_places'|trans}}" name="profile[{{field.fieldName}}]" class="form-control"  value="{{ profile[field.fieldName]|default('') }}">
            {% elseif field.type == "date" %}
              <input type="text" id="{{field.fieldName}}" name="profile[{{field.fieldName}}]" class="js-{{field.type}} form-control" value="{{ profile[field.fieldName]|default('') }}">
            {% elseif field.type == "varchar" %}
              <input type="text" id="{{field.fieldName}}" name="profile[{{field.fieldName}}]" class="form-control" value="{{ profile[field.fieldName]|default('') }}">
            {% endif %}
          </div>
        </div>
      {% endfor %}
    {% endif %}

    <div class="col-md-11">
      <button id="profile-save-btn" data-loading-text="{{'form.btn.save.submiting'|trans}}" type="submit" class="btn cd-btn cd-btn-primary cd-btn-lg">{{'form.btn.save'|trans}}</button>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>
{% endblock %}
