{% extends '@Custom/service-center/layout.html.twig' %}
{% import 'macro.html.twig' as macro %}

{% block title %}{{ '社区文件资料中心' }} - {{ parent() }}{% endblock %}

{% set side_nav = 'community-files-box' %}

{% do script(['custombundle/js/my/file/index.js']) %}

{% block main %}
  <div class="panel panel-default" role="my-teaching-course-sets">
    <div class="panel-heading">
      <strong>社区文件库</strong>
      <div class="pull-right">
        {% if 'COMMUNITY_MANAGE' in app.user.communityRole %}
          <a class="btn btn-info btn-sm pull-right"
             data-toggle="modal" data-target="#modal"
             data-url="{{path('uploader_batch_upload', {token:uploader_token('community', id, 'public')}) }}"
          >
            <i class="glyphicon glyphicon-cloud-upload"></i>{{'上传文件'|trans}}
          </a>
        {% endif %}
      </div>
    </div>
    <div class="panel-body" id="file-manage-panel" data-file-status-url="{{path('course_set_manage_file_status')}}">
      <table class="table table-striped table-hover" id="course-lesson-table">
        <thead>
        <tr>
          <th width="5%"><input type="checkbox"  data-role="batch-select"></th>
          <th width="30%">{{'course.course_files.name'|trans}}</th>
          <th>{{'course.course_files.type'|trans}}</th>
          <th>{{'course.course_files.size'|trans}}</th>
          <th>{{'course.course_files.last_update'|trans}}</th>
          <th>{{'course.course_files.operation'|trans}}</th>
        </tr>
        </thead>
        <tbody>

        {% for uploadFile in files if uploadFile %}
          {% include '@Custom/file-block/tbody-tr.html.twig' %}
        {% else %}
          <tr class="empty"><td colspan="20">{{'course.course_files.empty'|trans}}</td></tr>
        {% endfor %}

        </tbody>
      </table>

      <label class="checkbox-inline mrm mbm"><input type="checkbox" data-role="batch-select"> {{'course.course_files.select_all_btn'|trans}}</label>

      <div class="btn-group mbm">
        <button class="btn btn-default btn-sm" style="margin-right: 20px" data-role="batch-download" data-url="{{ path('my_community_files_batch_download') }}">批量下载</button>
        {% if 'COMMUNITY_MANAGE' in app.user.communityRole %}
          <button class="btn btn-danger btn-sm" data-role="batch-delete" data-url="{{ path('my_community_files_batch_delete') }}" data-name="{{'course.course_files.record'|trans}}">批量删除</button>
        {% endif %}
          {#{% elseif courseSet.type == 'open' or courseSet.type == 'liveOpen' %}#}
          {#<button class="btn btn-danger btn-sm" data-role="batch-delete" data-name="{{'course.course_files.record'|trans}}" data-url="{{ path('open_course_manage_delete_materials_show', {id:courseSet.id, type:tab}) }}">#}
            {#{% endif %}#}
            {#<i class="glyphicon glyphicon-trash"></i>#}
            {#{{'form.btn.remove'|trans}}</button>#}
      </div>

      <nav class="text-center">
        {{ macro.paginator(paginator) }}
      </nav>

    </div>
  </div>
{% endblock %}