{% import "macro.html.twig" as web_macro %}
{% set quality = "" %}
{#{% if courseSet.type in ['open','liveOpen'] %}#}
  {#{% set fileShowUrl = path('open_course_manage_file_show',{id:courseSet.id,fileId:uploadFile.id}) %}#}
  {#{% set convertUrl = path('open_course_manage_file_convert',{id:courseSet.id, fileId:uploadFile.id})%}#}
{#{% else %}#}
  {#{% set fileShowUrl = path('course_set_manage_file_show',{id:courseSet.id,fileId:uploadFile.id}) %}#}
  {#{% set convertUrl = path('course_set_manage_file_convert',{id:courseSet.id, fileId:uploadFile.id})%}#}
{#{% endif %}#}

<tr id="upload-file-tr-{{uploadFile.id}}" data-role="item" data-convertHash="{{uploadFile.convertHash}}">
  <td><input value="{{uploadFile.id}}" type="checkbox" data-role="batch-item" ></td>
  <td>
    <a class="link-dark" href="{{ fileShowUrl|default('') }}" target="_blank" rel="tooltip" title data-original-title="{{ uploadFile.filename }}"  >
      {% if uploadFile.storage == 'cloud' %}
        <i class="glyphicon glyphicon-cloud color-gray" title="{{'course.course_files.cloud_file'|trans}}"></i>
      {% endif %}
      {{ uploadFile.filename|sub_text(30) }}
    </a>
    {% if setting('developer.debug') and uploadFile.storage == 'cloud' and uploadFile.type in ['video', 'ppt', 'document'] %}
      <a href="javascript:;" data-url="{{ convertUrl|default('') }}" class="convert-file-btn ml5">{{'course.course_files.reconvert_btn'|trans}}</a>
    {% endif %}
    <br>
  </td>
  <td>
    {{ dict_text('fileType', uploadFile.type) }}
  </td>
  <td>{{ web_macro.bytesToSize(uploadFile.fileSize) }}</td>
  <td>
    <span class="text-sm">{{ web_macro.user_link(users[uploadFile.updatedUserId]|default(null)) }}</span>
    <br>
    <span class="color-gray text-sm">
      {% if not uploadFile.updatedTime %}
        {{ uploadFile.createdTime|date('Y-n-d H:i')}}
      {% else %}
        {{ uploadFile.updatedTime|date('Y-n-d H:i')}}
      {% endif %}
    </span>
  </td>
  <td>
    {% if uploadFile.storage == "cloud" and uploadFile.type == 'video' %}
      {% if courseSet.type == 'open' %}
        {% set goto = path('open_course_manage_files', {id:courseSet.id}) %}
      {% else %}
        {% set goto = path('course_set_manage_files', {id:courseSet.id}) %}
      {% endif %}
      <a href="{{ path('media_subtitle_manage', {mediaId:uploadFile.id, goto:goto}) }}">{{'course.course_files.subtitle_manage_btn'|trans}}</a>
    {% endif %}
    <div class="btn-group">
    <a class="btn btn-default btn-sm" href="{{ path('my_community_file_download', {id: uploadFile.id}) }}">下载文件</a>
    {% if 'COMMUNITY_MANAGE' in app.user.communityRole %}
      <div class="btn-group" role="group">
        <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a class="js-delete" data-url="{{ path('my_community_file_delete',{id: uploadFile.id}) }}">删除文件</a></li>
        </ul>
      </div>
    {% endif %}
    </div>
  </td>

</tr>
