.course-progress__rank {
  padding: 10px 10px;
  height: 40px;
  background: rgba(255,193,7,0.2);
  font-size: 14px;
  color: #616161;
  .notes {
    font-size: 12px !important;
  }
  .rankNum {
    margin-left: 10px;
    font-size: 16px !important;
    color: #ef6c00;
  }
}

.table {
  .table__head {
    padding: 30px 20px 20px 20px;
    div {
      padding: 0;
      font-size: 14px;
      font-weight: bold;
    }
    .text-center {
      text-align: center;
    }
    .self-md-two-thirds {
      float: left;
      @media (min-width: 992px) {
        width: 12%;
      }
    }
  }
  .table__body {
    .table__item {
      margin-bottom: 10px;
      padding: 30px 20px 20px 20px;
      border-radius: 2px;
      background: #FAFAFA;
      div {
        padding: 0;
        font-size: 14px;
        text-overflow : ellipsis;
        white-space: nowrap;
        overflow: hidden;  
      }
      .text-center {
        text-align: center;
      }
      .self-md-two-thirds {
        float: left;
        @media (min-width: 992px) {
          width: 12%;
        }
      }
      .text-overflow {
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        cursor: pointer;
      }
    }  
  }
}