<li class="media">
  <div class="pull-left">
    <span class="glyphicon glyphicon-volume-down media-object"></span>
  </div>
  <div class="media-body">
    <div class="notification-body">
      {% set data = notification.content %}
      <div>
        您所创建并申请认证的<a href="{{ path('clinic_show',{id: data.clinic.id}) }}">{{ data.clinic.name }}</a>诊所,正在等待认证.
      </div>
    </div>
    <div class="notification-footer">
      {{ notification.createdTime|date_format }}
    </div>
  </div>
</li>
