<li class="media">
  <div class="pull-left">
    <span class="glyphicon glyphicon-volume-down media-object"></span>
  </div>
  <div class="media-body">
    <div class="notification-body">
      {% set data = notification.content %}
      <div>
        您已更新<a href="{{ path('clinic_show',{id: data.clinic.id}) }}">{{ data.clinic.name }}</a>就诊记录.
        {% if data.record is defined %}
          <a href="#modal" data-toggle="modal" data-url="{{ path('reservation_record_show', {id: data.record.id}) }}">{{ 'admin.user.btn.show_btn'|trans }}</a>记录
        {% endif %}
      </div>
    </div>
    <div class="notification-footer">
      {{ notification.createdTime|date_format }}
    </div>
  </div>
</li>
