<li class="media">
  <div class="pull-left">
    <span class="glyphicon glyphicon-volume-down media-object"></span>
  </div>
  <div class="media-body">
    <div class="notification-body">
      {% set data = notification.content %}
      <div>
        {% if data.status is defined %}
        {% if data.status == 'rejected' %}
          您所创建并申请认证的<a href="{{ path('clinic_show',{id: data.clinic.id}) }}">{{ data.clinic.name }}</a>诊所,认证失败。
          <p>原因：<span class="color-danger">{{ data.reason|raw }}</span></p>
        {% elseif data.status == 'approved' %}
          您所创建并申请认证的<a href="{{ path('clinic_show',{id: data.clinic.id}) }}">{{ data.clinic.name }}</a>诊所,认证成功.认证时间{{ data.approveTime|date('Y-m-d h:i') }}
        {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="notification-footer">
      {{ notification.createdTime|date_format }}
    </div>
  </div>
</li>
