<li class="media">
  <div class="pull-left">
    <span class="glyphicon glyphicon-volume-down media-object"></span>
  </div>
  <div class="media-body">
    <div class="notification-body">
      {% set data = notification.content %}
      <div>
        你所在的社区有新活动<a href="{{ path('my_community_activity_show', {id: data.activity.id}) }}">《{{ data.activity.title }}》</a>，活动地址：{{ data.activity.site }}，举办时间{{ data.activity.startTime|date('Y-m-d h:i') }}到{{ data.activity.endTime|date('Y-m-d h:i') }}。
      </div>
    </div>
    <div class="notification-footer">
      {{ notification.createdTime|date_format }}
    </div>
  </div>
</li>
