<li class="media">
  <div class="pull-left">
    <span class="glyphicon glyphicon-volume-down media-object"></span>
  </div>
  <div class="media-body">
    <div class="notification-body">
      {% set data = notification.content %}
      {% if data.score.targetType == 'clinic' %}
        {% set clinic = data('Clinic', {clinicId: data.score.targetId }) %}
        你对诊所<a href="{{ path('clinic_show', {id:data.score.targetId,filter:'score'}) }}">《{{ clinic.name|default(null) }}》</a>评分成功，评分<span class="color-primary">{{ data.score.score }}分</span>。
      {% endif %}
    </div>
    <div class="notification-footer">
      {{ notification.createdTime|date_format }}
    </div>
  </div>
</li>
