{% import 'admin/macro.html.twig' as admin_macro %}
<tr id="housingEstate-table-tr-{{ housingEstate.id }}">
  {% include 'org/parts/table-body-checkbox.html.twig' %}
  <td>
    {{ housingEstate.name }}
  </td>
  {#{% include 'org/parts/table-body-td.html.twig' with {orgCode: user.orgCode}%}#}

  <td>
    {{ housingEstate.address|default('--') }}
  </td>

  <td>
    {% render(controller('CustomBundle:My/HousingEstate:queryCountUser', {province: community.province, city: community.city, district: community.district, community: community.name, housingEstate: housingEstate.name})) %}
  </td>

  <td>
    <div class="btn-group">
      <a href="#modal" data-toggle="modal" data-url="{{ path('my_community_show_housingestate', {id:housingEstate.id}) }}" class="btn btn-default btn-sm">{{ '查看'|trans }}</a>
    </div>
  </td>
</tr>

