{% extends '@Custom/my/layout.html.twig' %}
{% import 'macro.html.twig' as macro %}

{% block title %}{{ '社区小区管理' }} - {{ parent() }}{% endblock %}

{% set side_nav = 'my-community-housing-estate-manage' %}

{% block main %}
  <div class="panel panel-default" role="my-teaching-course-sets">
    <div class="panel-heading">
      <strong>小区管理</strong>
    </div>
    <div class="panel-body">
      <form id="housing-estate-search-form" class="form-inline well well-sm" action="" method="get" novalidate>
      <div class="mbm">
        <div class="form-group">
          <select id="keywordType" name="keywordType" class="form-control">
            {{ select_options(dict('myCommunityHousingEstate'), app.request.query.get('keywordType') ? app.request.query.get('keywordType') : 'housingEstateName') }}
          </select>
        </div>

        <div class="form-group">
          <input type="text" id="keyword" name="keyword" class="form-control" value="{{ app.request.query.get('keyword') }}"
                 placeholder="{{ 'admin.user.form.input_placeholder.keyword'|trans }}">
        </div>

        <button class="btn btn-primary">{{ 'admin.user.form.btn.search_submit_btn'|trans }}</button>
      </div>
    </form>

    <table id="user-table" class="table table-striped table-hover" data-search-form="#housing-estate-search-form">
      <thead>
      <tr>
        {% if setting('magic.enable_org','0') %}
          <th><input type="checkbox"  data-role="batch-select"></th>
        {% endif %}
        <th>小区名称</th>
        {% include 'org/parts/table-thead-tr.html.twig' %}
        <th>详细地址</th>
        <th>人数</th>
        <th width="15%">{{ 'admin.user.fields.operation_label'|trans }}</th>
      </tr>
      </thead>
      <tbody>
      <p class="text-muted">
        <span class="mrl">{{ '小区总数'|trans }}<strong class="inflow-num color-primary">{{ housingEstateCount }}</strong></span>
      </p>
      {% if housingEstates %}
      {% for housingEstate in housingEstates %}
        {% include '@Custom/my/housing-estate/housing-estate-table-tr.html.twig' with {housingEstate:housingEstate, community:community} %}
      {% endfor %}
      {% else %}
        <tr><td colspan="20"><div class="empty">{{'site.datagrid.empty'|trans}}</div></td></tr>
      {% endif %}
      </tbody>
    </table>

    {% include 'org/org-tree-select.html.twig' with {orgCode: app.request.get('orgCode'), modal: 'list'} %}
    {{ macro.paginator(paginator) }}
  </div>
  </div>
{% endblock %}