.mt40 {
  margin-top: 34px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.ml6 {
  margin-left: 6px;
}

.ml10 {
  margin-left: 10px;
}

.ml30 {
  margin-left: 30px;
}

.mt20 {
  margin-top: 20px !important;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb80 {
  margin-bottom: 80px;
}

.mr5 {
  margin-right: 10px;
}

.mr30 {
  margin-right: 30px;
}

.mtb60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.ml40 {
  margin-left: 40px;
}

.lh48 {
  line-height: 48px !important;
}

.w-6 {
  width: 6%;
}

.w-7 {
  width: 7%;
}

.w-8 {
  width: 8%;
}

.w-9 {
  width: 9%;
}

.w-10 {
  width: 10%;
}

.w-11 {
  width: 11%;
}

.w-12 {
  width: 12%;
}

.w-9 {
  width: 9%;
}

.w-13 {
  width: 13%;
}

.w-14 {
  width: 14%;
}

.w-15 {
  width: 15%;
}

.w-16 {
  width: 16%;
}

.w-19 {
  width: 19%;
}

.tac {
  text-align: center !important;
}

.tal {
  text-align: left !important;
}

.fontB {
  font-weight: bold;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.ml30 {
  margin-left: 30px;
}

.no-padding {
  padding: 0 !important;
}

.inline-block {
  display: inline-block !important;
}

.rotateAnimate() {
  @keyframes rotateAction {
    0%   { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
  }
  @-webkit-keyframes rotateAction {
    0%   { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
  }
  @-o-keyframes rotateAction {
    0%   { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
  }
  @-moz-keyframes rotateAction {
    0%   { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
  }
  animation: rotateAction 800ms infinite linear;
}