{% extends '@Custom/my/layout.html.twig' %}
{% import 'macro.html.twig' as macro %}

{% block title %}
  {% if filter == 'clinic' %}
    诊所
  {% endif %}
  - {{ parent() }}
{% endblock %}

{% block content %}
  <div class="hidden-xs">
    <div class="tabs-wrapper options-menu pc-explore">
      <div class="options-menu__list js-category-list clearfix  ">
        <div>热门标签：</div>
        <ul class="cmfs-first-menu" id="periphery-nav">
          <li class="selected mrl"><a>诊所</a></li>
          {#<li class="  mrl"><a>商场</a></li>#}
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default col-md-3" >
    <div class="panel-heading">
    </div>
    <div class="panel-body">
      <div class="">
        {% include '@Custom/community-periphery/search-form.html.twig' %}

        <div id='result-lists' data-default-url='{{ path('community_periphery') }}'>
          {% if filter == 'clinic' %}
            {% include '@Custom/community-periphery/clinic/tab-list.html.twig' %}
          {% endif %}

          {{ macro.paginator(paginator) }}
        </div>
      </div>
    </div>
  </div>

  {% include '@Custom/community-periphery/map.html.twig' %}

{% endblock %}