<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=7PpjbttnTlhmeNkVgQqevlm85GkvLjqQ"></script>

{% do script('custombundle/js/map/index.js') %}

<div class="panel panel-default col-md-9" >
  <div class="panel-heading">
    地图预览
  </div>
  <div class="panel-body">
    <div class="es-piece">
      <div class="piece-header">{{ '使用说明'|trans }}</div>
      <div class="piece-body p-lg clearfix">
        地图会根据当前选择显示出坐标地址,或详细信息.
        初始化显示为社区所在地址
      </div>
    </div>

    <div class="es-piece">
      <div class="piece-header">{{ '地图展示'|trans }}</div>
      <div class="piece-body p-lg clearfix" id="baiduMap" name="baiduMap" style="height: 600px">

      </div>
    </div>
  </div>
</div>