<form id="search-form" class="form-inline well well-sm" action="
  {% if filter == 'clinic' %}
    {{ path('community_periphery',{filter:filter}) }}
  {% endif %}">
  <div class="mbm">
    <div class="form-group">
      <div class="row">
        <select id="type-choose" class="form-control">
          <option value="local">本地</option>
          <option value="nolocal">非本地</option>
        </select>
        {#<select id="communityLimit" name="communityLimit" class="form-control">#}
          {#<option value="1" {% if app.request.query.get('communityLimit') == '1' %}selected{% endif %}>社区内</option>#}
          {#<option value="0" {% if app.request.query.get('communityLimit') == '0' %}selected{% endif %}>不限社区</option>#}
        {#</select>#}
      </div>
    </div>
  </div>
  <div class="mbm">
    <div class="form-group">
      <div class="row">
        <input type="text" id="keyword" name="keyword" class="form-control"
               value="{{ keyword }}"
               placeholder="{{ '关键字'|trans }}">
        <button class="btn btn-sm btn-primary" type="submit" id="search-on-map"
                data-loading-text="请稍等...">{{ 'admin.user.form.btn.search_submit_btn'|trans }}</button>
      </div>
    </div>
  </div>
</form>