<tr id="community-table-tr-{{ clinic.id }}">
  {% include 'org/parts/table-body-checkbox.html.twig' %}
  <td>
    <strong><a class="link-dark" target="_blank" href="{{ path('clinic_show', {filter: 'base', id: clinic.id}) }}">
        <span class="">{{ clinic.name }}</span>
      </a></strong>
  </td>
  {#{% include 'org/parts/table-body-td.html.twig' with {orgCode: user.orgCode}%}#}
  <td>
    {{ clinic.email|default('--') }}
  </td>

  <td>
    {{ clinic.phone|default('--') }}
  </td>

  <td>
    {{ dict_text('clinicStatus', clinic.status) }}
  </td>

  <td>
    {{ clinic.address }}
  </td>

  <td>
    <div class="btn-group">
      <a href="{{ path('clinic_show', {filter: 'base', id:clinic.id}) }}" target="_blank" class="btn btn-default btn-sm">{{ 'admin.user.btn.show_btn'|trans }}
      </a>
      <div class="btn-group" role="group">
        <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li></li>
        </ul>
      </div>
    </div>
  </td>
</tr>

