{% extends 'my/layout.html.twig' %}

{% import 'macro.html.twig' as macro %}

{% block title %}{{ '社区诊所管理' }} - {{ parent() }}{% endblock %}

{% set side_nav = 'my-community-clinic-manage' %}

{% set page = 'clinic-manage' %}

{% do script('')%}

{% block main %}
  {{ web_macro.flash_messages() }}

  <div class="panel panel-default" role="my-teaching-course-sets">
    <div class="panel-heading">
      <strong>社区诊所管理</strong>
    </div>
    <div class="panel-body">
      {% include '@Custom/my/clinic/tab.html.twig' %}
      <form id="clinic-search-form" class="form-inline well well-sm" action="" method="get" novalidate>
        <div class="mbm">
          <div class="form-group">
            <select id="keywordType" name="keywordType" class="form-control">
              {{ select_options(dict('clinicKeywordType'), app.request.query.get('keywordType') ? app.request.query.get('keywordType') : 'name') }}
            </select>
          </div>

          <div class="form-group">
            <input type="text" id="keyword" name="keyword" class="form-control" value="{{ app.request.query.get('keyword') }}"
                   placeholder="{{ 'admin.user.form.input_placeholder.keyword'|trans }}">
          </div>

          <div class="form-group">
            <select id="status" name="status" class="form-control">
              {{ select_options(dict('clinicStatus'), app.request.query.get('status')|default(''), '认证状态') }}
            </select>
          </div>

          <button class="btn btn-primary">{{ 'admin.user.form.btn.search_submit_btn'|trans }}</button>

        </div>
      </form>

      <table id="user-table" class="table table-striped table-hover" data-search-form="#user-search-form">
        <thead>
        <tr>
          {% if setting('magic.enable_org','0') %}
            <th><input type="checkbox"  data-role="batch-select"></th>
          {% endif %}
          <th>名称</th>
          <th>服务邮箱</th>
          <th>服务电话</th>
          <th>认证状态</th>
          <th>详细地址</th>
          <th width="10%">{{ 'admin.user.fields.operation_label'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        <p class="text-muted">
          <span class="mrl">{{ '诊所总数'|trans }}<strong class="inflow-num color-primary">{{ clinicCount }}</strong></span>
        </p>
        {% if clinics %}
        {% for clinic in clinics %}
          {% include '@Custom/my/clinic/clinic-table-tr.html.twig' with {clinic:clinic, community:communities[clinic.communityId]} %}
        {% endfor %}
        {% else %}
          <tr><td colspan="20"><div class="empty">{{'site.datagrid.empty'|trans}}</div></td></tr>
        {% endif %}
        </tbody>
      </table>

      {% include 'org/org-tree-select.html.twig' with {orgCode: app.request.get('orgCode'), modal: 'list'} %}
      {{ macro.paginator(paginator) }}
    </div>
  </div>

{% endblock %}