<div class="btn-group mb5">
  <a href=" {{ path('my_community_clinic_manage') }}" type="button" class="btn btn-default btn-sm {% if page == 'clinic-manage'%}btn-primary{% endif %}">{{ '诊所管理'|trans }}</a>

  <a href=" {{ path('my_community_clinic_reservation_record_manage') }}" type="button" class="btn btn-default btn-sm {% if page == 'clinic-record' %}btn-primary{% endif %}">{{ '诊所记录' }}</a>
</div>