{% do script(['app/js/default/header/index.js']) %}

<header class="es-header navbar">
  <div class="navbar-header">
    <div class="visible-xs  navbar-mobile">
      <a href="javascript:;" class="navbar-more js-navbar-more">
        <i class="es-icon es-icon-menu"></i>
      </a>
      <div class="html-mask"></div>
      <div class="nav-mobile">
        <form class="navbar-form" action="{{ path('search') }}" method="get">
          <div class="form-group">
            <input class="form-control" placeholder="{{'homepage.header.search'|trans}}" name="q">
            <button class="button es-icon es-icon-search"></button>
          </div>
        </form>

        <ul class="nav navbar-nav">
          {% set navigations = data('NavigationsTree', {}) %}
          {% include 'default/top-navigation.html.twig' with {navigations: navigations,siteNav: siteNav|default(null), isMobile: true} %}
        </ul>
      </div>
    </div>
    <div class="M_header-back js-back">
      <a><i class="es-icon es-icon-chevronleft"></i></a>
    </div>
    <a href="{{ path('homepage') }}" class="navbar-brand">
      {% if setting('site.logo') %}
        <img src="{{ filepath('../' ~ setting('site.logo'),'') }}">
      {% else %}
        {{ setting('site.name', 'EDUSOHO') }}
      {% endif %}
    </a>
  </div>
  <nav class="collapse navbar-collapse">
    <ul class="nav navbar-nav clearfix hidden-xs " id="nav">
      {% include 'default/top-navigation.html.twig' with {navigations: navigations,siteNav: siteNav|default(null), isMobile: false} %}
    </ul>
    <div class="navbar-user {% if setting('esBar.enabled', 0) %} left {% endif %}">
      <ul class="nav user-nav">
        {% if app.user %}
          <li class="user-avatar-li nav-hover">
            <a href="javascript:;" class="dropdown-toggle">
              <img class="avatar-xs" src="{{ filepath(app.user.smallAvatar, 'avatar.png') }}">
            </a>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation" class="dropdown-header">{{ app.user.nickname }}</li>
              <li><a href="{{ path('user_show', {id:app.user.id}) }}"><i class="es-icon es-icon-person"></i>{{'homepage.header.personal_menu'|trans}}</a></li>
              <li><a href="{{ path('settings') }}"><i class="es-icon es-icon-setting"></i>{{'homepage.header.settings_menu'|trans}}</a></li>
              <li class="hidden-lg user-nav-li-my">
                <a href="{{ path('my') }}">
                  <i class="es-icon es-icon-eventnote"></i>{% if 'ROLE_TEACHER' in app.user.roles %}{{'homepage.header.my_teaching_menu'|trans}}{% else %}{{'我的社区'|trans}}{% endif %}
                </a>
              </li>
              {#<li><a href="{{path('my_orders')}}"><i class="es-icon es-icon-accountwallet"></i>{{'homepage.header.account_menu'|trans}}</a></li>#}

              {% if has_permission('admin') %}<li><a href="{{ path('admin') }}"><i class="es-icon es-icon-dashboard"></i>{{'homepage.header.admin_menu'|trans}}</a></li>
              {% endif %}

              <li class="hidden-lg"><a href="{{ path('notification') }}"><span class="pull-right num">{% if app.user.newNotificationNum > 0 %}{{ app.user.newNotificationNum }}{% endif %}</span><i class="es-icon es-icon-notificationson"></i>{{'homepage.header.notice'|trans}}</a></li>
              <li class="hidden-lg"><a href="{{ path('message') }}"><span class="pull-right num">{% if app.user.newMessageNum > 0 %}{{ app.user.newMessageNum }}{% endif %}</span><i class="es-icon es-icon-mail"></i>{{'homepage.header.message'|trans}}</a></li>
              {% if mobile %}
                <li class="mobile-switch js-switch-pc visible-xs"><a href="javascript:;">
                    <i class="es-icon es-icon-qiehuan"></i>{{'homepage.header.switch_pc'|trans}}</a></li>
              {% elseif setting('wap.enabled') == 1  %}
                <li class="mobile-switch js-switch-mobile visible-xs"><a href="javascript:;">
                    <i class="es-icon es-icon-qiehuan"></i>{{'homepage.header.switch_mobile'|trans}}</a>
                </li>
              {% endif %}
              <li class="user-nav-li-logout"><a href="{{ path('logout') }}"><i class="es-icon es-icon-power"></i>{{'homepage.header.logout'|trans}}</a></li>
            </ul>
          </li>
          <li class="visible-lg">
            <a href="{{ path('my') }}">
              {#{% if 'ROLE_TEACHER' in app.user.roles %}#}
                {#{{'homepage.header.my_course'|trans}}#}
              {#{% else %}#}
                {#{{'homepage.header.my_learning'|trans}}#}
              {#{% endif %}#}
              {{ '我的社区' }}
            </a>
          </li>
          <li class="visible-lg nav-hover">
            {% if setting('esBar.enabled', 0) and app.user.newMessageNum > 0 %}
              <a class="hasmessage"><i class="es-icon es-icon-mail"></i><span class="dot"></span></a>
            {% elseif ( not setting('esBar.enabled', 0)) and ( app.user.newNotificationNum > 0 or app.user.newMessageNum > 0) %}
              <a class="hasmessage"><i class="es-icon es-icon-mail"></i><span class="dot"></span></a>
            {% else %}
              <a><i class="es-icon es-icon-mail"></i></a>
            {% endif %}

            <ul class="dropdown-menu" role="menu">
              {% if not setting('esBar.enabled', 0) %}
                <li>
                  <a href="{{ path('notification') }}">
                    <span class="pull-right num">{% if app.user.newNotificationNum > 0 %}{{ app.user.newNotificationNum }}{% endif %}</span>
                    <i class="es-icon es-icon-notificationson"></i>{{'notification.user_notification'|trans}}
                  </a>
                </li>
              {% endif %}
              <li>
                <a href="{{ path('message') }}">
                  <span class="pull-right num">{% if app.user.newMessageNum > 0 %}{{ app.user.newMessageNum }}{% endif %}</span>
                  <i class="es-icon es-icon-mail"></i>{{'user.btn.send_message'|trans}}
                </a>
              </li>
            </ul>
          </li>
        {% else %}
          <li class="user-avatar-li nav-hover visible-xs">
            <a href="javascript:;" class="dropdown-toggle">
              <img class="avatar-xs" src="{{ asset('assets/img/default/avatar.png') }}">
            </a>
            <ul class="dropdown-menu" role="menu">
              <li class="user-nav-li-login">
                <a href="{{ path('login', {goto:_target_path|default(app.request.server.get('REQUEST_URI'))}) }}">
                  <i class="es-icon es-icon-denglu"></i>{{'homepage.header.login'|trans}}
                </a>
              </li>
              <li class="user-nav-li-register">
                <a href="{{ path('register', {goto:_target_path|default(app.request.server.get('REQUEST_URI'))}) }}">
                  <i class="es-icon es-icon-zhuce"></i>{{'homepage.header.register'|trans}}
                </a>
              </li>
              {% if mobile %}
                <li class="mobile-switch js-switch-pc"><a href="javascript:;">
                    <i class="es-icon es-icon-qiehuan"></i>{{'homepage.header.switch_pc'|trans}}</a>
                </li>
              {% elseif setting('wap.enabled') == 1  %}
                <li class="mobile-switch js-switch-mobile"><a href="javascript:;">
                    <i class="es-icon es-icon-qiehuan"></i>{{'homepage.header.switch_mobile'|trans}}</a>
                </li>
              {% endif %}
            </ul>
          </li>
          <li class="hidden-xs"><a href="{{ path('login', {goto:_target_path|default(app.request.server.get('REQUEST_URI'))}) }}">{{'homepage.header.login'|trans}}</a></li>
          <li class="hidden-xs"><a href="{{ path('register', {goto:_target_path|default(app.request.server.get('REQUEST_URI'))}) }}">{{'homepage.header.register'|trans}}</a></li>
        {% endif %}
        {#{% include 'default/switch-language.html.twig' %}#}
      </ul>
      <form class="navbar-form navbar-right hidden-xs hidden-sm" action="{{ path('search') }}" method="get">
        <div class="form-group">
          <input class="form-control js-search" value="{{ app.request.get('q')|default() }}" name="q" placeholder="{{'homepage.header.search'|trans}}">
          <button class="button es-icon es-icon-search"></button>
        </div>
      </form>
    </div>
  </nav>
</header>