{% extends 'default/base-index.html.twig' %}
{% do script(['libs/echo-js.js', 'app/js/index/index.js']) %}

{% block content %}
  {% set currentTheme = current_theme() %}
  {% set themeConfig = isEditColor|default(false) ? currentTheme.config : currentTheme.confirmConfig %}
  {% set allConfig = currentTheme.allConfig %}

  {% cache 'jianmo/home/top/banner' 600 %}
  {{ block_show('jianmo:home_top_banner') }}
  {% endcache %}

  <div class="container">
    <div class="text-line">
      <h5>资讯新闻</h5>
      {{ render(controller('CustomBundle:Article:defaultIndexBlock')) }}
    </div>
  </div>

  {% for config in themeConfig.blocks.left|default([]) %}

    {% set code = config.code %}
    {% if config.sortName|default('') == 'recommended' and code == 'category-course' %}
      {% set code = 'recommend-course' %}
    {% endif %}

    {% set category = config.categoryId|default(0) ? data('Category', {categoryId: config.categoryId})  : null %}
    {% if code == 'friend-link' %}
      {% include 'default/' ~ code ~ '.html.twig' with {friendlyLinks:friendlyLinks} %}
    {% elseif code != 'footer-link' %}
      {% if code != 'course-grid-with-condition-index' %}
        {% cache 'jianmo/default/' ~ code 600 %}
        {% include 'default/' ~ code ~ '.html.twig' with {config:config, category: category} %}
        {% endcache %}
      {% else %}
        {% include 'default/' ~ code ~ '.html.twig' with {config:config, category: category} %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endblock %}