{% import 'admin/macro.html.twig' as admin_macro %}
<tr id="property-table-tr-{{ property.id }}">
  {% include 'org/parts/table-body-checkbox.html.twig' %}
  <td>
    {{ property.name }}
  </td>
  {#{% include 'org/parts/table-body-td.html.twig' with {orgCode: user.orgCode}%}#}

  <td>
    {{ housingEstate.name }}
  </td>

  <td>
    {{ property.servicePhone|default('--') }}
  </td>

  <td>
    <div class="btn-group">
      <a href="#modal" data-toggle="modal" data-url="{{ path('my_community_show_property', {id:property.id}) }}" data-url="" class="btn btn-default btn-sm">{{ '查看'|trans }}</a>
    </div>
  </td>
</tr>

