{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% block title %}{{ '小区物业公司信息查看'|trans }}{% endblock %}

{% block body %}
  <table class="table table-striped table-condenseda table-bordered">
    <tr>
      <th width="25%">{{ '名称'|trans }}</th>
      <td width="75%">
        {{ property.name }}
      </td>
    </tr>
    <tr>
      <th>{{ '服务电话' }}</th>
      <td>{{ property.servicePhone }}</td>
    </tr>
    <tr>
      <th>{{ '地区' }}</th>
      <td>{{ community.province }}-{{ community.city }}-{{ community.district }}</td>
    </tr>
    <tr>
      <th>所在社区</th>
      <td>{{ community.name }}</td>
    </tr>
    <tr>
      <th>服务小区</th>
      <td>{{ housingEstate.name|default('--') }}</td>
    </tr>
    <tr>
      <th>进驻时间</th>
      <td>{{ property.arrivalTime|date('Y-m-d') }}</td>
    </tr>
    <tr>
      <th>服务到期时间</th>
      <td>{{ property.expiryTime|date('Y-m-d') }}</td>
    </tr>
    <tr>
      <th>小区人数</th>
      <td>{% render(controller('CustomBundle:Admin/HousingEstate:queryCountUser', {province: community.province, city: community.city, district: community.district, community: community.name, housingEstate: housingEstate.name})) %}</td>
    </tr>
    <tr>
      <th>物业管理人员</th>
      <td>
        {% for director in directors %}
          {{ director.nickname }}
          {% if not loop.last %}
            、
          {% endif %}
        {% else %}
          --
        {% endfor %}
      </td>
    </tr>
  </table>
{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'form.btn.close'|trans }}</button>
{% endblock %}
